4.1. Startup anonymization.json
{
  "name": "4.1. Startup anonymization",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1VcbInjtVn7JXiWO2UL1pdS0wvJSd7nww",
          "mode": "id"
        },
        "event": "folderUpdated"
      },
      "id": "3c5e4b1c-4934-4d4b-bfdf-528ecbaa9da2",
      "name": "Accepted Folder Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1840,
        -32
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7so2tXpLj0uaQdP7",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "17DNgwE0nbT9aItGzpKIiiUMf2H_bQkdR",
          "mode": "id"
        },
        "event": "folderCreated"
      },
      "id": "3319304e-ff25-46f0-93b1-e3d952282f1e",
      "name": "Rejected Folder Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1840,
        176
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7so2tXpLj0uaQdP7",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "ACCEPTED"
            }
          ]
        },
        "options": {}
      },
      "id": "b1f8d4f3-8e81-4a62-8dbd-069f62857161",
      "name": "Set Accepted Status",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1648,
        -32
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "REJECTED"
            }
          ]
        },
        "options": {}
      },
      "id": "4700670e-7d97-4706-8edc-6381ddbf599b",
      "name": "Set Rejected Status",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1648,
        176
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "Main Folder ID",
              "stringValue": "={{ $json.parents[0] }}"
            },
            {
              "name": "Status",
              "stringValue": "={{ $json.status }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cbc60eeb-30e4-44d2-b75f-4e940a875a7c",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -1440,
        80
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "='{{ $json['STARTUP ID'] }}' in parents",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "id": "1d5bf389-059f-45a1-964d-28b476dc5299",
      "name": "Search startup folders",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -608,
        80
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7so2tXpLj0uaQdP7",
          "name": "Google Drive account - YAngel"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "='{{$json.id}}' in parents",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "id": "5ce52ff9-ccf5-4e38-a983-8d357d84df39",
      "name": "Search files inside startup folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -432,
        352
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7so2tXpLj0uaQdP7",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5623ae61-2244-4806-9b3d-6e3d02e5fd18",
      "name": "Loop Over Folder Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -400,
        80
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.id }}",
        "options": {}
      },
      "id": "cd94d682-bd59-4141-85bb-e0b83285d9a9",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -144,
        80
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7so2tXpLj0uaQdP7",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "999e0fe9-0929-48c8-87a6-ba74f8424642",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        80,
        80
      ],
      "webhookId": "33d1d076-10f4-453b-ac5f-f1a84bb42e9a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyA6I6Y2qi00NrL5OjX3jUrzfbCbZG_RXsU",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": {{ JSON.stringify(\"Take your time to fulfill this request as this is extremely important. You will anonymize the following text. Replace all personal names, specific locations, and contact information with generic placeholders like STARTP_NAME, STARTUP_EMAIL, STARTUP_WEBSITE, CO-FOUNDER_NAME, CO-FOUNDER_EMAIL, etc. Keep the information of regions and locations. Make sure to only output the request that I made. Do not, I repeat, do not add anything else in the beginning or in the end of the output I requested:\\n\\n\" + $json.data) }}\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "0b6e3dd1-6797-4338-8520-2b43beb002da",
      "name": "Send PDF to Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1024,
        112
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem"
      },
      "id": "32d3c40c-962f-4f9c-a915-c11e9546dac4",
      "name": "Convert DOCX",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        -256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"contents\":[{\"parts\":[{\"text\":\"Extract and anonymize startup and founder names\"},{\"text\":\"{{$json.text}}\"}]}]}",
        "options": {}
      },
      "id": "962d2720-d3ca-4a2b-a822-8ead62eb5e78",
      "name": "Send DOCX to Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1200,
        -544
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return [{ json: { anonymized: $json.candidates?.[0]?.content?.parts?.[0]?.text || '' } }];"
      },
      "id": "baba734f-3b0c-4dc3-9a92-a9a103a0cc11",
      "name": "Parse Gemini Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        -416
      ]
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "id": "8f8810a2-c176-46ec-bb1e-fff0bd77b578",
      "name": "Upload Anonymized File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1552,
        -416
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7so2tXpLj0uaQdP7",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1JqSYwcC5x-J69QbvikM9-KvGL5tG3GYvloLa8Wp-hEA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Index",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JqSYwcC5x-J69QbvikM9-KvGL5tG3GYvloLa8Wp-hEA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "STARTUP ID": "={{ $('Edit Fields').item.json.id }}",
            "STARTUP NAME": "={{ $('Edit Fields').item.json.name }}",
            "STATUS": "={{ $('Edit Fields').item.json.status }}"
          },
          "matchingColumns": [
            "STARTUP ID"
          ],
          "schema": [
            {
              "id": "STARTUP NAME",
              "displayName": "STARTUP NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "STARTUP ID",
              "displayName": "STARTUP ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -848,
        80
      ],
      "id": "020a92be-32d5-4ffa-a322-4573b8ab660c",
      "name": "Add new startup to the index",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zVx8W8ysVJvIirQR",
          "name": "Google Sheets YAngel Account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1JqSYwcC5x-J69QbvikM9-KvGL5tG3GYvloLa8Wp-hEA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Index",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JqSYwcC5x-J69QbvikM9-KvGL5tG3GYvloLa8Wp-hEA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "STARTUP ID",
              "lookupValue": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1264,
        80
      ],
      "id": "f40a3105-bf36-437a-aac9-7813d8dad91d",
      "name": "Search startup on index",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zVx8W8ysVJvIirQR",
          "name": "Google Sheets YAngel Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cd320178-624c-47d9-9a0e-a20687377317",
              "leftValue": "={{ $json['STARTUP ID'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1072,
        80
      ],
      "id": "44890c61-85ef-452a-849f-1438c44a46a3",
      "name": "Check if startup not processed yet"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $binary.data.fileExtension }}",
                    "rightValue": "docx",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "dc2f00d0-0b3a-497a-953b-e260e47a12cd"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "docx"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "37165896-97a5-4516-a86f-8303ab0d88c9",
                    "leftValue": "={{ $binary.data.fileExtension }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        288,
        80
      ],
      "id": "1c60f30d-61b1-4262-be1e-69181495ded9",
      "name": "File type"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        576,
        32
      ],
      "id": "882626ee-8be7-4031-8fcf-62bef2901a9f",
      "name": "Convert docx to txt",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7so2tXpLj0uaQdP7",
          "name": "Google Drive account - YAngel"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        784,
        112
      ],
      "id": "dde788e6-e3c7-421d-83a7-3d7dfc47afbe",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "candidates[0].content.parts[0].text",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1232,
        112
      ],
      "id": "8da13850-92d6-4c96-9446-bc28381b4f8e",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        576,
        208
      ],
      "id": "84e926be-4b60-4143-8193-ae786da1fecf",
      "name": "Convert pdf to txt",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7so2tXpLj0uaQdP7",
          "name": "Google Drive account - YAngel"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Add new startup to the index').item.json.STATUS }}",
                    "rightValue": "ACCEPTED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1704f69e-f464-4027-b69f-0060bb418108"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "accepted"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "17cee059-eeb6-4cc6-8dad-5e52b68b4310",
                    "leftValue": "={{ $('Add new startup to the index').item.json.STATUS }}",
                    "rightValue": "REJECTED",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "rejected"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1440,
        112
      ],
      "id": "67360fd0-eb84-4dd7-800c-6fb543670b6b",
      "name": "Add accepted or rejected"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Add new startup to the index').item.json['STARTUP ID'] }}",
        "driveId": {
          "__rl": true,
          "value": "1wEUqOojpTZQQy7CkxPVx37t60kPMprNY",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1728,
        64
      ],
      "id": "f3371e04-7814-4390-bdd9-b83c2dd7dc56",
      "name": "Create accepted folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7so2tXpLj0uaQdP7",
          "name": "Google Drive account - YAngel"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Add new startup to the index').item.json['STARTUP ID'] }}",
        "driveId": {
          "__rl": true,
          "value": "1GeZVDSS2gCom0Ah4oLFdwmwfFQ4_vxlY",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1728,
        208
      ],
      "id": "daa89ccb-7169-41cc-a3ca-8d64b66eacd4",
      "name": "Create rejected folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7so2tXpLj0uaQdP7",
          "name": "Google Drive account - YAngel"
        }
      }
    },
    {
      "parameters": {
        "content": "## Continue by uploading the anonymized output of the original folder to the output folder.",
        "height": 240
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1824,
        -304
      ],
      "typeVersion": 1,
      "id": "e3d7a838-a72f-4a36-897b-9d27aacce1ef",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Accepted Folder Trigger": {
      "main": [
        [
          {
            "node": "Set Accepted Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rejected Folder Trigger": {
      "main": [
        [
          {
            "node": "Set Rejected Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Accepted Status": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Rejected Status": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Search startup on index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search startup folders": {
      "main": [
        [
          {
            "node": "Loop Over Folder Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files inside startup folder": {
      "main": [
        []
      ]
    },
    "Loop Over Folder Items": {
      "main": [
        [],
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "File type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send PDF to Gemini": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert DOCX": {
      "main": [
        [
          {
            "node": "Send DOCX to Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send DOCX to Gemini": {
      "main": [
        [
          {
            "node": "Parse Gemini Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini Response": {
      "main": [
        [
          {
            "node": "Upload Anonymized File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add new startup to the index": {
      "main": [
        [
          {
            "node": "Search startup folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search startup on index": {
      "main": [
        [
          {
            "node": "Check if startup not processed yet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if startup not processed yet": {
      "main": [
        [
          {
            "node": "Add new startup to the index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File type": {
      "main": [
        [
          {
            "node": "Convert docx to txt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert pdf to txt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert docx to txt": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Send PDF to Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert pdf to txt": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Add accepted or rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add accepted or rejected": {
      "main": [
        [
          {
            "node": "Create accepted folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create rejected folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b8ea76df-fb41-4d4e-9c48-6c92044bd065",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a5a00baa12a85b9086302f700a603aad89b3f2a6035d43cbd514404a64493513"
  },
  "id": "e38Nxtf8VYugkXxy",
  "tags": []
}