5.1. Communication panel - Incubators.json
{
  "name": "5.1. Communication panel - Incubators",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": "={{ 14 - 5 }}",
              "triggerAtMinute": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2256,
        304
      ],
      "id": "42f238f1-ccdb-44d1-997b-2eb796955b10",
      "name": "Schedule Trigger - Check switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "01f30c0f-ac74-413f-b135-1c9198a7f94d",
              "leftValue": "={{ $json.VALUE }}",
              "rightValue": "ON",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1936,
        304
      ],
      "id": "4a34c0c9-8c47-4f93-a0fb-7b9516cfc047",
      "name": "Is switch on?"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1J7R7wlVGsE2LiixslhNZrvemlklxPzuWr0Od_Ngf9Ls",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 808711158,
          "mode": "list",
          "cachedResultName": "Admin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J7R7wlVGsE2LiixslhNZrvemlklxPzuWr0Od_Ngf9Ls/edit#gid=808711158"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -2096,
        304
      ],
      "id": "ff8eeb42-6bff-43cd-93d4-a6f3b4df8b93",
      "name": "Get switch status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zVx8W8ysVJvIirQR",
          "name": "Google Sheets YAngel Account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1J7R7wlVGsE2LiixslhNZrvemlklxPzuWr0Od_Ngf9Ls",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 808711158,
          "mode": "list",
          "cachedResultName": "Admin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J7R7wlVGsE2LiixslhNZrvemlklxPzuWr0Od_Ngf9Ls/edit#gid=808711158"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1728,
        304
      ],
      "id": "354ec1d4-16a3-47e0-ae1e-2d64dc0f1aca",
      "name": "Get variables values",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zVx8W8ysVJvIirQR",
          "name": "Google Sheets YAngel Account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1J7R7wlVGsE2LiixslhNZrvemlklxPzuWr0Od_Ngf9Ls",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Recipients Out",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J7R7wlVGsE2LiixslhNZrvemlklxPzuWr0Od_Ngf9Ls/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1360,
        304
      ],
      "id": "4e0fa638-dbd0-4b34-8428-290bb6a1e77d",
      "name": "Get emails to send reminders",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zVx8W8ysVJvIirQR",
          "name": "Google Sheets YAngel Account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "specifiedFields",
        "fieldsToInclude": "VARIABLES, VALUE",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1536,
        304
      ],
      "id": "e120554b-66ec-4214-b010-155b398de7b9",
      "name": "Aggregate variables values"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1J7R7wlVGsE2LiixslhNZrvemlklxPzuWr0Od_Ngf9Ls",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 808711158,
          "mode": "list",
          "cachedResultName": "Admin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J7R7wlVGsE2LiixslhNZrvemlklxPzuWr0Od_Ngf9Ls/edit#gid=808711158"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "VALUE": "={{    new Date($now).toLocaleString('en-GB', {     day: '2-digit',     month: 'short',     year: 'numeric',     hour: '2-digit',     minute: '2-digit',     hour12: false   }) }}",
            "VARIABLES": "LAST_AUTOMATION_RUN"
          },
          "matchingColumns": [
            "VARIABLES"
          ],
          "schema": [
            {
              "id": "VARIABLES",
              "displayName": "VARIABLES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "VALUE",
              "displayName": "VALUE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DESCRIPTION",
              "displayName": "DESCRIPTION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        32,
        304
      ],
      "id": "7533d21b-7113-4f67-867f-b108c926e465",
      "name": "Update last automation run timestamp",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zVx8W8ysVJvIirQR",
          "name": "Google Sheets YAngel Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1J7R7wlVGsE2LiixslhNZrvemlklxPzuWr0Od_Ngf9Ls",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Recipients",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J7R7wlVGsE2LiixslhNZrvemlklxPzuWr0Od_Ngf9Ls/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Get emails to send reminders').item.json.Email }}",
            "Already scheduled": "NO",
            "Reminder stage": "={{ (() => {\n  // 1. Get the current stage and clean it\n  const currentStage = ($('Get emails to send reminders').item.json['Reminder stage'] || \"\").toString().trim();\n\n  // 2. Define the \"Next Stage\" map\n  const nextStageMap = {\n    \"\": \"Reminder 0\",\n    \"Reminder 0\": \"Reminder 1\",\n    \"Reminder 1\": \"Reminder 2\",\n  };\n\n  // 3. Return the next stage, or keep current if it's already Message 4 or unknown\n  return nextStageMap[currentStage] || currentStage;\n})() }}",
            "Last message": "={{    new Date($now).toLocaleString('en-GB', {     day: '2-digit',     month: 'short',     year: 'numeric',     hour: '2-digit',     minute: '2-digit',     hour12: false   }) }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Full name",
              "displayName": "Full name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fund",
              "displayName": "Fund",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Already scheduled",
              "displayName": "Already scheduled",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reminder stage",
              "displayName": "Reminder stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last message",
              "displayName": "Last message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -176,
        304
      ],
      "id": "5975a38d-117b-4a15-b054-f8e57cfec829",
      "name": "Update reminder stage & last message date",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zVx8W8ysVJvIirQR",
          "name": "Google Sheets YAngel Account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json[\"Reminder stage\"] }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "06c168b0-250c-461d-9bd7-d943ca8b0e0c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reminder 0"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "768fd984-f986-4001-bebb-dcdc9e48ae5f",
                    "leftValue": "={{ $json[\"Reminder stage\"] }}",
                    "rightValue": "Reminder 0",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reminder 1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "748bf3b6-a789-4051-84a3-02be3c10fa81",
                    "leftValue": "={{ $json[\"Reminder stage\"] }}",
                    "rightValue": "Reminder 1",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reminder 2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -864,
        288
      ],
      "id": "69db5969-b764-4642-9386-ea49fef851be",
      "name": "Route right message",
      "executeOnce": false
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get emails to send reminders').item.json.Email }}",
        "subject": "={{ $json['Full name'] }} / COREangels {{ $json.Fund }}\n",
        "message": "=Hello, the COREangels {{ $json.Fund }} team found about {{ $json['Full name'] }} while looking for the active incubators in the region.<br><br>\n\nThis quarter we would like to know about <b>the best startups in your ecosystem ready to raise an angel round</b>.<br><br>\n\nLooking forward to <b>having a call so you can tell us more about the startups and initiatives at the incubator</b>. Does next week work for you?<br><br>\n\nBest regards,<br>\n<i>COREangels {{ $('Get emails to send reminders').item.json.Fund }} Team</i>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -608,
        144
      ],
      "id": "becb93d5-082d-4316-91b6-ce328e91a4c5",
      "name": "Send email #0",
      "webhookId": "b252c3f3-331d-4b0e-ae7a-73e033a73b0c",
      "executeOnce": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "eABIbvxMOJfcPmad",
          "name": "Gmail account COREangels Lisbon"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get emails to send reminders').item.json.Email }}",
        "subject": "=About startups at {{ $json['Full name'] }}",
        "message": "=Hi, I wanted to reconnect regarding the earlier email.<br><br>\n\nAt COREangels {{ $json.Fund }}, we're currently speaking with incubators across the region to <b>identify promising startups that could benefit from our business angel connections and resources</b>.<br><br>\n\nI’d be happy to schedule a <b>google meet to hear more about your ecosystem</b>.<br><br>\n\nBest regards,<br>\n<i>COREangels {{ $json.Fund }} Team</i>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -608,
        304
      ],
      "id": "72b83a73-e17b-4ff5-af62-907af0ef4405",
      "name": "Send email #1",
      "webhookId": "a4063e02-4c43-4b72-a8cd-b9295767ddcd",
      "executeOnce": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "eABIbvxMOJfcPmad",
          "name": "Gmail account COREangels Lisbon"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get emails to send reminders').item.json.Email }}",
        "subject": "=Still Interested in Connecting with {{ $json['Full name'] }}\n",
        "message": "=Hello, I know things can get busy, so I wanted to reach out one last time.<br><br>\n\nAt COREangels {{ $json.Fund }} we are still interested in hearing more about <b>your startups and next events and seeing if there is an alignment with the startups we are looking for</b>.<br><br>\n\nWhat if we have a google meet next week <b>so you can tell us more about your ecosystem?</b><br><br>\n\nBest regards,<br>\n<i>COREangels {{ $json.Fund }} Team</i>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -608,
        464
      ],
      "id": "6cf48a12-eb10-4c6c-bc25-0cb030300f89",
      "name": "Send email #2",
      "webhookId": "e41ac6e7-3e7d-4bb8-8ca5-537dfdc7f743",
      "executeOnce": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "eABIbvxMOJfcPmad",
          "name": "Gmail account COREangels Lisbon"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -352,
        304
      ],
      "id": "c3d25cce-7d69-43b2-b5cc-af980fbb0865",
      "name": "Wait",
      "webhookId": "695d4d11-c508-43a7-bece-652b4e65caba"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "Reminder stage"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -1184,
        304
      ],
      "id": "fd853b12-3ad1-4e83-a6d4-c6e0624c0481",
      "name": "Sort based on stage"
    },
    {
      "parameters": {
        "maxItems": 8
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1024,
        304
      ],
      "id": "a0ed47fc-3539-4dcb-a56e-8bb4eecca212",
      "name": "Limit emails to send"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtDayOfMonth": 15,
              "triggerAtHour": "={{ 13 - 5 }}",
              "triggerAtMinute": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2272,
        832
      ],
      "id": "71c9e367-d9fe-4f56-8b58-2f563acc0d10",
      "name": "Schedule Trigger - Check switch1"
    },
    {
      "parameters": {
        "content": "# Incubator Outreach automation\n",
        "height": 192,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2688,
        256
      ],
      "typeVersion": 1,
      "id": "f30b3f2e-3cba-48cd-b9f9-9656de77305f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Incubator bi-monthly automation\n",
        "height": 192,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2688,
        784
      ],
      "typeVersion": 1,
      "id": "d4fb6a00-34f5-453b-99db-a0f1f05c9af8",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "01f30c0f-ac74-413f-b135-1c9198a7f94d",
              "leftValue": "={{ $json.VALUE }}",
              "rightValue": "ON",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1952,
        832
      ],
      "id": "d5307f1d-2f85-448c-98c0-febaec3aecf3",
      "name": "Is switch on?1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1J7R7wlVGsE2LiixslhNZrvemlklxPzuWr0Od_Ngf9Ls",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 808711158,
          "mode": "list",
          "cachedResultName": "Admin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J7R7wlVGsE2LiixslhNZrvemlklxPzuWr0Od_Ngf9Ls/edit#gid=808711158"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -2112,
        832
      ],
      "id": "ed0a18e4-2854-4521-b594-ef5f0e628ba2",
      "name": "Get switch status1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zVx8W8ysVJvIirQR",
          "name": "Google Sheets YAngel Account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1J7R7wlVGsE2LiixslhNZrvemlklxPzuWr0Od_Ngf9Ls",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 808711158,
          "mode": "list",
          "cachedResultName": "Admin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J7R7wlVGsE2LiixslhNZrvemlklxPzuWr0Od_Ngf9Ls/edit#gid=808711158"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1744,
        832
      ],
      "id": "7a469737-e19e-49cb-9767-a00aad79b692",
      "name": "Get variables values1",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zVx8W8ysVJvIirQR",
          "name": "Google Sheets YAngel Account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1J7R7wlVGsE2LiixslhNZrvemlklxPzuWr0Od_Ngf9Ls",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1626291816,
          "mode": "list",
          "cachedResultName": "Recipients Bi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J7R7wlVGsE2LiixslhNZrvemlklxPzuWr0Od_Ngf9Ls/edit#gid=1626291816"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Reminder stage"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1376,
        832
      ],
      "id": "2d8105b7-3fac-4e6b-ad4f-d9dca0ec9f40",
      "name": "Get emails to send reminders1",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zVx8W8ysVJvIirQR",
          "name": "Google Sheets YAngel Account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "specifiedFields",
        "fieldsToInclude": "VARIABLES, VALUE",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1552,
        832
      ],
      "id": "bbe2959e-7711-42e6-b0e8-42289084ca7d",
      "name": "Aggregate variables values1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1J7R7wlVGsE2LiixslhNZrvemlklxPzuWr0Od_Ngf9Ls",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 808711158,
          "mode": "list",
          "cachedResultName": "Admin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J7R7wlVGsE2LiixslhNZrvemlklxPzuWr0Od_Ngf9Ls/edit#gid=808711158"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "VALUE": "={{    new Date($now).toLocaleString('en-GB', {     day: '2-digit',     month: 'short',     year: 'numeric',     hour: '2-digit',     minute: '2-digit',     hour12: false   }) }}",
            "VARIABLES": "LAST_AUTOMATION_RUN"
          },
          "matchingColumns": [
            "VARIABLES"
          ],
          "schema": [
            {
              "id": "VARIABLES",
              "displayName": "VARIABLES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "VALUE",
              "displayName": "VALUE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DESCRIPTION",
              "displayName": "DESCRIPTION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -464,
        736
      ],
      "id": "010a6ab2-88b3-413d-8cb4-c933af2ec620",
      "name": "Update last automation run timestamp1",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zVx8W8ysVJvIirQR",
          "name": "Google Sheets YAngel Account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -832,
        736
      ],
      "id": "ec6a1061-9faf-492c-938e-6fec3e1eb52a",
      "name": "Wait1",
      "webhookId": "695d4d11-c508-43a7-bece-652b4e65caba"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1J7R7wlVGsE2LiixslhNZrvemlklxPzuWr0Od_Ngf9Ls",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1626291816,
          "mode": "list",
          "cachedResultName": "Recipients Bi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J7R7wlVGsE2LiixslhNZrvemlklxPzuWr0Od_Ngf9Ls/edit#gid=1626291816"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Get emails to send reminders1').item.json.Email }}",
            "Reminder stage": "=SENT",
            "Last message": "={{    new Date($now).toLocaleString('en-GB', {     day: '2-digit',     month: 'short',     year: 'numeric',     hour: '2-digit',     minute: '2-digit',     hour12: false   }) }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Full name",
              "displayName": "Full name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fund",
              "displayName": "Fund",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Already scheduled",
              "displayName": "Already scheduled",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Reminder stage",
              "displayName": "Reminder stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last message",
              "displayName": "Last message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -656,
        736
      ],
      "id": "aa1e3f59-f8ac-4bd0-a356-86830cd9d4ea",
      "name": "Update reminder stage & last message date1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zVx8W8ysVJvIirQR",
          "name": "Google Sheets YAngel Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1J7R7wlVGsE2LiixslhNZrvemlklxPzuWr0Od_Ngf9Ls",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 808711158,
          "mode": "list",
          "cachedResultName": "Admin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J7R7wlVGsE2LiixslhNZrvemlklxPzuWr0Od_Ngf9Ls/edit#gid=808711158"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "VALUE": "={{    new Date($now).toLocaleString('en-GB', {     day: '2-digit',     month: 'short',     year: 'numeric',     hour: '2-digit',     minute: '2-digit',     hour12: false   }) }}",
            "VARIABLES": "LAST_AUTOMATION_RUN"
          },
          "matchingColumns": [
            "VARIABLES"
          ],
          "schema": [
            {
              "id": "VARIABLES",
              "displayName": "VARIABLES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "VALUE",
              "displayName": "VALUE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DESCRIPTION",
              "displayName": "DESCRIPTION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -464,
        944
      ],
      "id": "dff8882a-89f5-4814-bb84-443bfb8d815e",
      "name": "Update last automation run timestamp2",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zVx8W8ysVJvIirQR",
          "name": "Google Sheets YAngel Account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -832,
        944
      ],
      "id": "809b6302-8f18-4519-9ab1-36c2db9dc892",
      "name": "Wait2",
      "webhookId": "695d4d11-c508-43a7-bece-652b4e65caba"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1J7R7wlVGsE2LiixslhNZrvemlklxPzuWr0Od_Ngf9Ls",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1626291816,
          "mode": "list",
          "cachedResultName": "Recipients Bi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J7R7wlVGsE2LiixslhNZrvemlklxPzuWr0Od_Ngf9Ls/edit#gid=1626291816"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Get emails to send reminders1').item.json.Email }}",
            "Reminder stage": "=SENT",
            "Last message": "={{    new Date($now).toLocaleString('en-GB', {     day: '2-digit',     month: 'short',     year: 'numeric',     hour: '2-digit',     minute: '2-digit',     hour12: false   }) }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Full name",
              "displayName": "Full name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fund",
              "displayName": "Fund",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Already scheduled",
              "displayName": "Already scheduled",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Reminder stage",
              "displayName": "Reminder stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last message",
              "displayName": "Last message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -656,
        944
      ],
      "id": "4405dd6a-f716-4428-bd96-9cb6bd12e33f",
      "name": "Update reminder stage & last message date2",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zVx8W8ysVJvIirQR",
          "name": "Google Sheets YAngel Account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=Startups in {{ $json['Full name'] }} looking to raise - COREangels {{ $json.Fund }}",
        "message": "=Hello,<br><br>\n\nAs we do every two months, we're excited to share that the COREangels {{ $json.Fund }} team is on the lookout for the best <b>startups in the region interested in raising an angel round</b>.<br><br>\n\nHere's the criteria we're looking for: <b><a href=\"{{ \n$('Aggregate variables values1').item.json.data[6].VALUE\n}}\">Startups we are looking for.</a></b> <br><br>\n\nIf you know of startups in your ecosystem that fit, <b>please share the application link below with your top 1 or 2 picks</b>:<b><a href=\"{{ $('Aggregate variables values1').item.json.data[7].VALUE }}\">Form to fill.</a></b><br><br>\n\nPlease make sure to share this with your startups before {{ $('Aggregate variables values1').item.json.data[5].VALUE }}.<br><br>\n\nPS: Filling out the form is the only way for us to accept their application.<br><br>\n\nBest regards,<br>\n<i>COREangels {{ $json.Fund }} Team</i>\n\n\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -992,
        736
      ],
      "id": "45419d00-d4c0-43aa-9ae2-f9bda52ba4e6",
      "name": "Send email Lisbon",
      "webhookId": "b252c3f3-331d-4b0e-ae7a-73e033a73b0c",
      "executeOnce": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "eABIbvxMOJfcPmad",
          "name": "Gmail account COREangels Lisbon"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=Startups in {{ $json['Full name'] }} looking to raise - COREangels {{ $json.Fund }}",
        "message": "=Hello,<br><br>\n\nAs we do every two months, we're excited to share that the COREangels {{ $json.Fund }} team is on the lookout for the best <b>startups in the region interested in raising an angel round</b>.<br><br>\n\nHere's the criteria we're looking for: <b><a href=\"{{ $('Aggregate variables values1').item.json.data[3].VALUE }}\">Startups we are looking for.</a></b> <br><br>\n\nIf you know of startups in your ecosystem that fit, <b>please share the application link below with your top 1 or 2 picks</b>: <b> <a href=\"{{ $('Aggregate variables values1').item.json.data[4].VALUE }}\">Form to fill</a></b><br><br>\n\nPlease make sure to share this with your startups before {{ $('Aggregate variables values1').item.json.data[2].VALUE }}.<br><br>\n\nPS: Filling out the form is the only way for us to accept their application.<br><br>\n\nBest regards,<br>\n<i>COREangels {{ $json.Fund }} Team</i>\n\n\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -992,
        944
      ],
      "id": "5e073dd0-5272-4501-8560-3d7c61336592",
      "name": "Send email Porto",
      "webhookId": "b252c3f3-331d-4b0e-ae7a-73e033a73b0c",
      "executeOnce": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "eABIbvxMOJfcPmad",
          "name": "Gmail account COREangels Lisbon"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Fund }}",
                    "rightValue": "Lisbon",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "67fa177b-4d6f-4381-a094-3ae5df848cd5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Lisbon"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a45cb671-7fbb-405c-9929-4941c44ba171",
                    "leftValue": "={{ $json.Fund }}",
                    "rightValue": "Porto",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Porto"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1216,
        832
      ],
      "id": "4a7425ca-530b-4db1-8d85-629f4599e071",
      "name": "Switch"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger - Check switch": {
      "main": [
        [
          {
            "node": "Get switch status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get switch status": {
      "main": [
        [
          {
            "node": "Is switch on?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is switch on?": {
      "main": [
        [
          {
            "node": "Get variables values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get variables values": {
      "main": [
        [
          {
            "node": "Aggregate variables values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get emails to send reminders": {
      "main": [
        [
          {
            "node": "Sort based on stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate variables values": {
      "main": [
        [
          {
            "node": "Get emails to send reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update reminder stage & last message date": {
      "main": [
        [
          {
            "node": "Update last automation run timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route right message": {
      "main": [
        [
          {
            "node": "Send email #0",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send email #1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send email #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email #0": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email #1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email #2": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Update reminder stage & last message date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort based on stage": {
      "main": [
        [
          {
            "node": "Limit emails to send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit emails to send": {
      "main": [
        [
          {
            "node": "Route right message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is switch on?1": {
      "main": [
        [
          {
            "node": "Get variables values1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get switch status1": {
      "main": [
        [
          {
            "node": "Is switch on?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get variables values1": {
      "main": [
        [
          {
            "node": "Aggregate variables values1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get emails to send reminders1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate variables values1": {
      "main": [
        [
          {
            "node": "Get emails to send reminders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger - Check switch1": {
      "main": [
        [
          {
            "node": "Get switch status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Update reminder stage & last message date1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update reminder stage & last message date1": {
      "main": [
        [
          {
            "node": "Update last automation run timestamp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Update reminder stage & last message date2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update reminder stage & last message date2": {
      "main": [
        [
          {
            "node": "Update last automation run timestamp2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email Lisbon": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email Porto": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send email Lisbon",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send email Porto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5d91952d-552f-420e-b8e7-801ab43707ef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a5a00baa12a85b9086302f700a603aad89b3f2a6035d43cbd514404a64493513"
  },
  "id": "9LDWFdM363txhClY",
  "tags": []
}