Angel_Experience_v1.json
{
  "name": "Angel Experience v1",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8",
          "mode": "list",
          "cachedResultName": "Angel Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 230356662,
          "mode": "list",
          "cachedResultName": "Experience Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8/edit#gid=230356662"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        60,
        1220
      ],
      "id": "2f118896-ecd2-4c4f-a2df-76cb431cd8e9",
      "name": "Get Angel List",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OSnG48Edzrrh2udV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "phoneNumberId": "661969530322547",
        "recipientPhoneNumber": "={{ $('Filter only registered and frequency').item.json.Number.toString() }}",
        "template": "angel_story_v9|en",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $('Filter only registered and frequency').item.json.Name.split(' ')[0] }}"
                  },
                  {
                    "text": "={{ $('Get Story Data').item.json.Title }}"
                  },
                  {
                    "text": "={{ $json.Duration }}"
                  }
                ]
              }
            },
            {
              "type": "button",
              "sub_type": "url",
              "buttonParameters": {
                "parameter": {
                  "payload": "={{ $json['Drive ID'] }}"
                }
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        600,
        1220
      ],
      "id": "0478c7b5-915c-4fe0-9d7a-0b99de87d5a5",
      "name": "Send Angel Story Message",
      "webhookId": "58d2530c-6c01-4a9f-8c62-b4be3b77775a",
      "credentials": {
        "whatsAppApi": {
          "id": "ZconX2ENu6OHeTB8",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1suPTIdIkSoDxWFtbh_HiKFwGB-ubwEEm6InWte3Ubfo",
          "mode": "list",
          "cachedResultName": "Angel Experience",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1suPTIdIkSoDxWFtbh_HiKFwGB-ubwEEm6InWte3Ubfo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Angel Stories",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1suPTIdIkSoDxWFtbh_HiKFwGB-ubwEEm6InWte3Ubfo/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID",
              "lookupValue": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        420,
        1220
      ],
      "id": "875c9ae1-67bb-4bfc-9aab-3126d7e55cc2",
      "name": "Get Story Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OSnG48Edzrrh2udV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8",
          "mode": "list",
          "cachedResultName": "Angel Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 230356662,
          "mode": "list",
          "cachedResultName": "Experience Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8/edit#gid=230356662"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Last sent": "={{ new Date().getDate() + '-' + ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'][new Date().getMonth()] + '-' + new Date().getFullYear() }}",
            "Number": "={{ $('Get Angel List').item.json.Number }}",
            "Phase": "1-Angel Story 1"
          },
          "matchingColumns": [
            "Number"
          ],
          "schema": [
            {
              "id": "Submitted at",
              "displayName": "Submitted at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Experience",
              "displayName": "Experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Frequency",
              "displayName": "Frequency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phase",
              "displayName": "Phase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last sent",
              "displayName": "Last sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        980,
        1220
      ],
      "id": "e77ba127-f2e6-4768-9f48-6f50abb3f575",
      "name": "Update Angel Experience Status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OSnG48Edzrrh2udV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f76129ac-554b-46c6-881a-ce9cf6026395",
              "leftValue": "={{ $('Chat start').item.json.messages[0].text.body }}",
              "rightValue": "Access Angel Stories",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "668580a4-38dc-4039-acde-2e83b0f07808",
              "leftValue": "={{ $('Chat start').item.json.messages[0].text.body }}",
              "rightValue": "Access",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "a8d3aad6-b8f7-40c0-be62-515a519d9dfe",
              "leftValue": "={{ $('Chat start').item.json.messages[0].text.body }}",
              "rightValue": "access",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        600
      ],
      "id": "dfec643f-c5b0-4c94-bac7-86970aa95757",
      "name": "Check message type"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Chat start').item.json.messages[0].from }}",
        "contextWindowLength": 1
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1000,
        980
      ],
      "id": "7c69529b-5e91-4faa-82cf-efb6d3ded9e3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "user",
              "message": "=UserID:{{ $('Chat start').item.json.messages[0].from }}\nTimestamp:{{ $('Chat start').item.json.messages[0].timestamp }}\nMenu: Name"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        980,
        480
      ],
      "id": "fa8af82e-cc86-4c4e-a12b-f17763f2dc81",
      "name": "Gift Card Sender Menu In",
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "30616b7c-3ff0-4b36-852a-d1aa696d5903",
              "name": "UserID",
              "value": "={{ $('Chat start').item.json.messages[0].from }}",
              "type": "string"
            },
            {
              "id": "88a3a903-1057-4e35-95db-c4aa9cc5bb33",
              "name": "=Timestamp",
              "value": "={{$json.messages[$json.messagesCount-1].human.match(/Timestamp:\\s*(\\d+)/)?.[1] || null}}",
              "type": "string"
            },
            {
              "id": "f373bbf6-aee6-4ab2-b2e7-a078a0b533ea",
              "name": "Menu",
              "value": "={{$json.messages[$json.messagesCount-1].human.match(/Menu:\\s*(\\S+)/)?.[1] || null}}",
              "type": "string"
            },
            {
              "id": "a9f25064-9661-43e0-b326-e2cc18a75339",
              "name": "Name",
              "value": "={{$json.messages[$json.messagesCount-1].human.match(/Name:\\s*([^\\n]+)/)?.[1] || null}}",
              "type": "string"
            },
            {
              "id": "1099529c-638f-40cf-81d3-9ca853835ac0",
              "name": "Level",
              "value": "={{$json.messages[$json.messagesCount-1].human.match(/Level:\\s*([^\\n]+)/)?.[1] || null}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1080,
        720
      ],
      "id": "a25a11f0-7b69-45b2-a802-65b40561eaf3",
      "name": "Regenerate variables sender"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        740,
        720
      ],
      "id": "b7fb92cc-0496-4ee2-8b7d-1f33123d9a89",
      "name": "Gift Card Menu Out"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -140,
        600
      ],
      "id": "454599b2-235e-4028-b8f8-ad363eb839d7",
      "name": "Chat start",
      "webhookId": "7d19a2f2-0b40-4183-8882-2f13466fd8db",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "fPRLKoscGoC5WPvY",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0f1514e2-21cb-4b84-8bd2-dfb23f52c6cd",
              "leftValue": "={{ $json.messages[0].text.body }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "97ea097b-1705-4a42-9e73-eac8be9aca9e",
              "leftValue": "={{ $json.messages[0].button.text }}",
              "rightValue": "={{ $json.messages[0].button.text }}",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        40,
        600
      ],
      "id": "7862a64c-2dd2-40cb-bee0-cc5d64e97e3e",
      "name": "Validate there is a message"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1VXDHSvPVoh-ENXEFj6XzjFRcVd8hKFONbwGMSWkRwQ4",
          "mode": "list",
          "cachedResultName": "Chat History Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VXDHSvPVoh-ENXEFj6XzjFRcVd8hKFONbwGMSWkRwQ4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Phase 1 Flow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VXDHSvPVoh-ENXEFj6XzjFRcVd8hKFONbwGMSWkRwQ4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ \n  (() => {\n    const date = new Date($('Chat start').item.json.messages[0].timestamp * 1000);\n    const day = date.getDate().toString().padStart(2, '0');\n    const monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];\n    const month = monthNames[date.getMonth()];\n    const year = date.getFullYear();\n    const time = date.toLocaleTimeString('en-US', {hour: '2-digit', minute:'2-digit', second:'2-digit', hour12: true});\n    \n    return `${day}-${month}-${year}, ${time}`;\n  })()\n}}",
            "Message": "={{ $('Chat start').item.json.messages[0].text?.body || $('Chat start').item.json.messages[0].button?.text || '' }}",
            "Number": "={{ $('Chat start').item.json.messages[0].from }}",
            "Name": "={{ $json['What’s your name?'] }}"
          },
          "matchingColumns": [
            "What's your phone number?(Add your country code without spaces nor symbols)"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        240,
        600
      ],
      "id": "9e2f5586-2632-406d-9578-da56c68ae359",
      "name": "Log Chat History",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OSnG48Edzrrh2udV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "54422fd0-31b6-4087-a5dc-f71cb2fc1393",
                    "leftValue": "={{ $json.Menu }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($json.Menu == \"Name\") }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "17931a50-692b-4288-bc4d-927c1967024b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Name"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "80fd97af-b1ca-448e-a4f7-d2c20fe45768",
                    "leftValue": "={{ ($json.Menu == \"Level\") }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Level"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6a01d974-6785-4755-86a0-c21530c63262",
                    "leftValue": "={{ ($json.Menu == \"Frequency\") }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Frequency"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1300,
        680
      ],
      "id": "660c9e3f-70f4-44d3-9bf4-99000e60e55e",
      "name": "Main Registration menu switch",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "661969530322547",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "textBody": "To get access to Angel Stories, just type \"Access\"",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1700,
        420
      ],
      "id": "d0e02bce-cdd6-4ad3-aa74-6f8615dd80fc",
      "name": "Default MSG",
      "webhookId": "7b212c4f-718d-4eae-bbc9-54c53bf80c22",
      "credentials": {
        "whatsAppApi": {
          "id": "ZconX2ENu6OHeTB8",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "mode": "delete",
        "deleteMode": "all"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        1700,
        600
      ],
      "id": "c8dfd46c-001d-49f8-8247-fe7d7d150e7c",
      "name": "Clean Memory1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cc0f6b6f-f11f-4e5e-9f31-f9575a852c55",
              "leftValue": "={{ (() => {\n  // Parse the date from $json['Last sent'] (format: \"16-Apr-2025\")\n  const parts = $json['Last sent'].split('-');\n  const day = parseInt(parts[0]);\n  const months = {\"Jan\":0, \"Feb\":1, \"Mar\":2, \"Apr\":3, \"May\":4, \"Jun\":5, \"Jul\":6, \"Aug\":7, \"Sep\":8, \"Oct\":9, \"Nov\":10, \"Dec\":11};\n  const month = months[parts[1]];\n  const year = parseInt(parts[2]);\n  \n  // Create a date object from $json['Last sent']\n  const lastSentDate = new Date(year, month, day);\n  \n  // Add 24 hours (86400000 milliseconds)\n  const lastSentPlus24h = new Date(lastSentDate.getTime() + $json.Frequency*86400000);\n  \n  // Get current date from new Date().toISOString()\n  const currentDate = new Date();\n  \n  // Compare if current date is greater than or equal to lastSentDate + 24h\n  return currentDate >= lastSentPlus24h;\n})() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "c4b98817-c8d8-4e81-8d70-9284082d82a3",
              "leftValue": "={{ $json.Phase == \"0-Angel Story 0\" }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        240,
        1220
      ],
      "id": "56036157-4b0a-4d0f-b01b-86648bb9126e",
      "name": "Filter only registered and frequency"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8",
          "mode": "list",
          "cachedResultName": "Angel Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 230356662,
          "mode": "list",
          "cachedResultName": "Experience Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8/edit#gid=230356662"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Submitted at": "={{ \n  (() => {\n    const date = new Date($('Chat start').item.json.messages[0].timestamp * 1000);\n    const day = date.getDate().toString().padStart(2, '0');\n    const monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];\n    const month = monthNames[date.getMonth()];\n    const year = date.getFullYear();\n    const time = date.toLocaleTimeString('en-US', {hour: '2-digit', minute:'2-digit', second:'2-digit', hour12: true});\n    \n    return `${day}-${month}-${year}, ${time}`;\n  })()\n}}",
            "Name": "={{ $('Regenerate variables sender').item.json.Name }}",
            "Number": "={{ $('Regenerate variables sender').item.json.UserID }}",
            "Frequency": "={{ $('Chat start').item.json.messages[0].text.body }}",
            "Phase": "0-Angel Story 0",
            "Last sent": "={{ new Date().getDate() + '-' + ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'][new Date().getMonth()] + '-' + new Date().getFullYear() }}",
            "Level": "={{ \n  ($('Regenerate variables sender').item.json.Level == 1) \n    ? \"Beginner\" \n    : ($('Regenerate variables sender').item.json.Level == 2) \n      ? \"Intermediate\" \n      : ($('Regenerate variables sender').item.json.Level == 3) \n        ? \"Advanced\" \n        : $('Regenerate variables sender').item.json.Level \n}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Submitted at",
              "displayName": "Submitted at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Frequency",
              "displayName": "Frequency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Level",
              "displayName": "Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phase",
              "displayName": "Phase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last sent",
              "displayName": "Last sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1700,
        920
      ],
      "id": "087da033-9de7-4909-a917-de3c6e5989b4",
      "name": "Register Angel Experience Database",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OSnG48Edzrrh2udV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "661969530322547",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "textBody": "Hello, I will grant you access to Angel Stories (mini podcasts from 3 to 5 min long).\n\n(1/3) What's your full name?",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        740,
        480
      ],
      "id": "eb42c62d-55ca-4438-b6b0-0d08d71f9764",
      "name": "Ask Angel Name",
      "webhookId": "7b212c4f-718d-4eae-bbc9-54c53bf80c22",
      "credentials": {
        "whatsAppApi": {
          "id": "ZconX2ENu6OHeTB8",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "661969530322547",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "textBody": "=✅ Success. You have been granted access to Angel Stories.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1900,
        920
      ],
      "id": "8f962b7b-83d0-4f51-8f9d-bff4fe696b9c",
      "name": "Registration success",
      "webhookId": "7b212c4f-718d-4eae-bbc9-54c53bf80c22",
      "credentials": {
        "whatsAppApi": {
          "id": "ZconX2ENu6OHeTB8",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1suPTIdIkSoDxWFtbh_HiKFwGB-ubwEEm6InWte3Ubfo",
          "mode": "list",
          "cachedResultName": "Angel Stories",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1suPTIdIkSoDxWFtbh_HiKFwGB-ubwEEm6InWte3Ubfo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1suPTIdIkSoDxWFtbh_HiKFwGB-ubwEEm6InWte3Ubfo/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID",
              "lookupValue": "0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2080,
        920
      ],
      "id": "13e97d4e-286b-406a-99bb-6ba4a54c8edf",
      "name": "Get First Story Data1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OSnG48Edzrrh2udV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "661969530322547",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "messageType": "audio",
        "mediaPath": "useMedian8n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2420,
        920
      ],
      "id": "c48d0691-835c-481b-a336-fbf69fc661da",
      "name": "Send First Angel Story",
      "webhookId": "ead5d192-052c-4e92-a91e-e5868950f08e",
      "credentials": {
        "whatsAppApi": {
          "id": "ZconX2ENu6OHeTB8",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1paaVcp463W2RZB3GhGixYqDIdXM6qO6e",
          "mode": "list",
          "cachedResultName": "0 - From Investment Regret to Real Angel Wins..mp3",
          "cachedResultUrl": "https://drive.google.com/file/d/1paaVcp463W2RZB3GhGixYqDIdXM6qO6e/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2260,
        920
      ],
      "id": "f9c1e7fe-30a2-44ab-8a96-813a07415c12",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BUjeDAwnPTpXv2dJ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "delete",
        "deleteMode": "all"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        1700,
        760
      ],
      "id": "77f68250-7732-4d49-966e-a405674fd0ad",
      "name": "Clean Memory2"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "661969530322547",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "textBody": "=Hey {{ $('Register Angel Experience Database').item.json.Name.split(\" \")[0] }}, today's angel story: “{{ $('Get First Story Data1').item.json.Title }}” ({{ $('Get First Story Data1').item.json.Duration }} min)\n\nAngel stories are shared by angels just like you, so the community can learn from our experiences.\n\nI'm turning it into something your network could really appreciate.\n\nPlease tell me at least one thing we can do to improve it.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2780,
        920
      ],
      "id": "60bdc6c8-13c8-4034-9d79-e8c00c88ae63",
      "name": "First Angel Story message",
      "webhookId": "7b212c4f-718d-4eae-bbc9-54c53bf80c22",
      "credentials": {
        "whatsAppApi": {
          "id": "ZconX2ENu6OHeTB8",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2600,
        920
      ],
      "id": "2f0a58a2-dd33-498a-84e6-ad73265205a1",
      "name": "Wait",
      "webhookId": "de682aa7-c533-4afe-996f-0d3ebeb212a8"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Filter only registered and frequency').item.json.Email }}",
        "subject": "=Hi {{ $('Filter only registered and frequency').item.json.Name.split(\" \")[0] }}, today's Angel Story: {{ $('Get Story Data').item.json.Title }} ({{ $('Get Story Data').item.json.Duration }} min)",
        "message": "=As I mentioned on WhatsApp, Angel Stories are shared by angels just like you, so the community can learn from our experiences.\n<br>\n<br>\nI'm turning it into something your network could really appreciate.\n<br>\n<br>\nPlease tell me at least one thing we can do to improve it.\n<br>\n<br>\nCheck it out.\n<br>\n{{ $('Get Story Data').item.json.Link }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        780,
        1220
      ],
      "id": "b1ee3fa3-42a7-4c80-9aba-f1e33fe38ef8",
      "name": "Send Story Email",
      "webhookId": "909629e6-615a-4e59-bfd4-7a9039858ee9",
      "credentials": {
        "gmailOAuth2": {
          "id": "SzhJjqEOmRz2nVxW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8",
          "mode": "list",
          "cachedResultName": "Angel Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 230356662,
          "mode": "list",
          "cachedResultName": "Experience Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8/edit#gid=230356662"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        40,
        1640
      ],
      "id": "d58bee8e-0307-4117-95d7-f4f02e2a441c",
      "name": "Get Angel List1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OSnG48Edzrrh2udV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8",
          "mode": "list",
          "cachedResultName": "Angel Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 230356662,
          "mode": "list",
          "cachedResultName": "Experience Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8/edit#gid=230356662"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Last sent": "={{ new Date().getDate() + '-' + ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'][new Date().getMonth()] + '-' + new Date().getFullYear() }}",
            "Number": "={{ $('Get Angel List1').item.json.Number }}",
            "Phase": "2-Angel Concept 0"
          },
          "matchingColumns": [
            "Number"
          ],
          "schema": [
            {
              "id": "Submitted at",
              "displayName": "Submitted at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Frequency",
              "displayName": "Frequency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phase",
              "displayName": "Phase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last sent",
              "displayName": "Last sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        960,
        1640
      ],
      "id": "ebf53be8-1e7b-4eea-b4a8-060628f77fde",
      "name": "Update Angel Experience Status1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OSnG48Edzrrh2udV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cc0f6b6f-f11f-4e5e-9f31-f9575a852c55",
              "leftValue": "={{ (() => {\n  // Parse the date from $json['Last sent'] (format: \"16-Apr-2025\")\n  const parts = $json['Last sent'].split('-');\n  const day = parseInt(parts[0]);\n  const months = {\"Jan\":0, \"Feb\":1, \"Mar\":2, \"Apr\":3, \"May\":4, \"Jun\":5, \"Jul\":6, \"Aug\":7, \"Sep\":8, \"Oct\":9, \"Nov\":10, \"Dec\":11};\n  const month = months[parts[1]];\n  const year = parseInt(parts[2]);\n  \n  // Create a date object from $json['Last sent']\n  const lastSentDate = new Date(year, month, day);\n  \n  // Add 24 hours (86400000 milliseconds)\n  const lastSentPlus24h = new Date(lastSentDate.getTime() + $json.Frequency*86400000);\n  \n  // Get current date from new Date().toISOString()\n  const currentDate = new Date();\n  \n  // Compare if current date is greater than or equal to lastSentDate + 24h\n  return currentDate >= lastSentPlus24h;\n})() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "c4b98817-c8d8-4e81-8d70-9284082d82a3",
              "leftValue": "={{ $json.Phase == \"1-Angel Story 1\" }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        220,
        1640
      ],
      "id": "eaabc692-a63e-47d3-8ae2-2d3e0c6b0c1c",
      "name": "Filter only registered and frequency1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1suPTIdIkSoDxWFtbh_HiKFwGB-ubwEEm6InWte3Ubfo",
          "mode": "list",
          "cachedResultName": "Angel Experience",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1suPTIdIkSoDxWFtbh_HiKFwGB-ubwEEm6InWte3Ubfo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2062210914,
          "mode": "list",
          "cachedResultName": "Angel Concepts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1suPTIdIkSoDxWFtbh_HiKFwGB-ubwEEm6InWte3Ubfo/edit#gid=2062210914"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID",
              "lookupValue": "0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        400,
        1640
      ],
      "id": "b6bc22bc-b43e-4d6d-8b7b-7f95063ff566",
      "name": "Get Concept Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OSnG48Edzrrh2udV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -120,
        1220
      ],
      "id": "3e377c17-623b-4110-b248-fa7ac6870fa8",
      "name": "Schedule Trigger Angel Story"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -140,
        1640
      ],
      "id": "5ed09cc2-bbf2-4186-a8d2-34cfc07d3093",
      "name": "Schedule Trigger Angel Concept"
    },
    {
      "parameters": {
        "phoneNumberId": "661969530322547",
        "recipientPhoneNumber": "={{ $('Filter only registered and frequency1').item.json.Number.toString() }}",
        "template": "angel_concept_v2|en",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $('Filter only registered and frequency1').item.json.Name.split(\" \")[0] }}"
                  },
                  {
                    "text": "={{ $json.Concept }}"
                  },
                  {
                    "text": "={{ $json.Description }}"
                  },
                  {
                    "text": "={{ $json['Fun Fact'] }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        580,
        1640
      ],
      "id": "eaef5506-1954-4477-8087-0c7c01c948d5",
      "name": "Send Angel Concept Message",
      "webhookId": "58d2530c-6c01-4a9f-8c62-b4be3b77775a",
      "credentials": {
        "whatsAppApi": {
          "id": "ZconX2ENu6OHeTB8",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Filter only registered and frequency1').item.json.Email }}",
        "subject": "=Hi {{ $('Filter only registered and frequency1').item.json.Name.split(\" \")[0] }}, today's Angel Concept: {{ $('Get Concept Data').item.json.Concept }}",
        "message": "={{ $('Get Concept Data').item.json.Description }}\n<br>\n<br>\n{{ $('Get Concept Data').item.json['Fun Fact'] }}\n<br>\n<br>\nIf you'd like to propose a topic or concept to be explained, just let me know.",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        760,
        1640
      ],
      "id": "8027ea5d-c411-46af-b147-7c56e1c92d69",
      "name": "Send Concept Email",
      "webhookId": "909629e6-615a-4e59-bfd4-7a9039858ee9",
      "credentials": {
        "gmailOAuth2": {
          "id": "SzhJjqEOmRz2nVxW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "661969530322547",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "textBody": "(3/3) How often would you like to have access to Angel Stories?\n\n3. Every 3 days\n4. Every 4 days\n5. Every 5 days\n6. Every 6 days\n7. Every 7 days",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2380,
        760
      ],
      "id": "b5f12a94-bf0d-43f1-98ec-3cbe4d994dea",
      "name": "Angel Frequency",
      "webhookId": "7b212c4f-718d-4eae-bbc9-54c53bf80c22",
      "credentials": {
        "whatsAppApi": {
          "id": "ZconX2ENu6OHeTB8",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "661969530322547",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "textBody": "=(2/3) How many years of experience do you have as a business angel investor?\n\n1. None to 2 years\n2. 2 to 5 years\n3. More than 5 years",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2380,
        600
      ],
      "id": "fe7c79c5-08e1-4ac5-9e1c-d503bd1b98ba",
      "name": "Angel Level",
      "webhookId": "7b212c4f-718d-4eae-bbc9-54c53bf80c22",
      "credentials": {
        "whatsAppApi": {
          "id": "ZconX2ENu6OHeTB8",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "user",
              "message": "=UserID:{{ $('Chat start').item.json.messages[0].from }}\nTimestamp:{{ $('Chat start').item.json.messages[0].timestamp }}\nMenu: Frequency\nName: {{ $('Regenerate variables sender').item.json.Name }}\nLevel: {{ $('Chat start').item.json.messages[0].text.body }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        2040,
        760
      ],
      "id": "5a848db6-5947-4732-853d-80937adc0054",
      "name": "Angel Frequency Menu In",
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "user",
              "message": "=UserID:{{ $('Chat start').item.json.messages[0].from }}\nTimestamp:{{ $('Chat start').item.json.messages[0].timestamp }}\nMenu: Level\nName: {{ $('Chat start').item.json.messages[0].text.body }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        2040,
        600
      ],
      "id": "147b0dc4-35ab-4104-a8f0-adc087bf18e2",
      "name": "Angel Level Menu In",
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "content": "## Send Angel Story",
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -460,
        1200
      ],
      "typeVersion": 1,
      "id": "a0f7b8fe-6b36-4a81-a792-0d45139d63ee",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Send Angel Concept",
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -460,
        1620
      ],
      "typeVersion": 1,
      "id": "d777aeea-9bc8-4930-bb6b-eb2ab6b8dbd3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Register to Angel Experience",
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -460,
        580
      ],
      "typeVersion": 1,
      "id": "8f281d3c-0d34-4e5b-8986-21166223fda8",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Get Angel List": {
      "main": [
        [
          {
            "node": "Filter only registered and frequency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Angel Story Message": {
      "main": [
        [
          {
            "node": "Send Story Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Story Data": {
      "main": [
        [
          {
            "node": "Send Angel Story Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check message type": {
      "main": [
        [
          {
            "node": "Ask Angel Name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gift Card Menu Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Gift Card Sender Menu In",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Gift Card Menu Out",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Clean Memory1",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Angel Level Menu In",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Angel Frequency Menu In",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Clean Memory2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Regenerate variables sender": {
      "main": [
        [
          {
            "node": "Main Registration menu switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gift Card Menu Out": {
      "main": [
        [
          {
            "node": "Regenerate variables sender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat start": {
      "main": [
        [
          {
            "node": "Validate there is a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate there is a message": {
      "main": [
        [
          {
            "node": "Log Chat History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Chat History": {
      "main": [
        [
          {
            "node": "Check message type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main Registration menu switch": {
      "main": [
        [
          {
            "node": "Default MSG",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clean Memory1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clean Memory2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Register Angel Experience Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Memory1": {
      "main": [
        [
          {
            "node": "Angel Level Menu In",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter only registered and frequency": {
      "main": [
        [
          {
            "node": "Get Story Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask Angel Name": {
      "main": [
        [
          {
            "node": "Gift Card Sender Menu In",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Angel Experience Database": {
      "main": [
        [
          {
            "node": "Registration success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get First Story Data1": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Send First Angel Story",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Memory2": {
      "main": [
        [
          {
            "node": "Angel Frequency Menu In",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registration success": {
      "main": [
        [
          {
            "node": "Get First Story Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "First Angel Story message": {
      "main": [
        []
      ]
    },
    "Send First Angel Story": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "First Angel Story message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Story Email": {
      "main": [
        [
          {
            "node": "Update Angel Experience Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Angel List1": {
      "main": [
        [
          {
            "node": "Filter only registered and frequency1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter only registered and frequency1": {
      "main": [
        [
          {
            "node": "Get Concept Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Concept Data": {
      "main": [
        [
          {
            "node": "Send Angel Concept Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger Angel Story": {
      "main": [
        [
          {
            "node": "Get Angel List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger Angel Concept": {
      "main": [
        [
          {
            "node": "Get Angel List1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Angel Concept Message": {
      "main": [
        [
          {
            "node": "Send Concept Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Concept Email": {
      "main": [
        [
          {
            "node": "Update Angel Experience Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Angel Frequency Menu In": {
      "main": [
        [
          {
            "node": "Angel Frequency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Angel Level Menu In": {
      "main": [
        [
          {
            "node": "Angel Level",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ac448afe-cf26-47de-962e-f88c61eb462f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "45de587cdd5f8411648bbabc480257026e865baa5cd7fd696e8f88a3b643a1aa"
  },
  "id": "d5hXQ08eWMaR0UHQ",
  "tags": []
}