Angel_Canvas_Generator_and_Gift_Card_v4.json
{
  "name": "Angel Canvas Generator and Gift Card v4",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1340,
        100
      ],
      "id": "633ca234-de68-42ce-9ef2-b12147671a44",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Hzt56PzisVEKdpJR",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ccb7d0fa-d549-4963-93e6-725416d121b6",
              "name": "=Angel Responses",
              "value": "=Name: {{ $json['What’s your name?'].split(' ').length > 3 ? $json['What’s your name?'].split(' ')[0] + ' ' + $json['What’s your name?'].split(' ')[$json['What’s your name?'].split(' ').length-1] : $json['What’s your name?'] }}\nEmail:{{ $json['Where should I email it to?'] }}\nPhone:{{ $json['What\\'s your phone number?(Add your country code without spaces nor symbols)'] }}\nDate: {{ \n  (function() {\n    const date = new Date($json['Submitted at']);\n    if (isNaN(date.getTime())) return $json['Submitted at'];\n    const day = date.getDate().toString().padStart(2, '0');\n    const month = date.toLocaleString('en', { month: 'short' });\n    const year = date.getFullYear();\n    return `${day}-${month}-${year}`;\n  })()\n}}\nWhat's my previous experience investing in startups: {{ $json['(1/21) What\\'s my previous experience investing in startups?'] }}\nHow do you perceive your role as an angel investor: {{ $json['(2/21) How do I perceive my role as an angel investor?'] }}\nAngel investing is a great way to earn money: {{ $json['\"Angel investing is a great way to earn money\"'] }} \nAngel investing is an efficient way to diversify investments: {{ $json['\"Angel investing is an efficient way to diversify investments\"'] }} \nAngel investing increases my wealth adequately in view of the risk I bear: {{ $json['\"Angel investing increases my wealth adequately in view of the risk I bear\"'] }} \nAngel investing is an easy way to invest: {{ $json['\"Angel investing is an easy way to invest\"'] }} \nAngel investing is not unnecessarily time-consuming: {{ $json['\"Angel investing is not unnecessarily time-consuming\"'] }} \nAngel investing is a way to give back to society: {{ $json['\"Angel investing is a way to give back to society\"'] }} \nAngel investing gives me the opportunity to express benevolence toward other people: {{ $json['\"Angel investing gives me the opportunity to express benevolence toward other people\"'] }} \nAngel investing gives me the opportunity to express benevolence toward other people: {{ $json['\"Angel investing gives me the opportunity to express benevolence toward other people\"'] }} \nAngel investing encourages me to have a life with a higher purpose: {{ $json['\"Angel investing encourages me to have a life with a higher purpose\"'] }} \nAngel investing boosts my self-esteem: {{ $json['\"Angel investing boosts my self-esteem\"'] }} \nAngel investing gives me sheer joy: {{ $json['\"Angel investing gives me sheer joy\"'] }} \nAngel investing makes me feel valuable: {{ $json['\"Angel investing makes me feel valuable\"'] }} \nAngel investing increases my self-confidence: {{ $json['\"Angel investing increases my self-confidence\"'] }} \nAngel investing allows me to be part of entrepreneurship: {{ $json['\"Angel investing allows me to be part of entrepreneurship\"'] }} \nAngel investing gives me the pleasure to begin something from scratch: {{ $json['\"Angel investing gives me the pleasure to begin something from scratch\"'] }} \nAngel investing gives me the opportunity for involvement with startups: {{ $json['\"Angel investing gives me the opportunity for involvement with startups\"'] }} \nAngel investing allows me to mentor entrepreneurs: {{ $json['\"Angel investing allows me to mentor entrepreneurs\"'] }} \nWhat future changes in the world you foresee and would love to be part of: {{ $json['(8/21) What future changes in the world do I foresee and would love to be part of?'] }}\nWhich are the main challenges in the world that startups can solve: {{ $json['(9/21) Which are the main challenges in the world that startups can solve?'] }} \nHow much time do I want to dedicate to angel investing: {{ $json['(10/21) How much time do I want to dedicate to angel investing?'] }}\nWhat can be my key contributions beyond capital: \n{{ $json['(11/21) What can be my key contributions beyond capital? (Pick Max. 3)'] }}\nWhat do I want founders to say about me:\n{{ $json['(12/21) What do I want founders to say about me? (Pick Max. 5)'] }}\nWhat do I want other angels to say about me:\n{{ $json['(13/21) What do I want other angels to say about me? (Pick Max. 5)'] }}\nHow much would I be comfortable investing: {{ $json['(14/21) How much would I be comfortable investing? (Strike a balance between making meaningful investments in startups and protecting your financial security)'] }}\nHow many startups would I like to invest on: {{ $json['(15/21) How many startups would I like to invest on?'] }}\nWhat types of startups will I invest in: {{ $json['(16/21) What types of startups will I invest in? (Pick Max. 3)'] }}\nWhat’s my investment return time frame: {{ $json['(17/21) What’s my investment return time frame?'] }}\nIn which geographies will I invest: {{ $json['(18/21) In which geographies will I invest? (Pick Max. 3)'] }}\nWhat types of business models will I back? \n{{ $json['(19/21) What types of business models will I back? (Pick Max. 5)'] }}\nWhat are the key reasons that have kept me from angel investing in the past:\n{{ $json['(20/21) What are the key reasons that have kept me from angel investing in the past? (Optional)']  || \"Not Answered\" }}\nWhich tasks would I delegate to an assistant in my angel investing activities: {{ $json['(21/21) Which tasks would I delegate to an assistant in my angel investing activities? (Optional)'] || \"Not Answered\"  }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        780,
        -80
      ],
      "id": "467a79a2-72ca-4a48-8bb9-e49741cb88e6",
      "name": "Text with angel responses"
    },
    {
      "parameters": {
        "amount": 7
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2420,
        -80
      ],
      "id": "489a1be0-be1d-4fe9-9122-af6512c1f960",
      "name": "Wait",
      "webhookId": "dafeb747-2308-4af7-8436-2e3a8d202021"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3000,
        -80
      ],
      "id": "1084c50a-eda9-4778-8996-4614859652c7",
      "name": "Wait1",
      "webhookId": "c2ed91c0-4244-4422-a6a2-4d09b877619f"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Set Fields').item.json.Name }} - Angel Investor Journey",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1nbZR24-ynoh6QYjUref4iFYjr4bi4Lpu",
          "mode": "list",
          "cachedResultName": "Angel Journeys",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1nbZR24-ynoh6QYjUref4iFYjr4bi4Lpu"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3380,
        -80
      ],
      "id": "e13afac3-9831-4362-9b4b-559f25981d28",
      "name": "Create Folder: NAME - Angel Investor Journey",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BUjeDAwnPTpXv2dJ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "=data",
        "name": "=1. {{ $('Set Fields').item.json.Name }} - Angel Investor Canvas",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3820,
        -80
      ],
      "id": "cdf9b979-b1c5-4e51-a147-83869a506bb4",
      "name": "Upload the canvas file to the folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BUjeDAwnPTpXv2dJ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.canva.com/rest/v1/oauth/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Basic {{ $json.EncodedBase64 }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "refresh_token"
            },
            {
              "name": "refresh_token",
              "value": "={{ $json.canvaRefreshToken }}"
            },
            {
              "name": "code_verifier",
              "value": "P2utVxX9jQvVV1WfcLmNSebBcItMOryOfBLfE8duOweY4uwubzybyKLx_HUnOLufqXSF19bf6I-jO3WX3n4H0yuD6v-D_ZPiJ1LLA7wrCfNTQFshSUiyBRExOmNJxceg"
            },
            {
              "name": "code",
              "value": "={{ $json.canvaAuthToken }}"
            },
            {
              "name": "refresh_token",
              "value": "={{ $json.canvaRefreshToken }}"
            },
            {
              "name": "redirect_uri",
              "value": "={{ $json.redirectUri }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2940,
        140
      ],
      "id": "f1fd4a0a-25f3-436b-941e-d35e11c72dc7",
      "name": "Refresh Canva Token",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba4ec344-3a6e-4229-8110-cd3ef389bd47",
              "name": "={{ $json[\"Variable Name\"][0] }}",
              "value": "={{ $json[\"Variable Value\"][0] }}",
              "type": "string"
            },
            {
              "id": "b52979bc-f09b-4564-83ae-09ca7c980ffe",
              "name": "={{ $json[\"Variable Name\"][1] }}",
              "value": "={{ $json[\"Variable Value\"][1] }}",
              "type": "string"
            },
            {
              "id": "8092a730-2d5a-4dba-9bcc-5a04fa046a2a",
              "name": "={{ $json[\"Variable Name\"][2] }}",
              "value": "={{ $json['Variable Value'][2] }}",
              "type": "string"
            },
            {
              "id": "6339f9ad-3372-4d94-8d81-3e8cc0c5dd4b",
              "name": "={{ $json['Variable Name'][3] }}",
              "value": "={{ $json['Variable Value'][3] }}",
              "type": "string"
            },
            {
              "id": "12b6e0f6-4a0c-4c60-9347-1da2f0028fb3",
              "name": "={{ $json['Variable Name'][4] }}",
              "value": "={{ $json['Variable Value'][4] }}",
              "type": "string"
            },
            {
              "id": "821e2c39-9927-499c-9862-919b20e2ab34",
              "name": "={{ $json['Variable Name'][5] }}",
              "value": "={{ $json['Variable Value'][5] }}",
              "type": "string"
            },
            {
              "id": "4b83fc29-5bd1-400c-b7d6-067531ea6fca",
              "name": "={{ $json['Variable Name'][6] }}",
              "value": "={{ $json['Variable Value'][6] }}",
              "type": "string"
            },
            {
              "id": "644a4ac7-786d-4c6a-a7f7-a3081c716ac3",
              "name": "={{ $json['Variable Name'][7] }}",
              "value": "={{ $json['Variable Value'][7] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2760,
        140
      ],
      "id": "3e427884-75ba-4fa6-8160-16bc45f410eb",
      "name": "Set canva variables",
      "executeOnce": false
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Variable Name"
            },
            {
              "fieldToAggregate": "Variable Value"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2600,
        140
      ],
      "id": "b81cc96c-3355-4691-abc7-7436bcc55d6d",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "// Get current date and time\nconst now = new Date();\n// Calculate expiry time (current time + expires_in seconds)\nconst expiryTime = new Date(now.getTime() + $input.first().json.expires_in * 1000);\n\n// Format the dates\nconst formattedNow = now.toISOString();\nconst formattedExpiry = expiryTime.toISOString();\n\n// Prepare data for spreadsheet update\nconst updateData = [\n  {\n    \"Variable Name\": \"canvaAccessToken\",\n    \"Variable Value\": $input.first().json.access_token,\n    \"Last Updated\": formattedNow\n  },\n  {\n    \"Variable Name\": \"canvaRefreshToken\",\n    \"Variable Value\": $input.first().json.refresh_token,\n    \"Last Updated\": formattedNow\n  },\n  {\n    \"Variable Name\": \"canva_token_expiry\",\n    \"Variable Value\": formattedExpiry,\n    \"Last Updated\": formattedNow\n  }\n];\n\nreturn {json: {data: updateData}};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3140,
        140
      ],
      "id": "e8d928b7-cd96-4eec-8023-971fea458d21",
      "name": "Process New Tokens"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3340,
        140
      ],
      "id": "e83e93a6-eb2e-42df-854c-57f84e56736e",
      "name": "Turn tokens into items to store"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1mSKACKlIV3BxDT3y1W_v_nD29D7EfAYEi30PhcdxlPM",
          "mode": "list",
          "cachedResultName": "N8N Variables",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mSKACKlIV3BxDT3y1W_v_nD29D7EfAYEi30PhcdxlPM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mSKACKlIV3BxDT3y1W_v_nD29D7EfAYEi30PhcdxlPM/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Variable Name",
              "lookupValue": "canvaAccessToken"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1820,
        -80
      ],
      "id": "0f0eb60d-984a-44b1-8205-9459346f3e6d",
      "name": "Get Canva Tokens",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OSnG48Edzrrh2udV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1mSKACKlIV3BxDT3y1W_v_nD29D7EfAYEi30PhcdxlPM",
          "mode": "list",
          "cachedResultName": "N8N Variables",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mSKACKlIV3BxDT3y1W_v_nD29D7EfAYEi30PhcdxlPM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mSKACKlIV3BxDT3y1W_v_nD29D7EfAYEi30PhcdxlPM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2420,
        140
      ],
      "id": "4543c9ad-27bb-4860-add9-ddf8ad38bc98",
      "name": "Get Current Canva Tokens",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OSnG48Edzrrh2udV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1mSKACKlIV3BxDT3y1W_v_nD29D7EfAYEi30PhcdxlPM",
          "mode": "list",
          "cachedResultName": "N8N Variables",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mSKACKlIV3BxDT3y1W_v_nD29D7EfAYEi30PhcdxlPM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mSKACKlIV3BxDT3y1W_v_nD29D7EfAYEi30PhcdxlPM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Variable Name": "={{ $json['Variable Name'] }}",
            "Last Updated": "={{ $json['Last Updated'] }}",
            "Variable Value": "={{ $json['Variable Value'] }}"
          },
          "matchingColumns": [
            "Variable Name"
          ],
          "schema": [
            {
              "id": "Variable Name",
              "displayName": "Variable Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Variable Value",
              "displayName": "Variable Value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3560,
        140
      ],
      "id": "0fe82fa2-490e-4d5e-b774-073a12113102",
      "name": "Update Canva Tokens in Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OSnG48Edzrrh2udV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate the keywords that will be used in this \"Angel Investor Canvas\", it's like a \"Business Model Canvas\" so it's based on just keywords or short phrases (usually less than 30 characters).\n\nGenerate the keywords for each of these 12 areas, based on the answers provided by the angel investor down below. Make sure that the keywords of each area are always between 10 and 60 characters long.\n\nMake the output look like a excel format, following this format: Name | Email | Phone | Date | Goals | Market Vision | Market Needs | Involvement Profile | Commitment | Added Value | Investment Profile | Investment Plan | Portfolio Plan | Startup Profile | Verticals & Geographies | Business Models\n\nMake sure that the keywords of each area are always between 10 and 60 characters long.\n\nMake sure that the keywords of each area always between 10 and 60 characters long.\n\nMake sure to export the date using the format example: 01-Ene-2020\n\n{{ $json['Canvas Prompts'] }}\n\nTurn it into a json file. \n\nMake sure to space the keywords properly with space and commas.\n\nMake sure that the keywords of each area are always between 10 and 60 characters long.\n\nMAKE SURE TO ELIMINATE ANY SPECIAL CHARACTERS\n\nANGEL INVESTORS ANSWERS:\n\n{{ $('Text with angel responses').item.json[\"Angel Responses\"] }}\nMake sure that the keywords of each area are always between 10 and 60 characters long.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1320,
        -80
      ],
      "id": "db5ecbb0-2707-4f82-b1c5-ff0fb4eeb47b",
      "name": "Canvas Keyword Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Take the following \"INVESTOR ADVICE\" and the following ANSWERS from the ANGEL CANVAS to generate the advice of what type of investment works best for this investor based on his answers. Generate maximum three pros and three cons of his investor type, based on the answers provided.\n\nFormat it as a letter written to the person, starting with \"Dear {{ $('Set Fields').item.json.Name.split(' ')[0] }},\n[Add two Line spaces]\nBased on your angel investing preferences and my experience helping investors like you, I believe that being...\".\nMAKE SURE TO ONLY RECOMMEND ONE TYPE OF INVESTOR TYPE, DON'T MENTION ANYTHING ABOUT COMPLEMENTING OR MIXING INVESTMENT STRATEGIES. JUST EXPLAIN IN A SUMMARIZED WAY IN BETWEEN 50 TO 80 ADDITIONAL CHARACTERS, WHY HIS PREFERENCES ALIGN WITH THAT INVESTOR TYPE.\n[Add one line space]\nPros\nTurn the pros into bulletpoints, each bullet point is between 40 to 50 characters long. MAKE SURE TO ADD A BULLT POINT SYMBOL GLYPH at the beginning of each bullet point \"•\". Only add 3 pros.\n\nCons\nTurn the cons into bulletpoints, each bullet point is between 40 to 50 characters long. MAKE SURE TO ADD A BULLT POINT SYMBOL GLYPH at the beginning of each bullet point \"•\". Only add 3 cons.\n\nThen close with a paragrahp with personalized advice taking between 220 and 300 characters with the following details:\n\n{{ $json['Advice Prompts'] }}\n\nINVESTOR ADVICE HERE:\n\nDo the whole letter in between 500 to 600 characters.\nDo the whole letter in between 500 to 600 characters.\nDo the whole letter in between 500 to 600 characters.\n\nTHE ROLES FOR THE INVESTOR ADVICE:\n{{ $('Aggregated Matrix Advice').item.json.data.toJsonString() }}\nInvestor Types and Personalized Advice Framework:\n\n1. Angel Fund  \n\n    Pros :\n\tInvolvement with flexibility\n\tNetworking \n\tBest early-stage deal-flow\n\tProfessional management\n\tLearn from experienced angels\n\tDiversification \n\tDiscuss decisions \n         \n    Cons :\n\tMight have less independence\n\tA bit of less control\n\tCould have longer lock-in\n\tCould count with management fees\n         \n    Best For :\n        Investors who want to get involved sometimes but can rely on a group when needed. Investors who value diversification and want a professional team but don't want to delegate the entire process.\n        Choose an Angel Fund if you want diversification and professional oversight but don’t want to delegate completely losing the opportunity to engage with startups directly.\n\n\n2. Solo Angel  \n\n    Pros :\n\tDirect relationship with founders\n\tMore independency\n\tFull control\n\tFlexible ticket size\n\tMore involvement with ecosystem\n    Cons :\n        Workload, time commitment and costs\n\tHighest risk and limited diversification\n\tNeed more money available\n\tLimited deal access\n\tStatistically lowers returns\n\tKnowledge requirements\n    Best For :\n        Experienced angels who are very confident in deciding alone, want to get hands-on, and have significant time available. Go Solo if you want full control, direct relationships, and are confident in your investing skills.\n    Customized Message :\n        \"You’ve built a strong intuition and track record investing on your own, but even the best solo angels eventually hit the limits of time and diversification. Consider an angel fund if you find it important to leverage your experience without burning out. An angel fund gives you access to a professionally managed, diversified portfolio and frees up your time to focus on the deals or sectors you're truly passionate about. It’s not about giving up control; it’s about amplifying your impact.\"\n         \n\n3. Small Angel Vehicle (Friends)  \n\n    Pros :\n\tWith friends - trust\n\tShared decision and due dilligence\n\tPooling capital increased ticket size\n\tSignificant involvement\n    Cons :\n\tHigh risk-low diversification\n\tNo professional team\n\tPotential for conflicts, friendship risks\n\tInformal governance\n    Best For :\n        Close-knit, aligned investors who want more leverage but not formal structure.\n        Invest with Friends if you trust each other and want to share risk/effort without formalizing too much.\n         \n    Customized Message :\n        \"Investing with friends has its rewards, but it also has its limits, both in deal access and decision-making. An angel fund can complement your group's strategy by exposing you to larger, more competitive deals, with none of the admin headaches. You still get to learn and share insights together, but with the backing of a dedicated team curating and managing a diversified pipeline.\"\n         \n     \n\n4. Angel Syndicate (Club/Network)  \n\n    Pros :\n\tEvents\n\tTraining opportunities\n\tNetworking\n\tShared due diligence\n\tAccess to vetted deals\n\tLow effort per deal\n         \n    Cons :\n\tRisk of treating startups as entertainment\n\tMore social club than investment \n\tNot professional in most syndicates\n\tFees & carry to lead investor\n\tLess control\n\tDecisions may be rushed\n         \n    Best For :\n        Busy professionals and inexperienced angels who prefer passive involvement with vetted access to deals.\n        Join a Syndicate if you want access to quality deals and community input with minimal effort.\n         \n    Customized Message :\n        \"You already appreciate the power of collective intelligence and deal curation; now imagine that at scale, with a professional team managing portfolio construction, follow-ons, and exits. Angel funds are the next step if you want broader exposure without spending more time. You can still co-invest in your favorite deals while building a stronger, safer base.\"\n\n5. VC Fund  \n\n    Pros :\n\tConvenience\n\tProfessional management\n\tInstitutional-grade due diligence\n\tFollow-on power\n\tDiversification \n         \n    Cons :\n\tNo involvement \n\tNo independence or control\n\tHigh minimum investment commitment\n\tIlliquidity\n\tManagement fees and Carry\n         \n    Best For :\n        Accredited high net worth investors, looking for exposure to high-growth companies with a hands-off approach.\n        Commit to a VC Fund if you want to go big and can afford long-term, illiquid investments with higher minimums and prefer delegating to a management team over getting involved with startups directly.\n         \n    Customized Message :\n        \"If you’re looking for more than just quarterly reports, an angel fund gives you something a VC fund can’t: a seat at the table. You’ll have the opportunity to actively participate in investment decisions, engage directly with founders, and immerse yourself in the early-stage ecosystem — all while benefiting from the structure and diversification of a professionally managed fund. It’s the best of both worlds: the strategic exposure of a VC fund, with the hands-on engagement and learning of an angel. Ideal for investors who want to stay sharp, expand their network, and shape the future, not just watch from the sidelines.\"\n         \nDo the whole letter in between 500 to 600 characters.\nDo the whole letter in between 500 to 600 characters.\nDo the whole letter in between 500 to 600 characters.\n\nREMOVE ANY SPECIAL CHARACTERS FROM THE FINAL OUTPUT.\n\nANGEL CANVAS ANSWERS TO CUSTOMIZE YOUR ADVICE:\nWhat's my previous experience investing in startups?\n{{ $('Set Fields').item.json.Experience }}\nHow much time do I want to dedicate to angel investing?\nAnswer: {{ $('Set Fields').item.json.Commitment }}\nHow much would I be comfortable investing?\nAnswer: {{ $('Set Fields').item.json[\"Investment Plan\"] }}\nHow many startups would I like to invest on?\n{{ $('Set Fields').item.json[\"Portfolio Plan\"] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        4560,
        140
      ],
      "id": "164c6a69-0c8b-44f2-9c9f-8875926d8b4b",
      "name": "Advice Letter Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4600,
        320
      ],
      "id": "89a2858a-f200-47b3-8865-9c5a849893d8",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "7nfzYgmBCbDlvsnG",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.canva.com/rest/v1/autofills",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json['Variable Value'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"brand_template_id\": \"EAGjyByY0JQ\",\n  \"data\": {\n    \"GOALS\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Set Fields').item.json.Goals }}\"\n    },\n    \"MARKETVISION\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Set Fields').item.json['Market Vision'] }}\"\n    },\n    \"MARKETNEEDS\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Set Fields').item.json['Market Needs'] }}\"\n    },\n    \"INVESTMENTPLAN\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Set Fields').item.json['Investment Plan'] }}\"\n    },\n    \"INVESTMENTPROFILE\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Set Fields').item.json['Investment Profile'] }}\"\n    },\n    \"PORTFOLIOPLAN\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Set Fields').item.json['Portfolio Plan'] }}\"\n    },\n    \"BUSINESSMODELS\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Set Fields').item.json['Business Models'] }}\"\n    },\n    \"STARTUPPROFILE\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Set Fields').item.json['Startup Profile'] }}\"\n    },\n    \"VERTICALSANDGEOGRAPHIES\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Set Fields').item.json['Verticals & Geographies'] }}\"\n    },\n    \"ADDEDVALUE\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Set Fields').item.json['Added Value'] }}\"\n    },\n    \"INVOLVEMENTPROFILE\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Set Fields').item.json['Involvement Profile'] }}\"\n    },\n    \"COMMITMENT\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Set Fields').item.json.Commitment }}\"\n    },\n    \"NAME\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Set Fields').item.json.Name }}\"\n    },\n    \"DATE\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Set Fields').item.json.Date }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2020,
        -80
      ],
      "id": "d7d97abc-9986-45f9-b2ac-6b6ed1313ae5",
      "name": "Request (Job) to generate the customized canvas",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://api.canva.com/rest/v1/autofills/{{ $json.job.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Canva Tokens').item.json['Variable Value'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2600,
        -80
      ],
      "id": "644b8002-eaf0-4741-aa15-5df95d2c195b",
      "name": "Get the status of the canvas request (Job) sent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.canva.com/rest/v1/exports",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Canva Tokens').item.json['Variable Value'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"design_id\": \"{{ $json.job.result.design.id }}\",\n  \"format\": {\n    \"type\": \"pdf\",\n    \"size\": \"a4\",\n    \"pages\": [\n      1\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2820,
        -80
      ],
      "id": "eea9f79d-c5a1-4667-9794-853704fba25b",
      "name": "Request (Job) Export the canvas design in PDF"
    },
    {
      "parameters": {
        "url": "=https://api.canva.com/rest/v1/exports/{{ $('Request (Job) Export the canvas design in PDF').item.json.job.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Canva Tokens').item.json['Variable Value'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3180,
        -80
      ],
      "id": "60d6bc77-a21b-419b-a2fe-b636bf6d5669",
      "name": "Request to get the canvas PDF version"
    },
    {
      "parameters": {
        "url": "={{ $('Request to get the canvas PDF version').item.json.job.urls[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3600,
        -80
      ],
      "id": "5124914c-ff50-47ef-bca5-bc8407053a1d",
      "name": "Download the canvas PDF"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.canva.com/rest/v1/autofills",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json['Variable Value'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"brand_template_id\": \"EAGj-OrPzME\",\n  \"data\": {\n    \"Letter P1\": {\n      \"type\": \"text\",\n      \"text\": \"{{ JSON.stringify($('Advice Letter Agent').item.json.output.replace(/\\*/g, '')).slice(1, -1)}}\"\n    },\n    \"Letter P2\": {\n      \"type\": \"text\",\n      \"text\": \"{{ JSON.stringify($('Advice Letter Agent P2').item.json.output.replace(/\\*/g, '')).slice(1, -1)}}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5400,
        140
      ],
      "id": "13238578-7d13-4485-8341-aa29bb8beccf",
      "name": "Request (Job) to generate the customized letter"
    },
    {
      "parameters": {
        "amount": 7
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5600,
        140
      ],
      "id": "5224bd6d-76d7-4e41-8aa3-931d4e0db20b",
      "name": "Wait2",
      "webhookId": "27cc0cd7-dfca-4551-b384-dc1fdbecd70c"
    },
    {
      "parameters": {
        "url": "=https://api.canva.com/rest/v1/autofills/{{ $json.job.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Canva Tokens1').item.json['Variable Value'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5780,
        140
      ],
      "id": "2abd0afc-60db-4cf0-9393-f8cf11b45e64",
      "name": "Get the status of the letter request (Job) sent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.canva.com/rest/v1/exports",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Canva Tokens1').item.json['Variable Value'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"design_id\": \"{{ $json.job.result.design.id }}\",\n  \"format\": {\n    \"type\": \"pdf\",\n    \"size\": \"a4\",\n    \"pages\": [\n      1,\n      2,\n      3\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6000,
        140
      ],
      "id": "d4ae2fa2-d72e-414b-87f0-7ce445ba7876",
      "name": "Request (Job) Export the letter design in PDF"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6160,
        140
      ],
      "id": "d83c9077-da9e-4a74-9e55-23014acad3fc",
      "name": "Wait3",
      "webhookId": "46a6fb47-41d2-495d-8bd8-0f692eb658e0"
    },
    {
      "parameters": {
        "url": "=https://api.canva.com/rest/v1/exports/{{ $('Request (Job) Export the letter design in PDF').item.json.job.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Canva Tokens1').item.json['Variable Value'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6320,
        140
      ],
      "id": "edd9cd94-1bde-4027-93b8-6dc20afd2c73",
      "name": "Request to get the letter PDF version"
    },
    {
      "parameters": {
        "url": "={{ $('Request to get the letter PDF version').item.json.job.urls[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6520,
        140
      ],
      "id": "91d2ef21-b0dc-4916-865e-307f48029c12",
      "name": "Download the letter PDF"
    },
    {
      "parameters": {
        "inputDataFieldName": "=data",
        "name": "=2. Letter to {{ $('Set Fields').item.json.Name.split(' ')[0] }} - How to use the canvas",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create Folder: NAME - Angel Investor Journey').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        6720,
        140
      ],
      "id": "968bec96-0d37-42d0-a6f5-ec8c523424e5",
      "name": "Upload the letter file to the folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BUjeDAwnPTpXv2dJ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1mSKACKlIV3BxDT3y1W_v_nD29D7EfAYEi30PhcdxlPM",
          "mode": "list",
          "cachedResultName": "N8N Variables",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mSKACKlIV3BxDT3y1W_v_nD29D7EfAYEi30PhcdxlPM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mSKACKlIV3BxDT3y1W_v_nD29D7EfAYEi30PhcdxlPM/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Variable Name",
              "lookupValue": "canvaAccessToken"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        5200,
        140
      ],
      "id": "9c7920e8-652d-41c2-9902-44e5edfec410",
      "name": "Get Canva Tokens1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OSnG48Edzrrh2udV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "=1Tb-U0Qlr6Tl2EuEyjAl0S37YPQochOkl",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        5400,
        360
      ],
      "id": "89f76c63-39d6-45c8-8d4f-b9f6318a7e3e",
      "name": "Download the mistakes PDF",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BUjeDAwnPTpXv2dJ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "=data",
        "name": "=3. Five mistakes you must avoid {{ $('Set Fields').item.json.Name.split(' ')[0]  }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create Folder: NAME - Angel Investor Journey').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        5600,
        360
      ],
      "id": "bf7eb772-d298-4ce3-8be4-30ff9694c07c",
      "name": "Upload the mistakes PDF to the folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BUjeDAwnPTpXv2dJ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kVFjxCdcAzoQ2rUvGHDiHhtmvs6nyBWVtiRvtpKXkxw",
          "mode": "list",
          "cachedResultName": "AI Tuning",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kVFjxCdcAzoQ2rUvGHDiHhtmvs6nyBWVtiRvtpKXkxw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Advice Matrix",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kVFjxCdcAzoQ2rUvGHDiHhtmvs6nyBWVtiRvtpKXkxw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3820,
        140
      ],
      "id": "9664063d-7a66-4ee1-bcd0-3f9dbd001165",
      "name": "Get Matrix Advice",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OSnG48Edzrrh2udV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "allFieldsExcept",
        "fieldsToExclude": "row_number",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4020,
        140
      ],
      "id": "af59cfac-a8e6-4d4e-814d-d0d1989194d3",
      "name": "Aggregated Matrix Advice"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Advice Prompts"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4400,
        140
      ],
      "id": "b1704f6d-4bfa-448e-bafa-18dc758a2806",
      "name": "Aggregated Matrix Prompts"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kVFjxCdcAzoQ2rUvGHDiHhtmvs6nyBWVtiRvtpKXkxw",
          "mode": "list",
          "cachedResultName": "AI Tuning",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kVFjxCdcAzoQ2rUvGHDiHhtmvs6nyBWVtiRvtpKXkxw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 403481022,
          "mode": "list",
          "cachedResultName": "Advice Prompts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kVFjxCdcAzoQ2rUvGHDiHhtmvs6nyBWVtiRvtpKXkxw/edit#gid=403481022"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4220,
        140
      ],
      "id": "7e7ae3af-c780-4fc2-ab73-78e4321db1fd",
      "name": "Get Advice Prompts",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OSnG48Edzrrh2udV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kVFjxCdcAzoQ2rUvGHDiHhtmvs6nyBWVtiRvtpKXkxw",
          "mode": "list",
          "cachedResultName": "AI Tuning",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kVFjxCdcAzoQ2rUvGHDiHhtmvs6nyBWVtiRvtpKXkxw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 312792959,
          "mode": "list",
          "cachedResultName": "Canvas Prompts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kVFjxCdcAzoQ2rUvGHDiHhtmvs6nyBWVtiRvtpKXkxw/edit#gid=312792959"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        980,
        -80
      ],
      "id": "498c3a4c-2d58-47c1-a672-e295705bec17",
      "name": "Get Canvas Prompts",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OSnG48Edzrrh2udV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Canvas Prompts"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1160,
        -80
      ],
      "id": "5536aa85-0f73-4688-ba8a-7b9817c95a8c",
      "name": "Aggregated Canvas Prompts"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c1dbca2-f447-409f-9ad1-2f60d575292e",
              "name": "Name",
              "value": "={{$json.output.match(/\"Name\": *\"([^\"]+)\"/)[1]}}",
              "type": "string"
            },
            {
              "id": "ea11b266-934f-4cb3-94a0-6cbe5a2e3a30",
              "name": "Email",
              "value": "={{$json.output.match(/\"Email\": *\"([^\"]+)\"/)[1]}}",
              "type": "string"
            },
            {
              "id": "176dbc87-745c-4839-8ba2-61ed76e3ddcc",
              "name": "Phone",
              "value": "={{$json.output.match(/\"Phone\": *\"([^\"]+)\"/)[1]}}",
              "type": "string"
            },
            {
              "id": "48be97c0-f5a0-4c57-8852-d0265769053d",
              "name": "Date",
              "value": "={{$json.output.match(/\"Date\": *\"([^\"]+)\"/)[1]}}",
              "type": "string"
            },
            {
              "id": "b53720fd-54af-4706-af23-8ca490e4498e",
              "name": "Goals",
              "value": "={{$json.output.match(/\"Goals\": *\"([^\"]+)\"/)[1]}}",
              "type": "string"
            },
            {
              "id": "3dd7e9dc-7db0-4580-9223-149cf14fb8f9",
              "name": "Market Vision",
              "value": "={{$json.output.match(/\"Market Vision\": *\"([^\"]+)\"/)[1]}}",
              "type": "string"
            },
            {
              "id": "9140f763-3876-4123-b351-bf93efba1797",
              "name": "Market Needs",
              "value": "={{$json.output.match(/\"Market Needs\": *\"([^\"]+)\"/)[1]}}",
              "type": "string"
            },
            {
              "id": "9f6108a1-dd34-4af3-9081-3b576737238f",
              "name": "Involvement Profile",
              "value": "={{$json.output.match(/\"Involvement Profile\": *\"([^\"]+)\"/)[1]}}",
              "type": "string"
            },
            {
              "id": "a4de58c4-ea95-42e7-8976-cc8eb676c31d",
              "name": "Commitment",
              "value": "={{$json.output.match(/\"Commitment\": *\"([^\"]+)\"/)[1]}}",
              "type": "string"
            },
            {
              "id": "029ee225-3ff5-48ef-bbe4-3bba223b2249",
              "name": "Added Value",
              "value": "={{$json.output.match(/\"Added Value\": *\"([^\"]+)\"/)[1]}}",
              "type": "string"
            },
            {
              "id": "5f33c80b-48dc-4c15-9eeb-2f9f6909db70",
              "name": "Investment Plan",
              "value": "={{$json.output.match(/\"Investment Plan\": *\"([^\"]+)\"/)[1]}}",
              "type": "string"
            },
            {
              "id": "5c8b8281-cdab-4d6d-867f-7f91a75be66a",
              "name": "Investment Profile",
              "value": "={{$json.output.match(/\"Investment Profile\": *\"([^\"]+)\"/)[1]}}",
              "type": "string"
            },
            {
              "id": "f153cbd1-5dd1-496e-af13-e3eb5f72593f",
              "name": "Portfolio Plan",
              "value": "={{$json.output.match(/\"Portfolio Plan\": *\"([^\"]+)\"/)[1]}}",
              "type": "string"
            },
            {
              "id": "71b62ce9-8a1b-4685-9b76-76605f1cf860",
              "name": "Startup Profile",
              "value": "={{$json.output.match(/\"Startup Profile\": *\"([^\"]+)\"/)[1]}}",
              "type": "string"
            },
            {
              "id": "f5c959c6-a675-4ebd-81fc-bb48cad4ce6c",
              "name": "Verticals & Geographies",
              "value": "={{$json.output.match(/\"Verticals & Geographies\": *\"([^\"]+)\"/)[1]}}",
              "type": "string"
            },
            {
              "id": "60f688a7-b032-4c45-9880-8ce515c84093",
              "name": "Business Models",
              "value": "={{$json.output.match(/\"Business Models\": *\"([^\"]+)\"/)[1]}}",
              "type": "string"
            },
            {
              "id": "18e9a55a-b71d-4f11-985e-8c5a28177124",
              "name": "Experience",
              "value": "={{ $('Filter only non processed and schedule rules').item.json['(1/21) What\\'s my previous experience investing in startups'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1640,
        -80
      ],
      "id": "fc872b1c-7c1b-4788-bc04-c19f241ee718",
      "name": "Set Fields"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Filter only non processed and schedule rules').item.json['Where should I email it to?'] }}",
        "subject": "=Dear {{ $('Set Fields').item.json.Name.split(' ')[0] }}, here’s your Angel Canvas gift as I promised ",
        "message": "=I crafted it based on your unique path and personal preferences to help you on your investor journey.\n<br> \n<br> \nI’ve added it to your personal Angel Journey Folder, along with <b>a letter for you and a list of costly mistakes you must avoid in 2025.</b>\n<br> \n<br>\nhttps://drive.google.com/drive/folders/{{ $('Create Folder: NAME - Angel Investor Journey').item.json.id }}\n<br>\n<br> \nI would appreciate it if you share with me your honest feedback, as I’m on a mission to <b>help 100 thousand angels like you all over the world</b>.\n<br> \n<br>\nSeriously, tell me at least one thing we can do to improve it, and turn it into something your network could really appreciate.\n<br> \n<br> \nText me on whatsapp if that’s easier for you \nhttps://wa.me/351916690277\n<br> \n<br> \nBest,\n<br> \nPedro Bandeira\n<br> \nYAngel CEO",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4020,
        -80
      ],
      "id": "d44430c2-af29-42e0-bccf-5f0a953af3d4",
      "name": "Send canvas email",
      "webhookId": "aa2cf1a7-1560-44dc-8384-da837c2261e8",
      "credentials": {
        "gmailOAuth2": {
          "id": "SzhJjqEOmRz2nVxW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d487c6f6-60ef-4cb8-9fdb-a24880e79260",
              "leftValue": "={{ $json.job.status }}",
              "rightValue": "in_progress",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2200,
        -80
      ],
      "id": "a6853dbc-7e3b-47e4-a6ab-12beb225eba3",
      "name": "If"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4920,
        320
      ],
      "id": "ac1997b4-a250-40e5-a2cf-bfa3c8c33dab",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "tVoBoytfiEtlid1F",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=TURN THE TEXT INTO 4 PARAGRAHPS OF SIMILAR SIZE SEPARATED BY A LINE SPACE.\nTURN THE TEXT INTO 4 PARAGRAHPS OF SIMILAR SIZE SEPARATED BY A LINE SPACE.\nTURN THE TEXT INTO 4 PARAGRAHPS OF SIMILAR SIZE SEPARATED BY A LINE SPACE.\n\nHERE ARE THEANGEL CANVAS ANSWERS TO MATCH THE ADVICE YOU WILL FIND:\n\nTime available\nAnswer: {{ $('Set Fields').item.json.Commitment }}\n\nAmount to invest\nAnswer: {{ $('Set Fields').item.json[\"Investment Plan\"] }}\n\n# of startups\nAnswer: {{ $('Set Fields').item.json[\"Portfolio Plan\"] }}\n\nPrevious experience investing in startups:\nAnswer: {{ $('Set Fields').item.json.Experience }}\n\nHERE IS THE ADVICE MATRIX WHERE YOU WILL FIND THE ADVICE YOU WILL OUTPUT:\n{{ $('Aggregated Matrix Advice').item.json.data.toJsonString() }}\n\nMAKE SURE TO FULLY SEARCH THE ADVICE MATRIX UNTIL YOU FIND A SAMPLE THAT MATCHES THE EXACTLY SAME \"Time available\", \"# of startups\" and \"Amount to invest\" values\n\nMAKE SURE TO FULLY SEARCH THE ADVICE MATRIX UNTIL YOU FIND A SAMPLE THAT MATCHES THE EXACTLY SAME \"Time available\", \"# of startups\" and \"Amount to invest\" values\n\nMAKE SURE TO FULLY SEARCH THE ADVICE MATRIX UNTIL YOU FIND A SAMPLE THAT MATCHES THE EXACTLY SAME \"Time available\", \"# of startups\" and \"Amount to invest\" values\n\nMAKE SURE THE OUTPUT DOESN'T EXCEED 1300 CHARACTERS.\nMAKE SURE THE OUTPUT DOESN'T EXCEED 1300 CHARACTERS.\nMAKE SURE THE OUTPUT DOESN'T EXCEED 1300 CHARACTERS.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        4880,
        140
      ],
      "id": "873e22b1-eb61-432b-b1e4-73265eb27c21",
      "name": "Advice Letter Agent P2"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        5860,
        580
      ],
      "id": "afbed4c6-aeda-4e00-bc65-420abdac6504",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "vWeoWRlPw47GTB0F",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Take the following text and based on the text determine the type of investor that's being adviced to take, among these 6 options.\n\n1. \"Angel Fund\"\n2. \"Solo Angel\"\n3. \"Small Angel Vehicle\"\n4. \"Angel Syndicate\"\n5. \"VC fund\"\n6. \"Crowdfunding\"\n\nMake sure to only output one specific type of investor. Use one of the six specific types I just shared you. \n\nHere is the advice: {{ $('Advice Letter Agent P2').item.json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        5780,
        360
      ],
      "id": "332e1d9f-8bb2-4e9d-a2a4-fcd329a6f406",
      "name": "Investor type extractor"
    },
    {
      "parameters": {
        "phoneNumberId": "661969530322547",
        "recipientPhoneNumber": "={{ $('Get Angel Responses').item.json['What\\'s your phone number?(Add your country code without spaces nor symbols)'].toString() }}",
        "template": "send_canvas_v8|en",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $('Set Fields').item.json.Name.split(' ')[0] }}"
                  },
                  {
                    "text": "={{$('Create Folder: NAME - Angel Investor Journey').item.json.id }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        4200,
        -80
      ],
      "id": "8428e2dd-17cc-4434-b318-dae4b8c93d9c",
      "name": "Send Canvas",
      "webhookId": "b87e957e-832c-4cdc-95b3-f8b98939c432",
      "credentials": {
        "whatsAppApi": {
          "id": "ZconX2ENu6OHeTB8",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8",
          "mode": "list",
          "cachedResultName": "Angel Canvas Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Respondent ID": "={{ $('Filter only non processed and schedule rules').item.json['Respondent ID'] }}",
            "Processed": "YES",
            "Drive URL": "=https://drive.google.com/drive/folders/{{ $('Create Folder: NAME - Angel Investor Journey').item.json.id }}",
            "Phase": "1-Angel Canvas Sent",
            "Last sent": "={{ new Date().getDate() + '-' + ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'][new Date().getMonth()] + '-' + new Date().getFullYear() }}",
            "Investment type": "={{ $json.output.replace(\"\\n\",\"\") }}"
          },
          "matchingColumns": [
            "Respondent ID"
          ],
          "schema": [
            {
              "id": "Submission ID",
              "displayName": "Submission ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Respondent ID",
              "displayName": "Respondent ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Submitted at",
              "displayName": "Submitted at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "What’s your name?",
              "displayName": "What’s your name?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(1/21) What's my previous experience investing in startups",
              "displayName": "(1/21) What's my previous experience investing in startups",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(2/21) How do I perceive my role as an angel investor?",
              "displayName": "(2/21) How do I perceive my role as an angel investor?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "\"Angel investing is a great way to earn money\"",
              "displayName": "\"Angel investing is a great way to earn money\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "\"Angel investing is an efficient way to diversify investments\"",
              "displayName": "\"Angel investing is an efficient way to diversify investments\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "\"Angel investing increases my wealth adequately in view of the risk I bear\"",
              "displayName": "\"Angel investing increases my wealth adequately in view of the risk I bear\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "\"Angel investing is an easy way to invest\"",
              "displayName": "\"Angel investing is an easy way to invest\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "\"Angel investing is not unnecessarily time-consuming\"",
              "displayName": "\"Angel investing is not unnecessarily time-consuming\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "\"Angel investing is a way to give back to society\"",
              "displayName": "\"Angel investing is a way to give back to society\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "\"Angel investing gives me the opportunity to express benevolence toward other people\"",
              "displayName": "\"Angel investing gives me the opportunity to express benevolence toward other people\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "\"Angel investing encourages me to have a life with a higher purpose\"",
              "displayName": "\"Angel investing encourages me to have a life with a higher purpose\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "\"Angel investing boosts my self-esteem\"",
              "displayName": "\"Angel investing boosts my self-esteem\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "\"Angel investing gives me sheer joy\"",
              "displayName": "\"Angel investing gives me sheer joy\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "\"Angel investing makes me feel valuable\"",
              "displayName": "\"Angel investing makes me feel valuable\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "\"Angel investing increases my self-confidence\"",
              "displayName": "\"Angel investing increases my self-confidence\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "\"Angel investing allows me to be part of entrepreneurship\"",
              "displayName": "\"Angel investing allows me to be part of entrepreneurship\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "\"Angel investing gives me the pleasure to begin something from scratch\"",
              "displayName": "\"Angel investing gives me the pleasure to begin something from scratch\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "\"Angel investing gives me the opportunity for involvement with startups\"",
              "displayName": "\"Angel investing gives me the opportunity for involvement with startups\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "\"Angel investing allows me to mentor entrepreneurs\"",
              "displayName": "\"Angel investing allows me to mentor entrepreneurs\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(8/21) What future changes in the world do I foresee and would love to be part of?",
              "displayName": "(8/21) What future changes in the world do I foresee and would love to be part of?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(9/21) Which are the main challenges in the world that startups can solve?",
              "displayName": "(9/21) Which are the main challenges in the world that startups can solve?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(10/21) How much time do I want to dedicate to angel investing?",
              "displayName": "(10/21) How much time do I want to dedicate to angel investing?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(11/21) What can be my key contributions beyond capital? (Pick Max. 3)",
              "displayName": "(11/21) What can be my key contributions beyond capital? (Pick Max. 3)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(12/21) What do I want founders to say about me? (Pick Max. 5)",
              "displayName": "(12/21) What do I want founders to say about me? (Pick Max. 5)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(13/21) What do I want other angels to say about me? (Pick Max. 5)",
              "displayName": "(13/21) What do I want other angels to say about me? (Pick Max. 5)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(14/21) How much would I be comfortable investing? (Strike a balance between making meaningful investments in startups and protecting your financial security)",
              "displayName": "(14/21) How much would I be comfortable investing? (Strike a balance between making meaningful investments in startups and protecting your financial security)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(15/21) How many startups would I like to invest on?",
              "displayName": "(15/21) How many startups would I like to invest on?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(16/21) What types of startups will I invest in? (Pick Max. 3)",
              "displayName": "(16/21) What types of startups will I invest in? (Pick Max. 3)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(17/21) What’s my investment return time frame?",
              "displayName": "(17/21) What’s my investment return time frame?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(18/21) In which geographies will I invest? (Pick Max. 3)",
              "displayName": "(18/21) In which geographies will I invest? (Pick Max. 3)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(19/21) What types of business models will I back? (Pick Max. 5)",
              "displayName": "(19/21) What types of business models will I back? (Pick Max. 5)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(20/21) What are the key reasons that have kept me from angel investing in the past? (Optional)",
              "displayName": "(20/21) What are the key reasons that have kept me from angel investing in the past? (Optional)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(21/21) Which tasks would I delegate to an assistant in my angel investing activities? (Optional)",
              "displayName": "(21/21) Which tasks would I delegate to an assistant in my angel investing activities? (Optional)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Where should I email it to?",
              "displayName": "Where should I email it to?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "What's your phone number?(Add your country code without spaces nor symbols)",
              "displayName": "What's your phone number?(Add your country code without spaces nor symbols)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Processed",
              "displayName": "Processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Drive URL",
              "displayName": "Drive URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phase",
              "displayName": "Phase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last sent",
              "displayName": "Last sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Investment type",
              "displayName": "Investment type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AI Tunning",
              "displayName": "AI Tunning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        6120,
        360
      ],
      "id": "231e6ae7-c10b-4087-ab44-3c335a51fac1",
      "name": "Update Angel Registry Status",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OSnG48Edzrrh2udV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8",
          "mode": "list",
          "cachedResultName": "Angel Canvas Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        360,
        -80
      ],
      "id": "997498cf-e5fb-4fe5-b5ae-8aa8652ec741",
      "name": "Get Angel Responses",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OSnG48Edzrrh2udV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f16b9c65-bb8a-4a89-8d9b-46d93a4e859b",
              "leftValue": "={{ new Date().getHours() >= 8 && new Date().getHours() < 21 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "b29ff6f8-18c7-4bc4-a8bc-826621c7620f",
              "leftValue": "={{ new Date() }}",
              "rightValue": "={{ new Date(new Date($json['Submitted at']).getTime() + 1 * 60 * 60 * 1000).toISOString().replace('T', ' ').slice(0, 19) }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            },
            {
              "id": "a02df3b3-7090-44de-b93c-4bd48341daca",
              "leftValue": "={{ $json.Processed }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        560,
        -80
      ],
      "id": "b69ab8fa-4e6a-4068-8163-322972bdd9f9",
      "name": "Filter only non processed and schedule rules"
    },
    {
      "parameters": {
        "phoneNumberId": "661969530322547",
        "recipientPhoneNumber": "={{ $('Get Angel List').item.json['What\\'s your phone number?(Add your country code without spaces nor symbols)'].toString() }}",
        "template": "gift_card_message_v9|en",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $json['What’s your name?'].split(' ')[0]}}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        720,
        360
      ],
      "id": "5660711f-3f1c-4829-9cd0-2343b816303e",
      "name": "Gift Card Message",
      "webhookId": "58d2530c-6c01-4a9f-8c62-b4be3b77775a",
      "credentials": {
        "whatsAppApi": {
          "id": "ZconX2ENu6OHeTB8",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a02df3b3-7090-44de-b93c-4bd48341daca",
              "leftValue": "={{ $json.Processed }}",
              "rightValue": "YES",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cc0f6b6f-f11f-4e5e-9f31-f9575a852c55",
              "leftValue": "={{ (() => {\n  // Parse the date from $json['Last sent'] (format: \"16-Apr-2025\")\n  const parts = $json['Last sent'].split('-');\n  const day = parseInt(parts[0]);\n  const months = {\"Jan\":0, \"Feb\":1, \"Mar\":2, \"Apr\":3, \"May\":4, \"Jun\":5, \"Jul\":6, \"Aug\":7, \"Sep\":8, \"Oct\":9, \"Nov\":10, \"Dec\":11};\n  const month = months[parts[1]];\n  const year = parseInt(parts[2]);\n  \n  // Create a date object from $json['Last sent']\n  const lastSentDate = new Date(year, month, day);\n  \n  // Add 24 hours (86400000 milliseconds)\n  const lastSentPlus24h = new Date(lastSentDate.getTime() + 7*86400000);\n  \n  // Get current date from new Date().toISOString()\n  const currentDate = new Date();\n  \n  // Compare if current date is greater than or equal to lastSentDate + 24h\n  return currentDate >= lastSentPlus24h;\n})() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "c4b98817-c8d8-4e81-8d70-9284082d82a3",
              "leftValue": "={{ $json.Phase }}",
              "rightValue": "2-Angel Story 0",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        520,
        360
      ],
      "id": "9eb42ff4-9607-49c8-9ac2-9e6b401ee147",
      "name": "Filter only processed & a day older"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get Angel List').item.json['Where should I email it to?'] }}",
        "subject": "=Dear {{ $('Get Angel List').item.json['What’s your name?'].split(' ')[0]  }}, you can also get a customized gift card",
        "message": "=We built the Angel Canvas to support angel investors in making better decisions, and it keeps getting better thanks to the suggestions from people like you.\n<br> \n<br> \nWe are confident it’ll help your network too.\n<br> \n<br>\nYou can now share it to help a current or aspiring angel.\n<br> \n<br>\nAngel Canvas Gift Link\n<br>\nhttps://tally.so/r/n9MY2V\n<br> \n<br>\nYou can also get a personalized gift card to share with a group or someone specific.\n<br> \n<br>\nGet Custom Gift Card\n<br>\nhttps://wa.me/573012748971?text=Get+Custom+Gift+Card\n<br> \n<br>\nBest,\n<br>\nPedro Bandeira\n<br> \nYAngel CEO",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        900,
        360
      ],
      "id": "35acd0af-49ff-402d-83ec-6ee0913146c0",
      "name": "Send Gift Card Email",
      "webhookId": "35a80676-5222-4c22-9af7-fbfdf99cce4f",
      "credentials": {
        "gmailOAuth2": {
          "id": "SzhJjqEOmRz2nVxW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8",
          "mode": "list",
          "cachedResultName": "Angel Canvas Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Phase": "2-Gift Card Sent ",
            "Last sent": "={{ new Date().getDate() + '-' + ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'][new Date().getMonth()] + '-' + new Date().getFullYear() }}",
            "What's your phone number?(Add your country code without spaces nor symbols)": "={{ $('Filter only processed & a day older').item.json['What\\'s your phone number?(Add your country code without spaces nor symbols)'] }}"
          },
          "matchingColumns": [
            "What's your phone number?(Add your country code without spaces nor symbols)"
          ],
          "schema": [
            {
              "id": "Submission ID",
              "displayName": "Submission ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Respondent ID",
              "displayName": "Respondent ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Submitted at",
              "displayName": "Submitted at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "What’s your name?",
              "displayName": "What’s your name?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(1/21) What's my previous experience investing in startups",
              "displayName": "(1/21) What's my previous experience investing in startups",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(2/21) How do I perceive my role as an angel investor?",
              "displayName": "(2/21) How do I perceive my role as an angel investor?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "\"Angel investing is a great way to earn money\"",
              "displayName": "\"Angel investing is a great way to earn money\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "\"Angel investing is an efficient way to diversify investments\"",
              "displayName": "\"Angel investing is an efficient way to diversify investments\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "\"Angel investing increases my wealth adequately in view of the risk I bear\"",
              "displayName": "\"Angel investing increases my wealth adequately in view of the risk I bear\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "\"Angel investing is an easy way to invest\"",
              "displayName": "\"Angel investing is an easy way to invest\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "\"Angel investing is not unnecessarily time-consuming\"",
              "displayName": "\"Angel investing is not unnecessarily time-consuming\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "\"Angel investing is a way to give back to society\"",
              "displayName": "\"Angel investing is a way to give back to society\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "\"Angel investing gives me the opportunity to express benevolence toward other people\"",
              "displayName": "\"Angel investing gives me the opportunity to express benevolence toward other people\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "\"Angel investing encourages me to have a life with a higher purpose\"",
              "displayName": "\"Angel investing encourages me to have a life with a higher purpose\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "\"Angel investing boosts my self-esteem\"",
              "displayName": "\"Angel investing boosts my self-esteem\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "\"Angel investing gives me sheer joy\"",
              "displayName": "\"Angel investing gives me sheer joy\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "\"Angel investing makes me feel valuable\"",
              "displayName": "\"Angel investing makes me feel valuable\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "\"Angel investing increases my self-confidence\"",
              "displayName": "\"Angel investing increases my self-confidence\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "\"Angel investing allows me to be part of entrepreneurship\"",
              "displayName": "\"Angel investing allows me to be part of entrepreneurship\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "\"Angel investing gives me the pleasure to begin something from scratch\"",
              "displayName": "\"Angel investing gives me the pleasure to begin something from scratch\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "\"Angel investing gives me the opportunity for involvement with startups\"",
              "displayName": "\"Angel investing gives me the opportunity for involvement with startups\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "\"Angel investing allows me to mentor entrepreneurs\"",
              "displayName": "\"Angel investing allows me to mentor entrepreneurs\"",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(8/21) What future changes in the world do I foresee and would love to be part of?",
              "displayName": "(8/21) What future changes in the world do I foresee and would love to be part of?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(9/21) Which are the main challenges in the world that startups can solve?",
              "displayName": "(9/21) Which are the main challenges in the world that startups can solve?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(10/21) How much time do I want to dedicate to angel investing?",
              "displayName": "(10/21) How much time do I want to dedicate to angel investing?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(11/21) What can be my key contributions beyond capital? (Pick Max. 3)",
              "displayName": "(11/21) What can be my key contributions beyond capital? (Pick Max. 3)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(12/21) What do I want founders to say about me? (Pick Max. 5)",
              "displayName": "(12/21) What do I want founders to say about me? (Pick Max. 5)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(13/21) What do I want other angels to say about me? (Pick Max. 5)",
              "displayName": "(13/21) What do I want other angels to say about me? (Pick Max. 5)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(14/21) How much would I be comfortable investing? (Strike a balance between making meaningful investments in startups and protecting your financial security)",
              "displayName": "(14/21) How much would I be comfortable investing? (Strike a balance between making meaningful investments in startups and protecting your financial security)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(15/21) How many startups would I like to invest on?",
              "displayName": "(15/21) How many startups would I like to invest on?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(16/21) What types of startups will I invest in? (Pick Max. 3)",
              "displayName": "(16/21) What types of startups will I invest in? (Pick Max. 3)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(17/21) What’s my investment return time frame?",
              "displayName": "(17/21) What’s my investment return time frame?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(18/21) In which geographies will I invest? (Pick Max. 3)",
              "displayName": "(18/21) In which geographies will I invest? (Pick Max. 3)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(19/21) What types of business models will I back? (Pick Max. 5)",
              "displayName": "(19/21) What types of business models will I back? (Pick Max. 5)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(20/21) What are the key reasons that have kept me from angel investing in the past? (Optional)",
              "displayName": "(20/21) What are the key reasons that have kept me from angel investing in the past? (Optional)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "(21/21) Which tasks would I delegate to an assistant in my angel investing activities? (Optional)",
              "displayName": "(21/21) Which tasks would I delegate to an assistant in my angel investing activities? (Optional)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Where should I email it to?",
              "displayName": "Where should I email it to?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "What's your phone number?(Add your country code without spaces nor symbols)",
              "displayName": "What's your phone number?(Add your country code without spaces nor symbols)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Processed",
              "displayName": "Processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Drive URL",
              "displayName": "Drive URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phase",
              "displayName": "Phase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last sent",
              "displayName": "Last sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Investment Type",
              "displayName": "Investment Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "AI Tunning",
              "displayName": "AI Tunning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1100,
        360
      ],
      "id": "e03f7b7e-dfcf-4c20-b513-223796db1507",
      "name": "Update Angel Registry Status1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OSnG48Edzrrh2udV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        160,
        -80
      ],
      "id": "25c52914-5bb2-44f8-b9eb-e0de56bc8959",
      "name": "Schedule Trigger Angel Canvas"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        160,
        360
      ],
      "id": "d39c625d-a49f-4323-b692-1f1840123d4e",
      "name": "Schedule Trigger Gift Card",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f76129ac-554b-46c6-881a-ce9cf6026395",
              "leftValue": "={{ $('Chat start').item.json.messages[0].text.body }}",
              "rightValue": "Get Gift Card",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "668580a4-38dc-4039-acde-2e83b0f07808",
              "leftValue": "={{ $('Chat start').item.json.messages[0].text.body }}",
              "rightValue": "gift",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "a8d3aad6-b8f7-40c0-be62-515a519d9dfe",
              "leftValue": "={{ $('Chat start').item.json.messages[0].text.body }}",
              "rightValue": "Gift",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "321d5b2c-ce0d-49e3-bc8b-bdd6631caa09",
              "leftValue": "={{ $('Chat start').item.json.messages[0].button.text }}",
              "rightValue": "Get Gift Card",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        820,
        840
      ],
      "id": "a870f61a-8df3-4336-9263-6fc7923d5e2d",
      "name": "Check message type"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "661969530322547",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "messageType": "image",
        "mediaLink": "https://drive.usercontent.google.com/download?id=1YUXLQbrpkVu2vUnBQoILulgwW_6ecSv8&export=download&authuser=3&confirm=t&uuid=0379da93-e62d-469f-8638-2f195dea36be&at=APcmpoy0Wx0AsSeRFjTOObIg3Ozs:1744306838874",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1060,
        760
      ],
      "id": "e57b2077-8659-470b-a88c-09326570bc0f",
      "name": "Gift Card Example",
      "webhookId": "7b212c4f-718d-4eae-bbc9-54c53bf80c22",
      "credentials": {
        "whatsAppApi": {
          "id": "ZconX2ENu6OHeTB8",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Chat start').item.json.messages[0].from }}",
        "contextWindowLength": 1
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1460,
        1380
      ],
      "id": "8565327e-1335-4eec-9d02-0c9692e9a418",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "661969530322547",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "textBody": "✨Easter Egg Discovered✨\nType \"Gift\" to get a custom Gift Card.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1900,
        760
      ],
      "id": "6674aab4-7a48-4fc7-8123-8395d34b27ea",
      "name": "Gift Card Default MSG",
      "webhookId": "7b212c4f-718d-4eae-bbc9-54c53bf80c22",
      "credentials": {
        "whatsAppApi": {
          "id": "ZconX2ENu6OHeTB8",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "54422fd0-31b6-4087-a5dc-f71cb2fc1393",
                    "leftValue": "={{ $json.Menu }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($json.Menu == \"Sender\") }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "17931a50-692b-4288-bc4d-927c1967024b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sender"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bb34d3cf-5d15-40fd-ab2e-8cb3b4666c7b",
                    "leftValue": "={{ ($json.Menu == \"Recipient\") }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Recipient"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1580,
        940
      ],
      "id": "ac7bca7a-092a-4cea-a937-059de40e2799",
      "name": "Main Gift Card menu switch",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "661969530322547",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "textBody": "Got it. What’s the name of the person or group you want to gift it to?\n\nExample:\n-Simon Sinek\n-Stanford MBA Alumni\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2580,
        940
      ],
      "id": "037eba66-d2c1-4893-b73e-ddac6252358a",
      "name": "Gift Card Recipient",
      "webhookId": "7b212c4f-718d-4eae-bbc9-54c53bf80c22",
      "credentials": {
        "whatsAppApi": {
          "id": "ZconX2ENu6OHeTB8",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "661969530322547",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "textBody": "I will help you create your own Angel Canvas Gift Card, like this one. \n\nTell me your first and last name.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1280,
        760
      ],
      "id": "7dfeb8af-eada-4202-9be3-efc1d918a10e",
      "name": "Gift Card Sender",
      "webhookId": "7b212c4f-718d-4eae-bbc9-54c53bf80c22",
      "credentials": {
        "whatsAppApi": {
          "id": "ZconX2ENu6OHeTB8",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "user",
              "message": "=UserID:{{ $json.contacts[0].wa_id }}\nTimestamp:{{ $('Chat start').item.json.messages[0].timestamp }}\nMenu: Sender"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        1460,
        760
      ],
      "id": "cf3d7c1d-2ec4-4f44-91b7-03c9562da349",
      "name": "Gift Card Sender Menu In",
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "user",
              "message": "=UserID:{{ $json.UserID }}\nTimestamp:{{ $('Chat start').item.json.messages[0].timestamp }}\nMenu: Recipient\nSender:{{ $('Chat start').item.json.messages[0].text.body }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        2240,
        940
      ],
      "id": "f19cc63e-b640-481d-a114-22d4b3396e83",
      "name": "Gift Card Recipient Menu In",
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "30616b7c-3ff0-4b36-852a-d1aa696d5903",
              "name": "UserID",
              "value": "={{ $('Chat start').item.json.contacts[0].wa_id }}",
              "type": "string"
            },
            {
              "id": "88a3a903-1057-4e35-95db-c4aa9cc5bb33",
              "name": "=Timestamp",
              "value": "={{$json.messages[$json.messagesCount-1].human.match(/Timestamp:\\s*(\\d+)/)?.[1] || null}}",
              "type": "string"
            },
            {
              "id": "f373bbf6-aee6-4ab2-b2e7-a078a0b533ea",
              "name": "Menu",
              "value": "={{$json.messages[$json.messagesCount-1].human.match(/Menu:\\s*(\\S+)/)?.[1] || null}}",
              "type": "string"
            },
            {
              "id": "a9f25064-9661-43e0-b326-e2cc18a75339",
              "name": "Sender",
              "value": "={{$json.messages[$json.messagesCount-1].human.match(/Sender:\\s*([^\\n]+)/)?.[1] || null}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        940
      ],
      "id": "13f8fd87-d84c-4a19-bc0e-679fb9b460f1",
      "name": "Regenerate variables sender"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        1040,
        940
      ],
      "id": "5735046d-d883-4d70-8a7b-c25bb29217c8",
      "name": "Gift Card Menu Out"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "661969530322547",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "textBody": "Ok, I'm creating it. Hold on 20 sec.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1900,
        1140
      ],
      "id": "b7094c99-a1a2-4fc1-b4fa-e6600d36f10a",
      "name": "Gift Card is being processed",
      "webhookId": "7b212c4f-718d-4eae-bbc9-54c53bf80c22",
      "credentials": {
        "whatsAppApi": {
          "id": "ZconX2ENu6OHeTB8",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.canva.com/rest/v1/autofills/{{ $json.job.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Canva Tokens2').item.json['Variable Value'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2860,
        1140
      ],
      "id": "bfa7aadc-4326-4b53-92d7-8f5bb4a2c1e5",
      "name": "Get the status of the gift card request (Job) sent1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2680,
        1140
      ],
      "id": "f6907157-98e5-4a0c-999b-be72b12929a7",
      "name": "Wait8",
      "webhookId": "1ba9038c-52db-48a5-a11d-5350e0ac5161"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.canva.com/rest/v1/autofills",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json['Variable Value'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"brand_template_id\": \"EAGkEVqo5VY\",\n  \"data\": {\n    \"To\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Chat start').item.json.messages[0].text.body }}\"\n    },\n\"From\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Regenerate variables sender').item.json.Sender }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2280,
        1140
      ],
      "id": "0ff69d17-debd-4f4a-ba88-7c30b7a02750",
      "name": "Request (Job) to generate the customized gift card1",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "661969530322547",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "textBody": "Feel free to use the gift card or the message template if you find it useful.  Please always share the link.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        3760,
        1140
      ],
      "id": "1905e131-0a89-4d60-8999-037a4fa95976",
      "name": "Gift Card is done",
      "webhookId": "7b212c4f-718d-4eae-bbc9-54c53bf80c22",
      "credentials": {
        "whatsAppApi": {
          "id": "ZconX2ENu6OHeTB8",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "661969530322547",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "messageType": "image",
        "mediaPath": "useMedian8n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        4140,
        1140
      ],
      "id": "ef5d861f-9ae2-4ef3-970f-58964545ddcf",
      "name": "Gift Card Customized",
      "webhookId": "7b212c4f-718d-4eae-bbc9-54c53bf80c22",
      "credentials": {
        "whatsAppApi": {
          "id": "ZconX2ENu6OHeTB8",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "mode": "delete",
        "deleteMode": "all"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        1900,
        940
      ],
      "id": "0244d402-d7e7-45c8-aa5f-dcaff2e928b8",
      "name": "Clean Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.canva.com/rest/v1/exports",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Canva Tokens2').item.json['Variable Value'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"design_id\": \"{{ $json.job.result.design.id }}\",\n  \"format\": {\n    \"type\": \"jpg\",\n    \"size\": \"1\",\n    \"quality\": \"100\",\n    \"width\": \"2185\",\n    \"height\": \"1550\",\n    \"pages\": [\n      1\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3220,
        1140
      ],
      "id": "a97abf6d-d697-4b33-970f-e12372969c5f",
      "name": "Request (Job) Export the gift card design JPG"
    },
    {
      "parameters": {
        "url": "=https://api.canva.com/rest/v1/exports/{{ $('Request (Job) Export the gift card design JPG').item.json.job.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Canva Tokens2').item.json['Variable Value'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3580,
        1140
      ],
      "id": "efc056ff-5407-4e66-909f-a7d658426874",
      "name": "Request to get the gift card JPG"
    },
    {
      "parameters": {
        "url": "={{ $('Request to get the gift card JPG').item.json.job.urls[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3940,
        1140
      ],
      "id": "ae7d2240-0338-453b-80d4-4dae9908ae5b",
      "name": "Download the gift card JPG"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "185Bg9WwFMoyQlcZUVlYosh0Dp3_LKWamvL6nK6BjI-0",
          "mode": "list",
          "cachedResultName": "Angel Canvas Gift Card",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/185Bg9WwFMoyQlcZUVlYosh0Dp3_LKWamvL6nK6BjI-0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/185Bg9WwFMoyQlcZUVlYosh0Dp3_LKWamvL6nK6BjI-0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sender Whatsapp": "={{ $('Chat start').item.json.contacts[0].wa_id }}",
            "Submitted at": "={{ \n  (() => {\n    const date = new Date($('Chat start').item.json.messages[0].timestamp * 1000);\n    const day = date.getDate().toString().padStart(2, '0');\n    const monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];\n    const month = monthNames[date.getMonth()];\n    const year = date.getFullYear();\n    const time = date.toLocaleTimeString('en-US', {hour: '2-digit', minute:'2-digit', second:'2-digit', hour12: true});\n    \n    return `${day}-${month}-${year}, ${time}`;\n  })()\n}}",
            "Processed": "YES",
            "Recipient (To)": "={{ $('Chat start').item.json.messages[0].text.body }}",
            "Sender (From)": "={{ $('Main Gift Card menu switch').item.json.Sender }}"
          },
          "matchingColumns": [
            "Sender Whatsapp"
          ],
          "schema": [
            {
              "id": "Sender Whatsapp",
              "displayName": "Sender Whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Submitted at",
              "displayName": "Submitted at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sender (From)",
              "displayName": "Sender (From)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Recipient (To)",
              "displayName": "Recipient (To)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Processed",
              "displayName": "Processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4880,
        1140
      ],
      "id": "efb79f70-bc54-44c9-99e4-970f8f2c39d4",
      "name": "Update Gift Card Status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OSnG48Edzrrh2udV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.canva.com/rest/v1/oauth/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Basic {{ $json.EncodedBase64 }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "refresh_token"
            },
            {
              "name": "refresh_token",
              "value": "={{ $json.canvaRefreshToken }}"
            },
            {
              "name": "code_verifier",
              "value": "P2utVxX9jQvVV1WfcLmNSebBcItMOryOfBLfE8duOweY4uwubzybyKLx_HUnOLufqXSF19bf6I-jO3WX3n4H0yuD6v-D_ZPiJ1LLA7wrCfNTQFshSUiyBRExOmNJxceg"
            },
            {
              "name": "code",
              "value": "={{ $json.canvaAuthToken }}"
            },
            {
              "name": "refresh_token",
              "value": "={{ $json.canvaRefreshToken }}"
            },
            {
              "name": "redirect_uri",
              "value": "={{ $json.redirectUri }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3240,
        1340
      ],
      "id": "af85d0d9-209d-4e53-8a91-08c00cd6572e",
      "name": "Refresh Canva Token1",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba4ec344-3a6e-4229-8110-cd3ef389bd47",
              "name": "={{ $json[\"Variable Name\"][0] }}",
              "value": "={{ $json[\"Variable Value\"][0] }}",
              "type": "string"
            },
            {
              "id": "b52979bc-f09b-4564-83ae-09ca7c980ffe",
              "name": "={{ $json[\"Variable Name\"][1] }}",
              "value": "={{ $json[\"Variable Value\"][1] }}",
              "type": "string"
            },
            {
              "id": "8092a730-2d5a-4dba-9bcc-5a04fa046a2a",
              "name": "={{ $json[\"Variable Name\"][2] }}",
              "value": "={{ $json['Variable Value'][2] }}",
              "type": "string"
            },
            {
              "id": "6339f9ad-3372-4d94-8d81-3e8cc0c5dd4b",
              "name": "={{ $json['Variable Name'][3] }}",
              "value": "={{ $json['Variable Value'][3] }}",
              "type": "string"
            },
            {
              "id": "12b6e0f6-4a0c-4c60-9347-1da2f0028fb3",
              "name": "={{ $json['Variable Name'][4] }}",
              "value": "={{ $json['Variable Value'][4] }}",
              "type": "string"
            },
            {
              "id": "821e2c39-9927-499c-9862-919b20e2ab34",
              "name": "={{ $json['Variable Name'][5] }}",
              "value": "={{ $json['Variable Value'][5] }}",
              "type": "string"
            },
            {
              "id": "4b83fc29-5bd1-400c-b7d6-067531ea6fca",
              "name": "={{ $json['Variable Name'][6] }}",
              "value": "={{ $json['Variable Value'][6] }}",
              "type": "string"
            },
            {
              "id": "644a4ac7-786d-4c6a-a7f7-a3081c716ac3",
              "name": "={{ $json['Variable Name'][7] }}",
              "value": "={{ $json['Variable Value'][7] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3040,
        1340
      ],
      "id": "019ce2de-a799-49dc-a1eb-c3900a3e3fdc",
      "name": "Set canva variables1",
      "executeOnce": false
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Variable Name"
            },
            {
              "fieldToAggregate": "Variable Value"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2860,
        1340
      ],
      "id": "25cfd02c-2de7-448c-8dde-4495be33732f",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "jsCode": "// Get current date and time\nconst now = new Date();\n// Calculate expiry time (current time + expires_in seconds)\nconst expiryTime = new Date(now.getTime() + $input.first().json.expires_in * 1000);\n\n// Format the dates\nconst formattedNow = now.toISOString();\nconst formattedExpiry = expiryTime.toISOString();\n\n// Prepare data for spreadsheet update\nconst updateData = [\n  {\n    \"Variable Name\": \"canvaAccessToken\",\n    \"Variable Value\": $input.first().json.access_token,\n    \"Last Updated\": formattedNow\n  },\n  {\n    \"Variable Name\": \"canvaRefreshToken\",\n    \"Variable Value\": $input.first().json.refresh_token,\n    \"Last Updated\": formattedNow\n  },\n  {\n    \"Variable Name\": \"canva_token_expiry\",\n    \"Variable Value\": formattedExpiry,\n    \"Last Updated\": formattedNow\n  }\n];\n\nreturn {json: {data: updateData}};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3440,
        1340
      ],
      "id": "ffa4fd7d-5cd0-44c6-8394-42f613bfbe52",
      "name": "Process New Tokens1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3640,
        1340
      ],
      "id": "fe802184-dd6f-4b9d-b85e-4af6e4dad6ef",
      "name": "Turn tokens into items to store1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1mSKACKlIV3BxDT3y1W_v_nD29D7EfAYEi30PhcdxlPM",
          "mode": "list",
          "cachedResultName": "N8N Variables",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mSKACKlIV3BxDT3y1W_v_nD29D7EfAYEi30PhcdxlPM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mSKACKlIV3BxDT3y1W_v_nD29D7EfAYEi30PhcdxlPM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Variable Name": "={{ $json['Variable Name'] }}",
            "Last Updated": "={{ $json['Last Updated'] }}",
            "Variable Value": "={{ $json['Variable Value'] }}"
          },
          "matchingColumns": [
            "Variable Name"
          ],
          "schema": [
            {
              "id": "Variable Name",
              "displayName": "Variable Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Variable Value",
              "displayName": "Variable Value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3840,
        1340
      ],
      "id": "2b131e4b-8dd5-429a-b29e-9c7f8269b112",
      "name": "Update Canva Tokens in Sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OSnG48Edzrrh2udV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3400,
        1140
      ],
      "id": "8619d9df-d7cc-489b-8633-a4ce20a0b463",
      "name": "Wait4",
      "webhookId": "d61916e1-b90f-43e5-bb9e-c4fc74247908"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1mSKACKlIV3BxDT3y1W_v_nD29D7EfAYEi30PhcdxlPM",
          "mode": "list",
          "cachedResultName": "N8N Variables",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mSKACKlIV3BxDT3y1W_v_nD29D7EfAYEi30PhcdxlPM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mSKACKlIV3BxDT3y1W_v_nD29D7EfAYEi30PhcdxlPM/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Variable Name",
              "lookupValue": "canvaAccessToken"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2080,
        1140
      ],
      "id": "f3a1908c-7dda-4f68-9d04-1b6e076c0141",
      "name": "Get Canva Tokens2",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OSnG48Edzrrh2udV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "43eb84f6-3a80-42f0-b5c4-fca2b63af865",
              "leftValue": "={{ $json.job.status }}",
              "rightValue": "in_progress",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2460,
        1140
      ],
      "id": "0afb6f0f-8c04-4f33-8182-ab29a66ce355",
      "name": "If1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1mSKACKlIV3BxDT3y1W_v_nD29D7EfAYEi30PhcdxlPM",
          "mode": "list",
          "cachedResultName": "N8N Variables",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mSKACKlIV3BxDT3y1W_v_nD29D7EfAYEi30PhcdxlPM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mSKACKlIV3BxDT3y1W_v_nD29D7EfAYEi30PhcdxlPM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2680,
        1340
      ],
      "id": "1cdf69b9-bb98-4ce7-aacf-e0907c0a1165",
      "name": "Get Current Canva Tokens1",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OSnG48Edzrrh2udV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4300,
        1140
      ],
      "id": "caa12760-0b87-4e74-b989-2bf12a0887f9",
      "name": "Wait5",
      "webhookId": "7b8b0806-53fa-4a28-9ec1-b3c7a25eea42"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3040,
        1140
      ],
      "id": "0cb1c167-ae2d-4ef0-8e90-1fbdd4f3037c",
      "name": "Wait6",
      "webhookId": "69caee66-9583-4a20-a408-08d2f217542a"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8",
          "mode": "list",
          "cachedResultName": "Angel Canvas Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Processed",
              "lookupValue": "YES"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        340,
        360
      ],
      "id": "5de47176-bb33-4e71-a603-ec279e2b36c7",
      "name": "Get Angel List",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OSnG48Edzrrh2udV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        140,
        840
      ],
      "id": "f47c8335-c24b-4cdc-b61a-6a6b6e12a8e3",
      "name": "Chat start",
      "webhookId": "7d19a2f2-0b40-4183-8882-2f13466fd8db",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "fPRLKoscGoC5WPvY",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0f1514e2-21cb-4b84-8bd2-dfb23f52c6cd",
              "leftValue": "={{ $json.messages[0].text.body }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "97ea097b-1705-4a42-9e73-eac8be9aca9e",
              "leftValue": "={{ $json.messages[0].button.text }}",
              "rightValue": "={{ $json.messages[0].button.text }}",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        300,
        840
      ],
      "id": "a6d53cad-5089-487a-bd9f-4e982242bc8f",
      "name": "Validate there is a message"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8",
          "mode": "list",
          "cachedResultName": "Angel Canvas Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "What's your phone number?(Add your country code without spaces nor symbols)",
              "lookupValue": "={{ $json.contacts[0].wa_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        480,
        840
      ],
      "id": "4b016255-61b5-4012-8e97-fe3c761b4b74",
      "name": "Get sender name",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OSnG48Edzrrh2udV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1VXDHSvPVoh-ENXEFj6XzjFRcVd8hKFONbwGMSWkRwQ4",
          "mode": "list",
          "cachedResultName": "Chat History Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VXDHSvPVoh-ENXEFj6XzjFRcVd8hKFONbwGMSWkRwQ4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Phase 1 Flow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VXDHSvPVoh-ENXEFj6XzjFRcVd8hKFONbwGMSWkRwQ4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ \n  (() => {\n    const date = new Date($('Chat start').item.json.messages[0].timestamp * 1000);\n    const day = date.getDate().toString().padStart(2, '0');\n    const monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];\n    const month = monthNames[date.getMonth()];\n    const year = date.getFullYear();\n    const time = date.toLocaleTimeString('en-US', {hour: '2-digit', minute:'2-digit', second:'2-digit', hour12: true});\n    \n    return `${day}-${month}-${year}, ${time}`;\n  })()\n}}",
            "Message": "={{ $('Chat start').item.json.messages[0].text?.body || $('Chat start').item.json.messages[0].button?.text || '' }}",
            "Number": "={{ $('Chat start').item.json.messages[0].from }}",
            "Name": "={{ $json['What’s your name?'] }}"
          },
          "matchingColumns": [
            "What's your phone number?(Add your country code without spaces nor symbols)"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        640,
        840
      ],
      "id": "faa0c3fb-a87f-4f4c-9208-491e412ca56a",
      "name": "Log Chat History",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OSnG48Edzrrh2udV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "delete",
        "deleteMode": "all"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        5080,
        1140
      ],
      "id": "31fbcbb7-d83b-4f1e-aee3-e35396af1bf5",
      "name": "Clean Memory1"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "661969530322547",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "textBody": "=Want another one? Just type \"Gift\"",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        4680,
        1140
      ],
      "id": "c68fce16-92e8-4c33-b354-e954b4a4e100",
      "name": "Gift Card Another One",
      "webhookId": "7b212c4f-718d-4eae-bbc9-54c53bf80c22",
      "credentials": {
        "whatsAppApi": {
          "id": "ZconX2ENu6OHeTB8",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "661969530322547",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "textBody": "=I found this tool very useful to understand my angel profile and plan the way I invest.\n\nI believe you will find it useful too.\n\nAngel Canvas Gift Link\nhttps://tally.so/r/n9MY2V",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        4480,
        1140
      ],
      "id": "a6c3d541-ec73-4c36-9a86-274cd3a35bfa",
      "name": "Gift Card Template",
      "webhookId": "7b212c4f-718d-4eae-bbc9-54c53bf80c22",
      "credentials": {
        "whatsAppApi": {
          "id": "ZconX2ENu6OHeTB8",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Canvas Keyword Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text with angel responses": {
      "main": [
        [
          {
            "node": "Get Canvas Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get the status of the canvas request (Job) sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Request to get the canvas PDF version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Folder: NAME - Angel Investor Journey": {
      "main": [
        [
          {
            "node": "Download the canvas PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Matrix Advice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set canva variables": {
      "main": [
        [
          {
            "node": "Refresh Canva Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Set canva variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh Canva Token": {
      "main": [
        [
          {
            "node": "Process New Tokens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process New Tokens": {
      "main": [
        [
          {
            "node": "Turn tokens into items to store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Turn tokens into items to store": {
      "main": [
        [
          {
            "node": "Update Canva Tokens in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload the canvas file to the folder": {
      "main": [
        []
      ]
    },
    "Get Canva Tokens": {
      "main": [
        [
          {
            "node": "Request (Job) to generate the customized canvas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Canva Tokens": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Canvas Keyword Agent": {
      "main": [
        [
          {
            "node": "Set Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Advice Letter Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Advice Letter Agent": {
      "main": [
        [
          {
            "node": "Advice Letter Agent P2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request (Job) to generate the customized canvas": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the status of the canvas request (Job) sent": {
      "main": [
        [
          {
            "node": "Request (Job) Export the canvas design in PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request (Job) Export the canvas design in PDF": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request to get the canvas PDF version": {
      "main": [
        [
          {
            "node": "Create Folder: NAME - Angel Investor Journey",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download the canvas PDF": {
      "main": [
        [
          {
            "node": "Upload the canvas file to the folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request (Job) to generate the customized letter": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Get the status of the letter request (Job) sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the status of the letter request (Job) sent": {
      "main": [
        [
          {
            "node": "Request (Job) Export the letter design in PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request (Job) Export the letter design in PDF": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Request to get the letter PDF version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request to get the letter PDF version": {
      "main": [
        [
          {
            "node": "Download the letter PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download the letter PDF": {
      "main": [
        [
          {
            "node": "Upload the letter file to the folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Canva Tokens1": {
      "main": [
        [
          {
            "node": "Request (Job) to generate the customized letter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download the mistakes PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download the mistakes PDF": {
      "main": [
        [
          {
            "node": "Upload the mistakes PDF to the folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Matrix Advice": {
      "main": [
        [
          {
            "node": "Aggregated Matrix Advice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregated Matrix Advice": {
      "main": [
        [
          {
            "node": "Get Advice Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregated Matrix Prompts": {
      "main": [
        [
          {
            "node": "Advice Letter Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Advice Prompts": {
      "main": [
        [
          {
            "node": "Aggregated Matrix Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Canvas Prompts": {
      "main": [
        [
          {
            "node": "Aggregated Canvas Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregated Canvas Prompts": {
      "main": [
        [
          {
            "node": "Canvas Keyword Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fields": {
      "main": [
        [
          {
            "node": "Get Canva Tokens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send canvas email": {
      "main": [
        [
          {
            "node": "Send Canvas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Current Canva Tokens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Canva Tokens in Sheet": {
      "main": [
        [
          {
            "node": "Get Canva Tokens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Advice Letter Agent P2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Advice Letter Agent P2": {
      "main": [
        [
          {
            "node": "Get Canva Tokens1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Investor type extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Upload the mistakes PDF to the folder": {
      "main": [
        [
          {
            "node": "Investor type extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Investor type extractor": {
      "main": [
        [
          {
            "node": "Update Angel Registry Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Angel Responses": {
      "main": [
        [
          {
            "node": "Filter only non processed and schedule rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter only non processed and schedule rules": {
      "main": [
        [
          {
            "node": "Text with angel responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gift Card Message": {
      "main": [
        [
          {
            "node": "Send Gift Card Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter only processed & a day older": {
      "main": [
        [
          {
            "node": "Gift Card Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Gift Card Email": {
      "main": [
        [
          {
            "node": "Update Angel Registry Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger Angel Canvas": {
      "main": [
        [
          {
            "node": "Get Angel Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger Gift Card": {
      "main": [
        [
          {
            "node": "Get Angel List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check message type": {
      "main": [
        [
          {
            "node": "Gift Card Example",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gift Card Menu Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gift Card Example": {
      "main": [
        [
          {
            "node": "Gift Card Sender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Gift Card Sender Menu In",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Gift Card Menu Out",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Gift Card Recipient Menu In",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Clean Memory",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Clean Memory1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Main Gift Card menu switch": {
      "main": [
        [
          {
            "node": "Gift Card Default MSG",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clean Memory",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gift Card is being processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gift Card Sender": {
      "main": [
        [
          {
            "node": "Gift Card Sender Menu In",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gift Card Recipient Menu In": {
      "main": [
        [
          {
            "node": "Gift Card Recipient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Regenerate variables sender": {
      "main": [
        [
          {
            "node": "Main Gift Card menu switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gift Card Menu Out": {
      "main": [
        [
          {
            "node": "Regenerate variables sender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gift Card is being processed": {
      "main": [
        [
          {
            "node": "Get Canva Tokens2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the status of the gift card request (Job) sent1": {
      "main": [
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait8": {
      "main": [
        [
          {
            "node": "Get the status of the gift card request (Job) sent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request (Job) to generate the customized gift card1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gift Card is done": {
      "main": [
        [
          {
            "node": "Download the gift card JPG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gift Card Customized": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Memory": {
      "main": [
        [
          {
            "node": "Gift Card Recipient Menu In",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request (Job) Export the gift card design JPG": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request to get the gift card JPG": {
      "main": [
        [
          {
            "node": "Gift Card is done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download the gift card JPG": {
      "main": [
        [
          {
            "node": "Gift Card Customized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh Canva Token1": {
      "main": [
        [
          {
            "node": "Process New Tokens1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set canva variables1": {
      "main": [
        [
          {
            "node": "Refresh Canva Token1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Set canva variables1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process New Tokens1": {
      "main": [
        [
          {
            "node": "Turn tokens into items to store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Turn tokens into items to store1": {
      "main": [
        [
          {
            "node": "Update Canva Tokens in Sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Canva Tokens in Sheet1": {
      "main": [
        [
          {
            "node": "Get Canva Tokens2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Request to get the gift card JPG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Canva Tokens2": {
      "main": [
        [
          {
            "node": "Request (Job) to generate the customized gift card1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Wait8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Current Canva Tokens1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Canva Tokens1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "Gift Card Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "Request (Job) Export the gift card design JPG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Angel List": {
      "main": [
        [
          {
            "node": "Filter only processed & a day older",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat start": {
      "main": [
        [
          {
            "node": "Validate there is a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate there is a message": {
      "main": [
        [
          {
            "node": "Get sender name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get sender name": {
      "main": [
        [
          {
            "node": "Log Chat History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Chat History": {
      "main": [
        [
          {
            "node": "Check message type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Gift Card Status": {
      "main": [
        [
          {
            "node": "Clean Memory1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gift Card Another One": {
      "main": [
        [
          {
            "node": "Update Gift Card Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gift Card Template": {
      "main": [
        [
          {
            "node": "Gift Card Another One",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "23c13cd9-087c-4a56-9d6a-3877623a1653",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "45de587cdd5f8411648bbabc480257026e865baa5cd7fd696e8f88a3b643a1aa"
  },
  "id": "COPY4bqjRBTedgkS",
  "tags": []
}