Angel_Canvas_Giftcard_v1.json
{
  "name": "Angel Canvas Giftcard v1",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a02df3b3-7090-44de-b93c-4bd48341daca",
              "leftValue": "={{ $json.Processed }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        760,
        780
      ],
      "id": "b3b397b6-1e70-4652-a5f1-7cefc30176e6",
      "name": "Filter only non processed"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "185Bg9WwFMoyQlcZUVlYosh0Dp3_LKWamvL6nK6BjI-0",
          "mode": "list",
          "cachedResultName": "Angel Canvas Gift Card",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/185Bg9WwFMoyQlcZUVlYosh0Dp3_LKWamvL6nK6BjI-0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/185Bg9WwFMoyQlcZUVlYosh0Dp3_LKWamvL6nK6BjI-0/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        560,
        780
      ],
      "id": "7cb82a8d-f533-448d-a479-352d287dcb76",
      "name": "Giftcard Responses",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "hGEqRJFN7QOSfCLI",
          "name": "Google Sheets Trigger YAngel"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1320,
        780
      ],
      "id": "6facd8ae-c323-45d7-8cb3-fba79ca5a3c6",
      "name": "Wait6",
      "webhookId": "1ba9038c-52db-48a5-a11d-5350e0ac5161"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1880,
        780
      ],
      "id": "b8f59503-b6b4-4157-9127-bb52e99b2272",
      "name": "Wait7",
      "webhookId": "d61916e1-b90f-43e5-bb9e-c4fc74247908"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1mSKACKlIV3BxDT3y1W_v_nD29D7EfAYEi30PhcdxlPM",
          "mode": "list",
          "cachedResultName": "N8N Variables",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mSKACKlIV3BxDT3y1W_v_nD29D7EfAYEi30PhcdxlPM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mSKACKlIV3BxDT3y1W_v_nD29D7EfAYEi30PhcdxlPM/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Variable Name",
              "lookupValue": "canvaAccessToken"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        960,
        780
      ],
      "id": "a241ccf6-3d88-40e5-8395-a93a8ce0f096",
      "name": "Get Canva Tokens",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8FHtADkIvI2iabEq",
          "name": "Google Sheets account YAngel"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.canva.com/rest/v1/autofills",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json['Variable Value'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"brand_template_id\": \"EAGkEVqo5VY\",\n  \"data\": {\n    \"To\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Filter only non processed').item.json['Recipient name (To)'] }}\"\n    },\n\"From\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Filter only non processed').item.json['Your name (From)'] }}\"\n    },\n\"Valid until\": {\n      \"type\": \"text\",\n      \"text\": \"{{((d) => `${String(d.getDate()).padStart(2, '0')}.${d.toLocaleString('en-US', { month: 'short' }).toUpperCase()}.${d.getFullYear()}`)((() => { const d = new Date($('Filter only non processed').item.json['Submitted at']); d.setDate(d.getDate() + 7); return d; })())}}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        780
      ],
      "id": "8e92faff-0b88-4c2f-98a9-1ac5b6472c36",
      "name": "Request (Job) to generate the customized gift card"
    },
    {
      "parameters": {
        "url": "=https://api.canva.com/rest/v1/autofills/{{ $json.job.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Canva Tokens').item.json['Variable Value'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        780
      ],
      "id": "e5040fdc-9c34-4562-b841-68d882513d50",
      "name": "Get the status of the gift card request (Job) sent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.canva.com/rest/v1/exports",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Canva Tokens').item.json['Variable Value'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"design_id\": \"{{ $json.job.result.design.id }}\",\n  \"format\": {\n    \"type\": \"pdf\",\n    \"size\": \"a4\",\n    \"pages\": [\n      1\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        780
      ],
      "id": "42f816ca-2038-4d48-add1-90343524fc3d",
      "name": "Request (Job) Export the gift card design in PDF"
    },
    {
      "parameters": {
        "url": "=https://api.canva.com/rest/v1/exports/{{ $('Request (Job) Export the gift card design in PDF').item.json.job.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Canva Tokens').item.json['Variable Value'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2040,
        780
      ],
      "id": "9e0d57b4-1821-443d-848b-25dcec887e3a",
      "name": "Request to get the gift card PDF version"
    },
    {
      "parameters": {
        "url": "={{ $('Request to get the gift card PDF version').item.json.job.urls[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2240,
        780
      ],
      "id": "e4fd0422-1f2a-46e3-988c-c70a9e4a02c7",
      "name": "Download the gift card PDF"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Filter only non processed').item.json['Recipient email'] }}",
        "subject": "=Dear {{ $('Filter only non processed').item.json['Recipient name (To)'].split(' ')[0]  }}, {{ $('Filter only non processed').item.json['Your name (From)']}} sent you this Gift Card for your own Angel Canvas ",
        "message": "=The Angel Canvas has provided many current and aspiring Angel Investors the tools to succeed and avoid costly mistakes.\n<br> \n<br> \nWe are confident it’ll help you too.\n<br> \n<br> \nCheck it out.\nhttps://tally.so/r/n9MY2V",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2440,
        780
      ],
      "id": "59cdd0f5-cd37-4050-af0f-f1c93ba6c0d5",
      "name": "Send Gift Card Email",
      "webhookId": "35a80676-5222-4c22-9af7-fbfdf99cce4f",
      "credentials": {
        "gmailOAuth2": {
          "id": "3EjxlzWZaOFWu0Qe",
          "name": "Gmail account YAngel"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "185Bg9WwFMoyQlcZUVlYosh0Dp3_LKWamvL6nK6BjI-0",
          "mode": "list",
          "cachedResultName": "Angel Canvas Gift Card",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/185Bg9WwFMoyQlcZUVlYosh0Dp3_LKWamvL6nK6BjI-0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/185Bg9WwFMoyQlcZUVlYosh0Dp3_LKWamvL6nK6BjI-0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Recipient email": "={{ $('Filter only non processed').item.json['Recipient email'] }}",
            "Processed": "YES"
          },
          "matchingColumns": [
            "Recipient email"
          ],
          "schema": [
            {
              "id": "Submission ID",
              "displayName": "Submission ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Respondent ID",
              "displayName": "Respondent ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Submitted at",
              "displayName": "Submitted at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Your name (From)",
              "displayName": "Your name (From)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Recipient name (To)",
              "displayName": "Recipient name (To)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Recipient email",
              "displayName": "Recipient email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Processed",
              "displayName": "Processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2620,
        780
      ],
      "id": "21390cdc-d918-46e4-b9fd-af225c21499c",
      "name": "Update Gift Card Status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8FHtADkIvI2iabEq",
          "name": "Google Sheets account YAngel"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Filter only non processed": {
      "main": [
        [
          {
            "node": "Get Canva Tokens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Giftcard Responses": {
      "main": [
        [
          {
            "node": "Filter only non processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "Get the status of the gift card request (Job) sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait7": {
      "main": [
        [
          {
            "node": "Request to get the gift card PDF version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Canva Tokens": {
      "main": [
        [
          {
            "node": "Request (Job) to generate the customized gift card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request (Job) to generate the customized gift card": {
      "main": [
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the status of the gift card request (Job) sent": {
      "main": [
        [
          {
            "node": "Request (Job) Export the gift card design in PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request (Job) Export the gift card design in PDF": {
      "main": [
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request to get the gift card PDF version": {
      "main": [
        [
          {
            "node": "Download the gift card PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download the gift card PDF": {
      "main": [
        [
          {
            "node": "Send Gift Card Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Gift Card Email": {
      "main": [
        [
          {
            "node": "Update Gift Card Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2993814c-df90-424a-a58f-662bc4c0ceb9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8f2d02d77e7ce3764ed166f99b724308be82a7d9ed12cfd556ccb02cda5d0e50"
  },
  "id": "BFJBT437cNUUj3X4",
  "tags": []
}