Angel_Assistant_v1_1.json
{
  "name": "Angel Assistant v1.1",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "30616b7c-3ff0-4b36-852a-d1aa696d5903",
              "name": "UserID",
              "value": "={{ $('Chat start').item.json.contacts[0].wa_id }}",
              "type": "string"
            },
            {
              "id": "88a3a903-1057-4e35-95db-c4aa9cc5bb33",
              "name": "=Timestamp",
              "value": "={{$json.messages[$json.messagesCount-1].human.match(/Timestamp:\\s*(\\d+)/)?.[1] || null}}",
              "type": "string"
            },
            {
              "id": "305333c1-18d4-4852-86be-87e8d79889ac",
              "name": "Trait",
              "value": "={{$json.messages[$json.messagesCount-1].human.match(/Trait:\\s*([^\\n]+)/)?.[1] || null}}",
              "type": "string"
            },
            {
              "id": "f373bbf6-aee6-4ab2-b2e7-a078a0b533ea",
              "name": "Name",
              "value": "={{$json.messages[$json.messagesCount-1].human.match(/Name:\\s*([^\\n]+)/)?.[1] || null}}",
              "type": "string"
            },
            {
              "id": "c0f61994-a806-4f00-8f1d-c91de36f8586",
              "name": "Menu",
              "value": "={{$json.messages[$json.messagesCount-1].human.match(/Menu:\\s*([^\\r\\n]+)/)?.[1].trim() || null}}",
              "type": "string"
            },
            {
              "id": "a2cde7b1-4176-4d37-a368-a8e171dcbeec",
              "name": "Option",
              "value": "={{$json.messages[$json.messagesCount-1].human.match(/Option:\\s*([\\w\\s]+)/)?.[1] || null}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        -300
      ],
      "id": "7646558b-4dfe-43ba-ab19-55b6bb080ea7",
      "name": "Regenerate variables"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "545590858641488",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "textBody": "📜I do not yet know your name among the scrolls of allies.\n\n*Speak first with the leader of the fund*, and he shall grant you passage.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -120,
        300
      ],
      "id": "e795668b-989b-4c29-9c01-bfe938fabeba",
      "name": "Angel not registered",
      "webhookId": "af638f47-cfd5-4352-8edc-1f90aaab44ea",
      "credentials": {
        "whatsAppApi": {
          "id": "yAckmhoosQkhjF0F",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0f1514e2-21cb-4b84-8bd2-dfb23f52c6cd",
              "leftValue": "={{ $json.messages[0].text.body }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1460,
        -80
      ],
      "id": "407279ea-0282-422d-8abc-cc8340d4740a",
      "name": "Validate there is a message"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1swXBZNhcAgFq0gXJ5fr82moBRjBedZ2YwLzXaTz_rSI",
          "mode": "list",
          "cachedResultName": "Digital Involvement Points Registry",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1swXBZNhcAgFq0gXJ5fr82moBRjBedZ2YwLzXaTz_rSI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Whitelist",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1swXBZNhcAgFq0gXJ5fr82moBRjBedZ2YwLzXaTz_rSI/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Phone",
              "lookupValue": "={{ $json.contacts[0].wa_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1000,
        -120
      ],
      "id": "0d701d4a-ba30-43b7-b16e-d1e9f9829e03",
      "name": "Google Sheets - Authenticate user",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3n7SL3yv7syw7yPh",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fcbac122-3fb2-4f30-8cfd-68c6cdf514fc",
              "leftValue": "={{ $json['Angel name'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -660,
        -100
      ],
      "id": "76f0856f-1fa5-4d43-a38d-cfe1a03a9052",
      "name": "Validate user registration"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f76129ac-554b-46c6-881a-ce9cf6026395",
              "leftValue": "={{ parseInt($('Chat start').item.json.messages[0].text.body) }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -300,
        -120
      ],
      "id": "b4b07970-0035-4e8b-84b2-27d7c161205e",
      "name": "Angel Registered: Starting message vs number option"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Chat start').item.json.contacts[0].wa_id }}",
        "contextWindowLength": 1
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1800,
        500
      ],
      "id": "5428a12b-4940-48fb-aba8-116ecef78c50",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "545590858641488",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.contacts[0].wa_id }}",
        "textBody": "=*{{ $('Google Sheets - Bounty Board').item.json.row_number }}. {{ $('Google Sheets - Bounty Board').item.json['Quest:'] }}*\n\n*Reward:* {{ $('Google Sheets - Bounty Board').item.json['Reward:'] }}\n*Start date:* {{ $('Google Sheets - Bounty Board').item.json['Start Date:'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        3840,
        -740
      ],
      "id": "0eca8678-a083-4491-983c-d9f14b2c289e",
      "name": "Bounty Board Menu",
      "webhookId": "af638f47-cfd5-4352-8edc-1f90aaab44ea",
      "credentials": {
        "whatsAppApi": {
          "id": "yAckmhoosQkhjF0F",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "545590858641488",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "textBody": "=⚒️The master engineer is crafting this mighty on-going quests feature. \n\nIt shall be ready in due time!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        3180,
        -580
      ],
      "id": "995e130b-3303-4657-b4d1-af9ef9ad638b",
      "name": "On-going Quests Menu",
      "webhookId": "af638f47-cfd5-4352-8edc-1f90aaab44ea",
      "credentials": {
        "whatsAppApi": {
          "id": "yAckmhoosQkhjF0F",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "545590858641488",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "textBody": "=⚒️The master engineer is crafting this mighty points menu feature. \n\nIt shall be ready in due time!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        3180,
        -400
      ],
      "id": "071e3e3e-3eee-4b24-8a0e-45472dfef497",
      "name": "My Points Menu",
      "webhookId": "af638f47-cfd5-4352-8edc-1f90aaab44ea",
      "credentials": {
        "whatsAppApi": {
          "id": "yAckmhoosQkhjF0F",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($json.Menu == \"Main\") }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "17931a50-692b-4288-bc4d-927c1967024b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Main"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bb34d3cf-5d15-40fd-ab2e-8cb3b4666c7b",
                    "leftValue": "={{ ($json.Menu == \"Board\" && $('Chat start').item.json.messages[0].text.body == \"0\") }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Main Display"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c304dfa2-bffb-41f9-9387-bd3f634676e2",
                    "leftValue": "={{ $json.Menu == \"Board\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Board"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1620,
        -300
      ],
      "id": "95caf2a2-a342-43ef-bd64-926c85775e40",
      "name": "Main menu switch",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Chat start').item.json.messages[0].text.body == 1 }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "95ec37fc-ef8f-4ff3-9102-2a28c7bc5f83"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1. Bounty Board"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a8f238a2-3662-4de0-baca-8d3cf28c03ec",
                    "leftValue": "={{ $('Chat start').item.json.messages[0].text.body }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2. On-going Quests"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9c653e1a-7f49-440f-bedb-92318b819db9",
                    "leftValue": "={{ $('Chat start').item.json.messages[0].text.body }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "3. My points"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2340,
        -520
      ],
      "id": "b9dd862a-933d-47e1-9be8-d56e45f55171",
      "name": "Main Menu Options"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1swXBZNhcAgFq0gXJ5fr82moBRjBedZ2YwLzXaTz_rSI",
          "mode": "list",
          "cachedResultName": "Digital Involvement Points Registry",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1swXBZNhcAgFq0gXJ5fr82moBRjBedZ2YwLzXaTz_rSI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 568225123,
          "mode": "list",
          "cachedResultName": "Quest Board",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1swXBZNhcAgFq0gXJ5fr82moBRjBedZ2YwLzXaTz_rSI/edit#gid=568225123"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Quest Status:",
              "lookupValue": "Open"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3620,
        -740
      ],
      "id": "f161340a-9066-4406-9726-c0e6ea473419",
      "name": "Google Sheets - Bounty Board",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3n7SL3yv7syw7yPh",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "545590858641488",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "textBody": "=Fate has summoned you! Which adventure will you embark upon?",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        3320,
        -760
      ],
      "id": "fb0cda3c-c9a2-49f1-aad8-f520c824a617",
      "name": "Bounty Board MSG1",
      "webhookId": "af638f47-cfd5-4352-8edc-1f90aaab44ea",
      "executeOnce": false,
      "credentials": {
        "whatsAppApi": {
          "id": "yAckmhoosQkhjF0F",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "user",
              "message": "=UserID:{{ $('Chat start').item.json.messages[0].text.body }}\nTrait:{{ $('Google Sheets - Authenticate user').item.json.Trait }}\nName:{{ $('Google Sheets - Authenticate user').item.json['Angel name'] }}\nTimestamp:{{ $('Chat start').item.json.messages[0].timestamp }}\nMenu: Main\nOption: {{ $('Chat start').item.json.messages[0].text.body }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        540,
        80
      ],
      "id": "98f056f8-a9c4-4617-89e7-cc1142cd3a23",
      "name": "Main Menu In",
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "user",
              "message": "=UserID:{{ $('Chat start').item.json.messages[0].text.body }}\nTrait:{{ $('Google Sheets - Authenticate user').item.json.Trait }}\nName:{{ $('Google Sheets - Authenticate user').item.json['Angel name'] }}\nTimestamp:{{ $('Chat start').item.json.messages[0].timestamp }}\nMenu: Board\nOption: {{ $('Chat start').item.json.messages[0].text.body }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        2780,
        -740
      ],
      "id": "9f61eab8-a4a9-4753-b86f-462ee2190f06",
      "name": "Quest Board Menu In",
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -2060,
        -80
      ],
      "id": "de33b6ac-2884-4736-828c-7e5fd7194d1b",
      "name": "Chat start",
      "webhookId": "79480fe0-f0ce-48ea-b483-b0065161ba22",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "2eV3N85YK9YLJy2q",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        800,
        -300
      ],
      "id": "698a6a2b-ce45-440a-9652-477bc8bd8039",
      "name": "Main Menu Out"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1swXBZNhcAgFq0gXJ5fr82moBRjBedZ2YwLzXaTz_rSI",
          "mode": "list",
          "cachedResultName": "Digital Involvement Points Registry",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1swXBZNhcAgFq0gXJ5fr82moBRjBedZ2YwLzXaTz_rSI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 568225123,
          "mode": "list",
          "cachedResultName": "Quest Board",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1swXBZNhcAgFq0gXJ5fr82moBRjBedZ2YwLzXaTz_rSI/edit#gid=568225123"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Quest ID:",
              "lookupValue": "={{ $('Chat start').item.json.messages[0].text.body }}"
            },
            {
              "lookupColumn": "Quest Status:",
              "lookupValue": "Open"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2340,
        -80
      ],
      "id": "53eddbbb-e849-4475-a058-5b83b6427c4d",
      "name": "Google Sheets - Bounty Board1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3n7SL3yv7syw7yPh",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "545590858641488",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "textBody": "=*{{ $json['Quest ID:'] }}*.  *{{ $json['Quest:'] }}*\n\n*The quest:* {{ $json['The Quest:'] }}\n\n*The choosen one:* {{ $json['The Chosen One:'] }}\n\n*Impact:* {{ $json['Impact:'] }}\n\n*Mission duration:* {{ $json['Mission Duration:'] }}\n\n*Reward:* {{ $json['Reward:'] }}\n\n*Time is of the essence:* {{ $json['Time is of the Essence:'] }}\n\n*Start date:* {{ $json['Start Date:'] }}\n\n*Interested?* {{ $json['Interested?'] }}\n{{ $json['Short link'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2900,
        -180
      ],
      "id": "f8e9ab06-c319-468c-a0d8-02b777c24681",
      "name": "Quest Details",
      "webhookId": "af638f47-cfd5-4352-8edc-1f90aaab44ea",
      "executeOnce": true,
      "credentials": {
        "whatsAppApi": {
          "id": "yAckmhoosQkhjF0F",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "545590858641488",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "textBody": "=⚔️ That quest is not available. Choose another adventure.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2900,
        60
      ],
      "id": "62f2eb3c-ce4e-434b-ab53-38605b68abfe",
      "name": "Non-available Quest",
      "webhookId": "af638f47-cfd5-4352-8edc-1f90aaab44ea",
      "executeOnce": true,
      "credentials": {
        "whatsAppApi": {
          "id": "yAckmhoosQkhjF0F",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "mode": "delete",
        "deleteMode": "all"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        900,
        80
      ],
      "id": "3d86140e-a038-4b86-b99f-59c42b7b6909",
      "name": "Clean Memory",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "545590858641488",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "textBody": "=*How may I assist you?*\n\n1. Show me the bounty board\n2. Show me my on-going quests\n3. Show me my points",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        280,
        80
      ],
      "id": "7785af64-ad7a-4387-903c-e8833bd42d80",
      "name": "Main Menu1",
      "webhookId": "af638f47-cfd5-4352-8edc-1f90aaab44ea",
      "credentials": {
        "whatsAppApi": {
          "id": "yAckmhoosQkhjF0F",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "545590858641488",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "textBody": "=🔮Greetings {{ $json.Trait }} {{ $json['Angel name'] }}. ",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        20,
        80
      ],
      "id": "360e0e31-27ef-438f-9762-562e30d70925",
      "name": "Initial Greeting",
      "webhookId": "af638f47-cfd5-4352-8edc-1f90aaab44ea",
      "credentials": {
        "whatsAppApi": {
          "id": "yAckmhoosQkhjF0F",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "545590858641488",
        "recipientPhoneNumber": "={{ $json.contacts[0].wa_id }}",
        "textBody": "=🗺️Choose a quest ID number to unveil its secrets.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        4360,
        -780
      ],
      "id": "5fff5357-32b3-4556-ae8c-cf6b3e4329d3",
      "name": "Choose a Quest MSG",
      "webhookId": "af638f47-cfd5-4352-8edc-1f90aaab44ea",
      "executeOnce": true,
      "credentials": {
        "whatsAppApi": {
          "id": "yAckmhoosQkhjF0F",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "545590858641488",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "textBody": "=*0. Go back*",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        4100,
        -800
      ],
      "id": "0605f96d-2cf7-43dc-8d55-03db39fd5b0c",
      "name": "Go Back MSG1",
      "webhookId": "af638f47-cfd5-4352-8edc-1f90aaab44ea",
      "executeOnce": true,
      "credentials": {
        "whatsAppApi": {
          "id": "yAckmhoosQkhjF0F",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "545590858641488",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "textBody": "=*0. Go back*",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        3120,
        -180
      ],
      "id": "bf0bba65-8327-4bba-b353-05ff9bdb995f",
      "name": "Go Back MSG2",
      "webhookId": "af638f47-cfd5-4352-8edc-1f90aaab44ea",
      "executeOnce": true,
      "credentials": {
        "whatsAppApi": {
          "id": "yAckmhoosQkhjF0F",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1b089920-3e08-440b-8d2d-3bf60526c4af",
              "leftValue": "={{ $json['Quest Status:'] }}",
              "rightValue": "Open",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2580,
        -80
      ],
      "id": "51609feb-49a5-46f5-b6a8-6ddc7a1b38fe",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Regenerate variables": {
      "main": [
        [
          {
            "node": "Main menu switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate there is a message": {
      "main": [
        [
          {
            "node": "Google Sheets - Authenticate user",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Google Sheets - Authenticate user": {
      "main": [
        [
          {
            "node": "Validate user registration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate user registration": {
      "main": [
        [
          {
            "node": "Angel Registered: Starting message vs number option",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Angel not registered",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Angel Registered: Starting message vs number option": {
      "main": [
        [
          {
            "node": "Main Menu Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Initial Greeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Main Menu In",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Quest Board Menu In",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Main Menu Out",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Clean Memory",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Main menu switch": {
      "main": [
        [
          {
            "node": "Main Menu Options",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Main Menu1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets - Bounty Board1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main Menu Options": {
      "main": [
        [
          {
            "node": "Quest Board Menu In",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "On-going Quests Menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "My Points Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bounty Board Menu": {
      "main": [
        [
          {
            "node": "Go Back MSG1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Bounty Board": {
      "main": [
        [
          {
            "node": "Bounty Board Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bounty Board MSG1": {
      "main": [
        [
          {
            "node": "Google Sheets - Bounty Board",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main Menu In": {
      "main": [
        [
          {
            "node": "Clean Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat start": {
      "main": [
        [
          {
            "node": "Validate there is a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quest Board Menu In": {
      "main": [
        [
          {
            "node": "Bounty Board MSG1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main Menu Out": {
      "main": [
        [
          {
            "node": "Regenerate variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Bounty Board1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main Menu1": {
      "main": [
        [
          {
            "node": "Main Menu In",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initial Greeting": {
      "main": [
        [
          {
            "node": "Main Menu1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Choose a Quest MSG": {
      "main": [
        []
      ]
    },
    "Quest Details": {
      "main": [
        [
          {
            "node": "Go Back MSG2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go Back MSG1": {
      "main": [
        [
          {
            "node": "Choose a Quest MSG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Quest Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Non-available Quest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "9b4b7f26-5d6c-4bae-a429-5e1d97f77535",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fd385dcd0eec939a4845a5e89f7bc223238b9e13cf452d479da9c8717885d553"
  },
  "id": "pGQqUp65PHFjK8zU",
  "tags": []
}