Angel_Stories_v2.json
{
  "name": "Angel_Stories_v2",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8",
          "mode": "list",
          "cachedResultName": "Angel Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 230356662,
          "mode": "list",
          "cachedResultName": "Experience Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8/edit#gid=230356662"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1660,
        1000
      ],
      "id": "76026ad0-da08-44db-a71b-62d7a76d3e6d",
      "name": "Get Angel List",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "g6X4Gl2mfskcXzQh",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "phoneNumberId": "674959875694130",
        "recipientPhoneNumber": "={{ $('Filter based on frequency').item.json.Number.toString() }}",
        "template": "angel_story_v12|en",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $('Filter based on frequency').item.json.Name.split(' ')[0] }}"
                  },
                  {
                    "text": "={{ $('Get Story Data').item.json.Title }}"
                  },
                  {
                    "text": "={{ $json.Duration }}"
                  }
                ]
              }
            },
            {
              "type": "button",
              "sub_type": "url",
              "buttonParameters": {
                "parameter": {
                  "payload": "={{ $json['Drive ID'] }}"
                }
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -780,
        1000
      ],
      "id": "84f02ecc-8cc1-4491-84eb-c0007742fc96",
      "name": "Send Angel Story Message",
      "webhookId": "58d2530c-6c01-4a9f-8c62-b4be3b77775a",
      "credentials": {
        "whatsAppApi": {
          "id": "uqML0bcdThDkfYSB",
          "name": "WhatsApp account Agent"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1suPTIdIkSoDxWFtbh_HiKFwGB-ubwEEm6InWte3Ubfo",
          "mode": "list",
          "cachedResultName": "Angel Experience",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1suPTIdIkSoDxWFtbh_HiKFwGB-ubwEEm6InWte3Ubfo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Angel Stories",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1suPTIdIkSoDxWFtbh_HiKFwGB-ubwEEm6InWte3Ubfo/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID",
              "lookupValue": "={{ $json.Phase.split(\"-\").last().toNumber() +1 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -980,
        1000
      ],
      "id": "c5ee2339-8ea2-4a00-a0b3-f5b32406035d",
      "name": "Get Story Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "g6X4Gl2mfskcXzQh",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f76129ac-554b-46c6-881a-ce9cf6026395",
              "leftValue": "={{ $('Chat start').item.json.messages[0].text.body }}",
              "rightValue": "Access Angel Stories",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "668580a4-38dc-4039-acde-2e83b0f07808",
              "leftValue": "={{ $('Chat start').item.json.messages[0].text.body }}",
              "rightValue": "Access",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "a8d3aad6-b8f7-40c0-be62-515a519d9dfe",
              "leftValue": "={{ $('Chat start').item.json.messages[0].text.body }}",
              "rightValue": "access",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1260,
        180
      ],
      "id": "5b8f0225-03af-4d10-a329-0d96f6dfeedd",
      "name": "Check message type"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Chat start').item.json.messages[0].from }}",
        "contextWindowLength": 1
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -700,
        560
      ],
      "id": "77719b63-081e-4a12-b7cb-f9fbbf2bde95",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "30616b7c-3ff0-4b36-852a-d1aa696d5903",
              "name": "UserID",
              "value": "={{ $('Chat start').item.json.messages[0].from }}",
              "type": "string"
            },
            {
              "id": "88a3a903-1057-4e35-95db-c4aa9cc5bb33",
              "name": "=Timestamp",
              "value": "={{$json.messages[$json.messagesCount-1].human.match(/Timestamp:\\s*(\\d+)/)?.[1] || null}}",
              "type": "string"
            },
            {
              "id": "f373bbf6-aee6-4ab2-b2e7-a078a0b533ea",
              "name": "Menu",
              "value": "={{$json.messages[$json.messagesCount-1].human.match(/Menu:\\s*(\\S+)/)?.[1] || null}}",
              "type": "string"
            },
            {
              "id": "a9f25064-9661-43e0-b326-e2cc18a75339",
              "name": "Name",
              "value": "={{$json.messages[$json.messagesCount-1].human.match(/Name:\\s*([^\\n]+)/)?.[1] || null}}",
              "type": "string"
            },
            {
              "id": "1099529c-638f-40cf-81d3-9ca853835ac0",
              "name": "Level",
              "value": "={{$json.messages[$json.messagesCount-1].human.match(/Level:\\s*([^\\n]+)/)?.[1] || null}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -620,
        300
      ],
      "id": "1fffc141-2711-4f14-84b3-f1b4f089f177",
      "name": "Regenerate variables sender"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -1840,
        180
      ],
      "id": "631203cb-9437-4510-91de-f65c714a4530",
      "name": "Chat start",
      "webhookId": "7d19a2f2-0b40-4183-8882-2f13466fd8db",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "0asdMUFkHO8X88DN",
          "name": "WhatsApp OAuth Assistant"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0f1514e2-21cb-4b84-8bd2-dfb23f52c6cd",
              "leftValue": "={{ $json.messages[0].text.body }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "97ea097b-1705-4a42-9e73-eac8be9aca9e",
              "leftValue": "={{ $json.messages[0].button.text }}",
              "rightValue": "={{ $json.messages[0].button.text }}",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1660,
        180
      ],
      "id": "bb40e089-4f6a-40dc-b0a3-b093947990c9",
      "name": "Validate there is a message"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1VXDHSvPVoh-ENXEFj6XzjFRcVd8hKFONbwGMSWkRwQ4",
          "mode": "list",
          "cachedResultName": "Chat History Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VXDHSvPVoh-ENXEFj6XzjFRcVd8hKFONbwGMSWkRwQ4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Phase 1 Flow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VXDHSvPVoh-ENXEFj6XzjFRcVd8hKFONbwGMSWkRwQ4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ \n  (() => {\n    const date = new Date($('Chat start').item.json.messages[0].timestamp * 1000);\n    const day = date.getDate().toString().padStart(2, '0');\n    const monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];\n    const month = monthNames[date.getMonth()];\n    const year = date.getFullYear();\n    const time = date.toLocaleTimeString('en-US', {hour: '2-digit', minute:'2-digit', second:'2-digit', hour12: true});\n    \n    return `${day}-${month}-${year}, ${time}`;\n  })()\n}}",
            "Message": "={{ $('Chat start').item.json.messages[0].text?.body || $('Chat start').item.json.messages[0].button?.text || '' }}",
            "Number": "={{ $('Chat start').item.json.messages[0].from }}",
            "Name": "={{ $json['What’s your name?'] }}"
          },
          "matchingColumns": [
            "What's your phone number?(Add your country code without spaces nor symbols)"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1460,
        180
      ],
      "id": "1d3fe0bd-b5a2-476d-ba5b-4a2eb365acba",
      "name": "Log Chat History",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "g6X4Gl2mfskcXzQh",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "54422fd0-31b6-4087-a5dc-f71cb2fc1393",
                    "leftValue": "={{ $json.Menu }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($json.Menu == \"Name\") }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "17931a50-692b-4288-bc4d-927c1967024b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Name"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "80fd97af-b1ca-448e-a4f7-d2c20fe45768",
                    "leftValue": "={{ ($json.Menu == \"Level\") }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Level"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6a01d974-6785-4755-86a0-c21530c63262",
                    "leftValue": "={{ ($json.Menu == \"Frequency\") }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Frequency"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -400,
        260
      ],
      "id": "f6a5cf7c-ddb2-4fce-bb4b-783f41637d34",
      "name": "Main Registration menu switch",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "674959875694130",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "textBody": "To get access to Angel Stories, just type \"Access\"",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "adec97f7-a5dc-4583-9d9a-e11d56895d4e",
      "name": "Default MSG",
      "webhookId": "7b212c4f-718d-4eae-bbc9-54c53bf80c22",
      "credentials": {
        "whatsAppApi": {
          "id": "uqML0bcdThDkfYSB",
          "name": "WhatsApp account Agent"
        }
      }
    },
    {
      "parameters": {
        "mode": "delete",
        "deleteMode": "all"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        0,
        180
      ],
      "id": "2e2acffe-40e2-4778-878f-9fb7db6b224a",
      "name": "Clean Memory1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8",
          "mode": "list",
          "cachedResultName": "Angel Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 230356662,
          "mode": "list",
          "cachedResultName": "Experience Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8/edit#gid=230356662"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Submitted at": "={{ \n  (() => {\n    const date = new Date($('Chat start').item.json.messages[0].timestamp * 1000);\n    const day = date.getDate().toString().padStart(2, '0');\n    const monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];\n    const month = monthNames[date.getMonth()];\n    const year = date.getFullYear();\n    const time = date.toLocaleTimeString('en-US', {hour: '2-digit', minute:'2-digit', second:'2-digit', hour12: true});\n    \n    return `${day}-${month}-${year}, ${time}`;\n  })()\n}}",
            "Name": "={{ $('Regenerate variables sender').item.json.Name }}",
            "Number": "={{ $('Regenerate variables sender').item.json.UserID }}",
            "Frequency": "={{ $('Chat start').item.json.messages[0].text.body }}",
            "Phase": "0-Angel Story 0",
            "Last sent": "={{ new Date().getDate() + '-' + ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'][new Date().getMonth()] + '-' + new Date().getFullYear() }}",
            "Level": "={{ \n  ($('Regenerate variables sender').item.json.Level == 1) \n    ? \"Base\" \n    : ($('Regenerate variables sender').item.json.Level == 2) \n      ? \"Intermediate\" \n      : ($('Regenerate variables sender').item.json.Level == 3) \n        ? \"Advanced\" \n        : $('Regenerate variables sender').item.json.Level \n}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Submitted at",
              "displayName": "Submitted at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Frequency",
              "displayName": "Frequency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Level",
              "displayName": "Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phase",
              "displayName": "Phase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last sent",
              "displayName": "Last sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        0,
        500
      ],
      "id": "1f4ee459-a23f-4b43-a989-d7bab2c15a3c",
      "name": "Register Angel Experience Database",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "g6X4Gl2mfskcXzQh",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "674959875694130",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "textBody": "Hello, I will grant you access to Angel Stories (mini podcasts from 3 to 5 min long).\n\n(1/3) What's your full name?",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -960,
        60
      ],
      "id": "e4f6b4ab-5988-4b78-9cd7-5a44f16c2ec2",
      "name": "Ask Angel Name",
      "webhookId": "7b212c4f-718d-4eae-bbc9-54c53bf80c22",
      "credentials": {
        "whatsAppApi": {
          "id": "uqML0bcdThDkfYSB",
          "name": "WhatsApp account Agent"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "674959875694130",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "textBody": "=✅ Success. You have been granted access to Angel Stories.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        200,
        500
      ],
      "id": "0d4aef8f-20d6-4f80-837d-11d8318f2994",
      "name": "Registration success",
      "webhookId": "7b212c4f-718d-4eae-bbc9-54c53bf80c22",
      "credentials": {
        "whatsAppApi": {
          "id": "uqML0bcdThDkfYSB",
          "name": "WhatsApp account Agent"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1suPTIdIkSoDxWFtbh_HiKFwGB-ubwEEm6InWte3Ubfo",
          "mode": "list",
          "cachedResultName": "Angel Stories",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1suPTIdIkSoDxWFtbh_HiKFwGB-ubwEEm6InWte3Ubfo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1suPTIdIkSoDxWFtbh_HiKFwGB-ubwEEm6InWte3Ubfo/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID",
              "lookupValue": "0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        380,
        500
      ],
      "id": "1f4f659c-f822-4961-8fa0-c1ba40fae0d9",
      "name": "Get First Story Data1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "g6X4Gl2mfskcXzQh",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "674959875694130",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "messageType": "audio",
        "mediaPath": "useMedian8n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        720,
        500
      ],
      "id": "0f06c769-634a-4c11-944f-c8ace3e49c95",
      "name": "Send First Angel Story",
      "webhookId": "ead5d192-052c-4e92-a91e-e5868950f08e",
      "credentials": {
        "whatsAppApi": {
          "id": "uqML0bcdThDkfYSB",
          "name": "WhatsApp account Agent"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1BQArs52FRYwemCrE0FisbyJPpZ4Rfybw",
          "mode": "list",
          "cachedResultName": "0-We Believed When No One Did.mp3",
          "cachedResultUrl": "https://drive.google.com/file/d/1BQArs52FRYwemCrE0FisbyJPpZ4Rfybw/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        560,
        500
      ],
      "id": "fd113148-563a-488f-a334-8676fc289cfb",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ucBLEeZsztVtjIOb",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "delete",
        "deleteMode": "all"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        0,
        340
      ],
      "id": "1b6c17bb-8d40-4497-99a1-c07ad81b1e52",
      "name": "Clean Memory2"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "674959875694130",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "textBody": "=Hey {{ $('Register Angel Experience Database').item.json.Name.split(\" \")[0] }}, today's angel story: “{{ $('Get First Story Data1').item.json.Title }}” ({{ $('Get First Story Data1').item.json.Duration }} min)\n\nI'm turning Angel Stories into something your network could really appreciate.\n\nIf there's a concept or story you'd like to propose, just let me know.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1080,
        500
      ],
      "id": "64107dc1-6caa-4a44-a999-33335ffbd696",
      "name": "First Angel Story message",
      "webhookId": "7b212c4f-718d-4eae-bbc9-54c53bf80c22",
      "credentials": {
        "whatsAppApi": {
          "id": "uqML0bcdThDkfYSB",
          "name": "WhatsApp account Agent"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        900,
        500
      ],
      "id": "4d73926e-fbdc-42af-bbc9-1b2ce8f66417",
      "name": "Wait",
      "webhookId": "de682aa7-c533-4afe-996f-0d3ebeb212a8"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1suPTIdIkSoDxWFtbh_HiKFwGB-ubwEEm6InWte3Ubfo",
          "mode": "list",
          "cachedResultName": "Angel Experience",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1suPTIdIkSoDxWFtbh_HiKFwGB-ubwEEm6InWte3Ubfo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2062210914,
          "mode": "list",
          "cachedResultName": "Angel Concepts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1suPTIdIkSoDxWFtbh_HiKFwGB-ubwEEm6InWte3Ubfo/edit#gid=2062210914"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID",
              "lookupValue": "={{ $json.Level == \"Base\" ? \"B\" : ($json.Level == \"Intermediate\" ? \"I\" : ($json.Level == \"Advanced\" ? \"A\" : $json.Level)) }}-{{ $json.Phase.split(\" \").last().toNumber() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -980,
        1180
      ],
      "id": "5a88593b-51cb-4d18-82e8-c6e5b254390c",
      "name": "Get Concept Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "g6X4Gl2mfskcXzQh",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1840,
        1000
      ],
      "id": "f0a909de-7050-4f56-bdb3-05b43641dd46",
      "name": "Schedule Trigger Angel Story"
    },
    {
      "parameters": {
        "phoneNumberId": "674959875694130",
        "recipientPhoneNumber": "={{ $('Filter based on frequency').item.json.Number.toString() }}",
        "template": "angel_story_v12|en",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $('Filter based on frequency').item.json.Name.split(\" \")[0]  }}"
                  },
                  {
                    "text": "={{ $json.Title }}"
                  },
                  {
                    "text": "={{ $json.Duration }}"
                  }
                ]
              }
            },
            {
              "type": "button",
              "sub_type": "url",
              "buttonParameters": {
                "parameter": {
                  "payload": "={{ $json['Drive ID'] }}"
                }
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -780,
        1180
      ],
      "id": "001b27f3-650a-44fc-bae4-7888fc4bd926",
      "name": "Send Angel Concept Message",
      "webhookId": "58d2530c-6c01-4a9f-8c62-b4be3b77775a",
      "credentials": {
        "whatsAppApi": {
          "id": "uqML0bcdThDkfYSB",
          "name": "WhatsApp account Agent"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "674959875694130",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "textBody": "(3/3) How often would you like to have access to Angel Stories?\n\n3. Every 3 days\n4. Every 4 days\n5. Every 5 days\n6. Every 6 days\n7. Every 7 days",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        680,
        340
      ],
      "id": "3e0b6399-44d8-4c97-991b-4938d079018b",
      "name": "Angel Frequency",
      "webhookId": "7b212c4f-718d-4eae-bbc9-54c53bf80c22",
      "credentials": {
        "whatsAppApi": {
          "id": "uqML0bcdThDkfYSB",
          "name": "WhatsApp account Agent"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "674959875694130",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "textBody": "=(2/3) What's your experience as an angel?\n\n1. Base (None to 3 years)\n2. Intermediate (3 to 10 years)\n3. Advanced (10+ years)",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        680,
        180
      ],
      "id": "6adb71ae-2312-4beb-bdbe-87bc40e6218f",
      "name": "Angel Level",
      "webhookId": "7b212c4f-718d-4eae-bbc9-54c53bf80c22",
      "credentials": {
        "whatsAppApi": {
          "id": "uqML0bcdThDkfYSB",
          "name": "WhatsApp account Agent"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "user",
              "message": "=UserID:{{ $('Chat start').item.json.messages[0].from }}\nTimestamp:{{ $('Chat start').item.json.messages[0].timestamp }}\nMenu: Frequency\nName: {{ $('Regenerate variables sender').item.json.Name }}\nLevel: {{ $('Chat start').item.json.messages[0].text.body }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        340,
        340
      ],
      "id": "0417751d-72c4-4b05-9648-352087e5fdf1",
      "name": "Angel Frequency Menu In",
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "user",
              "message": "=UserID:{{ $('Chat start').item.json.messages[0].from }}\nTimestamp:{{ $('Chat start').item.json.messages[0].timestamp }}\nMenu: Level\nName: {{ $('Chat start').item.json.messages[0].text.body }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        340,
        180
      ],
      "id": "c28b3566-2600-48fc-9c42-76619b1bcb4a",
      "name": "Angel Level Menu In",
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "content": "\n\n\n## Send Angel Story or Concept",
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2260,
        980
      ],
      "typeVersion": 1,
      "id": "e790d595-be70-4739-bdbd-50f48a69cbf9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "\n\n\n## Register to Angel Experience",
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2280,
        180
      ],
      "typeVersion": 1,
      "id": "da4f808a-12ce-4b5b-a4db-e4e43e1c18e9",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cc0f6b6f-f11f-4e5e-9f31-f9575a852c55",
              "leftValue": "={{ (() => {\n  // Parse the date from $json['Last sent'] (actual format: \"10-April-2025\")\n  const lastSentStr = $json['Last sent'];\n  // Handle both \"April\" and \"Apr\" formats\n  const monthMap = {\n    \"January\": 0, \"Jan\": 0, \"February\": 1, \"Feb\": 1, \"March\": 2, \"Mar\": 2, \n    \"April\": 3, \"Apr\": 3, \"May\": 4, \"June\": 5, \"Jun\": 5, \"July\": 6, \"Jul\": 6,\n    \"August\": 7, \"Aug\": 7, \"September\": 8, \"Sep\": 8, \"October\": 9, \"Oct\": 9,\n    \"November\": 10, \"Nov\": 10, \"December\": 11, \"Dec\": 11\n  };\n  \n  // Handle potential different date formats\n  let day, month, year;\n  \n  if (lastSentStr.includes('-')) {\n    const parts = lastSentStr.split('-');\n    // Format could be either DD-MMM-YYYY or D-MMM-YYYY\n    day = parseInt(parts[0]);\n    // Find the month string in our map (handles both Apr and April)\n    month = monthMap[parts[1]];\n    year = parseInt(parts[2]);\n  }\n  \n  // Create a date object from last sent\n  const lastSentDate = new Date(year, month, day);\n  \n  // Add frequency * 24 hours\n  const lastSentPlus24h = new Date(lastSentDate.getTime() + $json.Frequency*86400000);\n  \n  // Get current date\n  const currentDate = new Date();\n  \n  // For debugging (would help in real usage)\n  // console.log(\"Last sent:\", lastSentDate, \"Last sent + freq:\", lastSentPlus24h, \"Current:\", currentDate);\n  \n  // Compare if current date is greater than or equal to lastSentDate + frequency*24h\n  return currentDate >= lastSentPlus24h;\n})() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1480,
        1000
      ],
      "id": "673f5d05-923c-447d-b614-7a16e735cb77",
      "name": "Filter based on frequency"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "30ff28ee-2034-417e-91df-ccd5796153d5",
                    "leftValue": "={{ $json.Phase == \"0-Angel Story 0\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Story Track"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "556ae4d9-fe55-4bbd-8a54-0441f735dce3",
                    "leftValue": "={{ $json.Phase.includes(\"Concept\") }}",
                    "rightValue": "Concept",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Story"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Phase.includes(\"Story\") }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "5db360ad-9788-4132-95ab-edf30810ed88"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Concept"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1300,
        1000
      ],
      "id": "50ca34fa-a4f9-4a55-ad32-cdf10c52b059",
      "name": "Switch"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1suPTIdIkSoDxWFtbh_HiKFwGB-ubwEEm6InWte3Ubfo",
          "mode": "list",
          "cachedResultName": "Angel Experience",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1suPTIdIkSoDxWFtbh_HiKFwGB-ubwEEm6InWte3Ubfo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Angel Stories",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1suPTIdIkSoDxWFtbh_HiKFwGB-ubwEEm6InWte3Ubfo/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID",
              "lookupValue": "=1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -980,
        840
      ],
      "id": "57bf82c1-172e-4082-9ef3-ba8d0fd3133a",
      "name": "Get First Story Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "g6X4Gl2mfskcXzQh",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8",
          "mode": "list",
          "cachedResultName": "Angel Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 230356662,
          "mode": "list",
          "cachedResultName": "Experience Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8/edit#gid=230356662"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Last sent": "={{ new Date().getDate() + '-' + ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'][new Date().getMonth()] + '-' + new Date().getFullYear() }}",
            "Number": "={{ $('Get Angel List').item.json.Number }}",
            "Phase": "1-Angel Story 1"
          },
          "matchingColumns": [
            "Number"
          ],
          "schema": [
            {
              "id": "Submitted at",
              "displayName": "Submitted at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Experience",
              "displayName": "Experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Frequency",
              "displayName": "Frequency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phase",
              "displayName": "Phase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last sent",
              "displayName": "Last sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -580,
        840
      ],
      "id": "6b46dc69-b096-463c-809d-1d9908dcb235",
      "name": "Update First Angel Experience Status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "g6X4Gl2mfskcXzQh",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8",
          "mode": "list",
          "cachedResultName": "Angel Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 230356662,
          "mode": "list",
          "cachedResultName": "Experience Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8/edit#gid=230356662"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Last sent": "={{ new Date().getDate() + '-' + ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'][new Date().getMonth()] + '-' + new Date().getFullYear() }}",
            "Number": "={{ $('Filter based on frequency').item.json.Number }}",
            "Phase": "={{ $('Filter based on frequency').item.json.Phase.split(\"-\")[0].toNumber()+1 }}-Angel Story {{ $('Switch').item.json.Phase.split(\"-\").last().toNumber()+1 }}"
          },
          "matchingColumns": [
            "Number"
          ],
          "schema": [
            {
              "id": "Submitted at",
              "displayName": "Submitted at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Frequency",
              "displayName": "Frequency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Level",
              "displayName": "Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phase",
              "displayName": "Phase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last sent",
              "displayName": "Last sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -580,
        1000
      ],
      "id": "ba0d3d3f-e99f-46af-80e6-42c600ca234b",
      "name": "Update Angel Experience Status Story",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "g6X4Gl2mfskcXzQh",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8",
          "mode": "list",
          "cachedResultName": "Angel Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 230356662,
          "mode": "list",
          "cachedResultName": "Experience Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uDtmeq35UuBhw2PJvTJCCO1yJly6N-_eHwy2TgUUvy8/edit#gid=230356662"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Last sent": "={{ new Date().getDate() + '-' + ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'][new Date().getMonth()] + '-' + new Date().getFullYear() }}",
            "Number": "={{ $('Filter based on frequency').item.json.Number }}",
            "Phase": "={{ $('Filter based on frequency').item.json.Phase.split(\"-\")[0].toNumber()+1 }}-Angel Concept {{ $('Switch').item.json.Level.split(\"\")[0] }}-{{ $('Switch').item.json.Phase.split(\" \").last().toNumber() }}"
          },
          "matchingColumns": [
            "Number"
          ],
          "schema": [
            {
              "id": "Submitted at",
              "displayName": "Submitted at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Frequency",
              "displayName": "Frequency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Level",
              "displayName": "Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phase",
              "displayName": "Phase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last sent",
              "displayName": "Last sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -580,
        1180
      ],
      "id": "a89d4aad-774a-4dee-bbbc-d0256b5eeeba",
      "name": "Update Angel Experience Status Concept",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "g6X4Gl2mfskcXzQh",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "phoneNumberId": "674959875694130",
        "recipientPhoneNumber": "={{ $('Filter based on frequency').item.json.Number.toString() }}",
        "template": "angel_story_v12|en",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $('Filter based on frequency').item.json.Name.split(' ')[0] }}"
                  },
                  {
                    "text": "={{ $('Get First Story Data').item.json.Title }}"
                  },
                  {
                    "text": "={{ $json.Duration }}"
                  }
                ]
              }
            },
            {
              "type": "button",
              "sub_type": "url",
              "buttonParameters": {
                "parameter": {
                  "payload": "={{ $json['Drive ID'] }}"
                }
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -780,
        840
      ],
      "id": "a2c44743-6cab-451d-b58c-1a89906559b0",
      "name": "Send Angel Story #1",
      "webhookId": "58d2530c-6c01-4a9f-8c62-b4be3b77775a",
      "credentials": {
        "whatsAppApi": {
          "id": "uqML0bcdThDkfYSB",
          "name": "WhatsApp account Agent"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "user",
              "message": "=UserID:{{ $('Chat start').item.json.messages[0].from }}\nTimestamp:{{ $('Chat start').item.json.messages[0].timestamp }}\nMenu: Name"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -720,
        60
      ],
      "id": "90ba1e15-bebd-4aff-83cd-670f5b2b5f9b",
      "name": "Angel Name Menu In",
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -960,
        300
      ],
      "id": "95be4525-7090-44b8-981e-d4f0d28c0f79",
      "name": "Angel Story Menu Out"
    }
  ],
  "pinData": {},
  "connections": {
    "Get Angel List": {
      "main": [
        [
          {
            "node": "Filter based on frequency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Angel Story Message": {
      "main": [
        [
          {
            "node": "Update Angel Experience Status Story",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Story Data": {
      "main": [
        [
          {
            "node": "Send Angel Story Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check message type": {
      "main": [
        [
          {
            "node": "Ask Angel Name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Angel Story Menu Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Angel Name Menu In",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Angel Story Menu Out",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Clean Memory1",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Angel Level Menu In",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Angel Frequency Menu In",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Clean Memory2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Regenerate variables sender": {
      "main": [
        [
          {
            "node": "Main Registration menu switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat start": {
      "main": [
        [
          {
            "node": "Validate there is a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate there is a message": {
      "main": [
        [
          {
            "node": "Log Chat History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Chat History": {
      "main": [
        [
          {
            "node": "Check message type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main Registration menu switch": {
      "main": [
        [
          {
            "node": "Default MSG",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clean Memory1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clean Memory2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Register Angel Experience Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Memory1": {
      "main": [
        [
          {
            "node": "Angel Level Menu In",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask Angel Name": {
      "main": [
        [
          {
            "node": "Angel Name Menu In",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Angel Experience Database": {
      "main": [
        [
          {
            "node": "Registration success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get First Story Data1": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Send First Angel Story",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Memory2": {
      "main": [
        [
          {
            "node": "Angel Frequency Menu In",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registration success": {
      "main": [
        [
          {
            "node": "Get First Story Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send First Angel Story": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "First Angel Story message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Concept Data": {
      "main": [
        [
          {
            "node": "Send Angel Concept Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger Angel Story": {
      "main": [
        [
          {
            "node": "Get Angel List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Angel Concept Message": {
      "main": [
        [
          {
            "node": "Update Angel Experience Status Concept",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Angel Frequency Menu In": {
      "main": [
        [
          {
            "node": "Angel Frequency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Angel Level Menu In": {
      "main": [
        [
          {
            "node": "Angel Level",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter based on frequency": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get First Story Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Story Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Concept Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get First Story Data": {
      "main": [
        [
          {
            "node": "Send Angel Story #1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Angel Story #1": {
      "main": [
        [
          {
            "node": "Update First Angel Experience Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Angel Story Menu Out": {
      "main": [
        [
          {
            "node": "Regenerate variables sender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "499ec3ba-0dbd-4693-ae40-f9d7811af3fe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "84bfbda17b22864ea6ccd752293914723bde22279881e22d1ec9f8ed802a2a43"
  },
  "id": "FBSKDTrYi7WOfI66",
  "tags": []
}