Email_Sender_v1.json
{
  "name": "Email Sender v1",
  "nodes": [
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "197L-uUacjkFAvGzGpSldxV8zQvfWwyZb0eU6eJz_J_U",
          "mode": "list",
          "cachedResultName": "Networks Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/197L-uUacjkFAvGzGpSldxV8zQvfWwyZb0eU6eJz_J_U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1374262321,
          "mode": "list",
          "cachedResultName": "Email Sender",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/197L-uUacjkFAvGzGpSldxV8zQvfWwyZb0eU6eJz_J_U/edit#gid=1374262321"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "EMAIL": "={{ $('Filter by status').item.json.EMAIL }}",
            "STATUS": "SENT",
            "LAST SENT": "={{ $('Random Trigger (1 to 3) minutes').item.json['Readable date'] }}"
          },
          "matchingColumns": [
            "EMAIL"
          ],
          "schema": [
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ORGANIZATION",
              "displayName": "ORGANIZATION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "NAME",
              "displayName": "NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DOMAIN",
              "displayName": "DOMAIN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FIRST NAME",
              "displayName": "FIRST NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "SUBJECT",
              "displayName": "SUBJECT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "BODY",
              "displayName": "BODY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LAST SENT",
              "displayName": "LAST SENT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        940,
        0
      ],
      "id": "d3abfeb3-d532-4e6e-bc8d-4dfcd3455f29",
      "name": "Update status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZTe0NUFKqCZTEBqm",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "49f08a04-630d-440b-9a62-c9ddb743029e",
              "leftValue": "={{ $json.STATUS == \"READY\" }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        500,
        0
      ],
      "id": "3a8bdb1f-f076-4138-8e88-cf42093f65c3",
      "name": "Filter by status",
      "executeOnce": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": "={{Math.floor(Math.random() * 70*1) +70}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        0
      ],
      "id": "c7ed4a58-6759-4793-9ca3-ab8f24ecbeb5",
      "name": "Random Trigger (1 to 3) minutes"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "197L-uUacjkFAvGzGpSldxV8zQvfWwyZb0eU6eJz_J_U",
          "mode": "list",
          "cachedResultName": "Networks Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/197L-uUacjkFAvGzGpSldxV8zQvfWwyZb0eU6eJz_J_U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1374262321,
          "mode": "list",
          "cachedResultName": "Email Sender",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/197L-uUacjkFAvGzGpSldxV8zQvfWwyZb0eU6eJz_J_U/edit#gid=1374262321"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "STATUS",
              "lookupValue": "READY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        280,
        0
      ],
      "id": "9f0b47f1-8166-48d9-b03c-a0f0a771948d",
      "name": "Get Emails Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9wybitU8goR312Vg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.EMAIL }}",
        "subject": "={{ $json.SUBJECT }}",
        "message": "={{ $json.BODY }}\n<br>\n<br>\nBest,\n<br>\nCarlos Alba\n<br>\nlinkedin.com/in/carlos-alba-ai/",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        720,
        0
      ],
      "id": "14b4ea25-46de-42e4-82f7-380b5fa866a7",
      "name": "Send Email",
      "webhookId": "21f31dd9-9023-4423-9d5f-bc3af0163d50",
      "credentials": {
        "gmailOAuth2": {
          "id": "FdCp4WOyceuFzoK6",
          "name": "Gmail account VC"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Filter by status": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random Trigger (1 to 3) minutes": {
      "main": [
        [
          {
            "node": "Get Emails Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Emails Data": {
      "main": [
        [
          {
            "node": "Filter by status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Update status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "aa396b8c-efb3-44cc-82a8-01b999699965",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1d32c4ceb249c845d5a99e99b2ede3764cbe8ab3d474ff9bce0fa61cd047a465"
  },
  "id": "eAmWrQIt5013aV3d",
  "tags": []
}