Gift_Card_Generator_v1.json
{
  "name": "Gift Card Generator v1",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a02df3b3-7090-44de-b93c-4bd48341daca",
              "leftValue": "={{ $json.Processed }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        180,
        1200
      ],
      "id": "d58252d1-3f42-4ebb-a787-6216a5cc7d75",
      "name": "Filter only non processed"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        740,
        1200
      ],
      "id": "a18a4f76-9878-4e1e-9aab-0107da374010",
      "name": "Wait6",
      "webhookId": "1ba9038c-52db-48a5-a11d-5350e0ac5161"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1300,
        1200
      ],
      "id": "e95f9302-0fa7-4b92-a5e4-ac5d512247dc",
      "name": "Wait7",
      "webhookId": "d61916e1-b90f-43e5-bb9e-c4fc74247908"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1mSKACKlIV3BxDT3y1W_v_nD29D7EfAYEi30PhcdxlPM",
          "mode": "list",
          "cachedResultName": "N8N Variables",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mSKACKlIV3BxDT3y1W_v_nD29D7EfAYEi30PhcdxlPM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mSKACKlIV3BxDT3y1W_v_nD29D7EfAYEi30PhcdxlPM/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Variable Name",
              "lookupValue": "canvaAccessToken"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        360,
        1200
      ],
      "id": "62095477-7fbf-4d5a-a7c5-b586a706f430",
      "name": "Get Canva Tokens",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "z4zcaB2A9lC5GCR4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.canva.com/rest/v1/autofills/{{ $json.job.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Canva Tokens').item.json['Variable Value'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        1200
      ],
      "id": "3fcd3cf0-d584-43b4-8365-5f529c0f545f",
      "name": "Get the status of the gift card request (Job) sent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.canva.com/rest/v1/exports",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Canva Tokens').item.json['Variable Value'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"design_id\": \"{{ $json.job.result.design.id }}\",\n  \"format\": {\n    \"type\": \"pdf\",\n    \"size\": \"a4\",\n    \"pages\": [\n      1\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        1200
      ],
      "id": "7df308ef-cb78-43a5-9644-01c64356275e",
      "name": "Request (Job) Export the gift card design in PDF"
    },
    {
      "parameters": {
        "url": "=https://api.canva.com/rest/v1/exports/{{ $('Request (Job) Export the gift card design in PDF').item.json.job.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Canva Tokens').item.json['Variable Value'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1460,
        1200
      ],
      "id": "d17931c6-fa70-48bb-859c-3e6b3962c3ca",
      "name": "Request to get the gift card PDF version"
    },
    {
      "parameters": {
        "url": "={{ $('Request to get the gift card PDF version').item.json.job.urls[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1660,
        1200
      ],
      "id": "bb15d639-9c97-4d13-955f-b17f42a7bc7a",
      "name": "Download the gift card PDF"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Filter only non processed').item.json['Recipient email'] }}",
        "subject": "=Dear {{ $('Filter only non processed').item.json['Recipient name (To)'].split(' ')[0]  }}, {{ $('Filter only non processed').item.json['Your name (From)']}} sent you this Gift Card for your own Angel Canvas ",
        "message": "=The Angel Canvas has provided many current and aspiring Angel Investors the tools to succeed and avoid costly mistakes.\n<br> \n<br> \nWe are confident it’ll help you too.\n<br> \n<br> \nCheck it out.\nhttps://tally.so/r/n9MY2V",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1860,
        1200
      ],
      "id": "301bf5e2-b96d-4c02-88a2-b3e604b421e3",
      "name": "Send Gift Card Email",
      "webhookId": "35a80676-5222-4c22-9af7-fbfdf99cce4f",
      "credentials": {
        "gmailOAuth2": {
          "id": "r3pB1CfRiDHIZqt1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "185Bg9WwFMoyQlcZUVlYosh0Dp3_LKWamvL6nK6BjI-0",
          "mode": "list",
          "cachedResultName": "Angel Canvas Gift Card",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/185Bg9WwFMoyQlcZUVlYosh0Dp3_LKWamvL6nK6BjI-0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/185Bg9WwFMoyQlcZUVlYosh0Dp3_LKWamvL6nK6BjI-0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Recipient email": "={{ $('Filter only non processed').item.json['Recipient email'] }}",
            "Processed": "YES"
          },
          "matchingColumns": [
            "Recipient email"
          ],
          "schema": [
            {
              "id": "Submission ID",
              "displayName": "Submission ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Respondent ID",
              "displayName": "Respondent ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Submitted at",
              "displayName": "Submitted at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Your name (From)",
              "displayName": "Your name (From)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Recipient name (To)",
              "displayName": "Recipient name (To)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Recipient email",
              "displayName": "Recipient email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Processed",
              "displayName": "Processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2040,
        1200
      ],
      "id": "83be8c81-eea7-42ff-94a2-1b9c580eb5ce",
      "name": "Update Gift Card Status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "z4zcaB2A9lC5GCR4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        160,
        300
      ],
      "id": "2c81b42b-cb5c-42dd-95af-4a437304c419",
      "name": "Chat start",
      "webhookId": "7d19a2f2-0b40-4183-8882-2f13466fd8db",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "pQp2v0ZeXlLFtcLl",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0f1514e2-21cb-4b84-8bd2-dfb23f52c6cd",
              "leftValue": "={{ $json.messages[0].text.body }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        340,
        300
      ],
      "id": "45cedc33-da92-40ac-bb8a-6ec56baee5b1",
      "name": "Validate there is a message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f76129ac-554b-46c6-881a-ce9cf6026395",
              "leftValue": "={{ $('Chat start').item.json.messages[0].text.body }}",
              "rightValue": "Create gift card",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        540,
        300
      ],
      "id": "bde91494-b432-4f52-86ae-333ae6013938",
      "name": "Check message type"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "545590858641488",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "messageType": "image",
        "mediaLink": "https://drive.usercontent.google.com/download?id=1YUXLQbrpkVu2vUnBQoILulgwW_6ecSv8&export=download&authuser=3&confirm=t&uuid=0379da93-e62d-469f-8638-2f195dea36be&at=APcmpoy0Wx0AsSeRFjTOObIg3Ozs:1744306838874",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        860,
        220
      ],
      "id": "4da8df65-161f-46c2-b723-ddafa73a7462",
      "name": "Gift Card Example",
      "webhookId": "7b212c4f-718d-4eae-bbc9-54c53bf80c22",
      "credentials": {
        "whatsAppApi": {
          "id": "XqpzhJSpoR0UqNS3",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Chat start').item.json.messages[0].from }}",
        "contextWindowLength": 1
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1100,
        960
      ],
      "id": "a58b3ddf-e5f2-419f-a216-399abe422ac3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "545590858641488",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "textBody": "To create your gift card just type: \"Create gift card\"",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1700,
        220
      ],
      "id": "c854be4a-862d-4639-8d12-337b0f777f61",
      "name": "Gift Card Default MSG",
      "webhookId": "7b212c4f-718d-4eae-bbc9-54c53bf80c22",
      "credentials": {
        "whatsAppApi": {
          "id": "XqpzhJSpoR0UqNS3",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "54422fd0-31b6-4087-a5dc-f71cb2fc1393",
                    "leftValue": "={{ $json.Menu }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($json.Menu == \"Sender\") }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "17931a50-692b-4288-bc4d-927c1967024b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sender"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bb34d3cf-5d15-40fd-ab2e-8cb3b4666c7b",
                    "leftValue": "={{ ($json.Menu == \"Recipient\") }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Recipient"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1380,
        400
      ],
      "id": "a648f705-0536-4e48-af59-d9362af63d59",
      "name": "Main Gift Card menu switch",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "545590858641488",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "textBody": "Got it. What’s the name of the person you want to gift it to?",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2380,
        400
      ],
      "id": "89b7176a-cdfb-4cf7-9222-75be87eb36d7",
      "name": "Gift Card Recipient",
      "webhookId": "7b212c4f-718d-4eae-bbc9-54c53bf80c22",
      "credentials": {
        "whatsAppApi": {
          "id": "XqpzhJSpoR0UqNS3",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "545590858641488",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "textBody": "Hi, I will help you create your own Angel Canvas Gift Card, like this one. \n\nTell me your first and last name.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1080,
        220
      ],
      "id": "76435f70-9771-4968-b8b3-f0962f7dd802",
      "name": "Gift Card Sender",
      "webhookId": "7b212c4f-718d-4eae-bbc9-54c53bf80c22",
      "credentials": {
        "whatsAppApi": {
          "id": "XqpzhJSpoR0UqNS3",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "user",
              "message": "=UserID:{{ $json.contacts[0].wa_id }}\nTimestamp:{{ $('Chat start').item.json.messages[0].timestamp }}\nMenu: Sender"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        1260,
        220
      ],
      "id": "2a916a62-a124-49f1-beb6-a4cddd542c15",
      "name": "Gift Card Sender Menu In",
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "user",
              "message": "=UserID:{{ $json.UserID }}\nTimestamp:{{ $('Chat start').item.json.messages[0].timestamp }}\nMenu: Recipient\nSender:{{ $('Chat start').item.json.messages[0].text.body }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        2040,
        400
      ],
      "id": "4740fe4f-3219-45d6-9614-b2c5639fe353",
      "name": "Gift Card Recipient Menu In",
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "30616b7c-3ff0-4b36-852a-d1aa696d5903",
              "name": "UserID",
              "value": "={{ $('Chat start').item.json.contacts[0].wa_id }}",
              "type": "string"
            },
            {
              "id": "88a3a903-1057-4e35-95db-c4aa9cc5bb33",
              "name": "=Timestamp",
              "value": "={{$json.messages[$json.messagesCount-1].human.match(/Timestamp:\\s*(\\d+)/)?.[1] || null}}",
              "type": "string"
            },
            {
              "id": "f373bbf6-aee6-4ab2-b2e7-a078a0b533ea",
              "name": "Menu",
              "value": "={{$json.messages[$json.messagesCount-1].human.match(/Menu:\\s*(\\S+)/)?.[1] || null}}",
              "type": "string"
            },
            {
              "id": "a9f25064-9661-43e0-b326-e2cc18a75339",
              "name": "Sender",
              "value": "={{$json.messages[$json.messagesCount-1].human.match(/Sender:\\s*([^\\n]+)/)?.[1] || null}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1160,
        400
      ],
      "id": "b455c916-17ea-4d32-b6bb-349793ec37ac",
      "name": "Regenerate variables sender"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        840,
        400
      ],
      "id": "e18a18fc-5c43-414e-b181-c4af3e2abea1",
      "name": "Gift Card Menu Out"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "545590858641488",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "textBody": "Ok, I'm creating it. Hold on 20 sec.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1700,
        600
      ],
      "id": "d9953440-70a0-4048-80a0-b7f7937fad67",
      "name": "Gift Card is being processed",
      "webhookId": "7b212c4f-718d-4eae-bbc9-54c53bf80c22",
      "credentials": {
        "whatsAppApi": {
          "id": "XqpzhJSpoR0UqNS3",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 230
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        160,
        -80
      ],
      "id": "44e188cd-346c-4585-8f74-1a5a3fd00290",
      "name": "Token Refresh Schedule"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.canva.com/rest/v1/oauth/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Basic {{ $json.EncodedBase64 }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "refresh_token"
            },
            {
              "name": "refresh_token",
              "value": "={{ $json.canvaRefreshToken }}"
            },
            {
              "name": "code_verifier",
              "value": "P2utVxX9jQvVV1WfcLmNSebBcItMOryOfBLfE8duOweY4uwubzybyKLx_HUnOLufqXSF19bf6I-jO3WX3n4H0yuD6v-D_ZPiJ1LLA7wrCfNTQFshSUiyBRExOmNJxceg"
            },
            {
              "name": "code",
              "value": "={{ $json.canvaAuthToken }}"
            },
            {
              "name": "refresh_token",
              "value": "={{ $json.canvaRefreshToken }}"
            },
            {
              "name": "redirect_uri",
              "value": "={{ $json.redirectUri }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        -80
      ],
      "id": "57be8f98-1a2f-4fbe-a3dd-e83ca105bd68",
      "name": "Refresh Canva Token",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba4ec344-3a6e-4229-8110-cd3ef389bd47",
              "name": "={{ $json[\"Variable Name\"][0] }}",
              "value": "={{ $json[\"Variable Value\"][0] }}",
              "type": "string"
            },
            {
              "id": "b52979bc-f09b-4564-83ae-09ca7c980ffe",
              "name": "={{ $json[\"Variable Name\"][1] }}",
              "value": "={{ $json[\"Variable Value\"][1] }}",
              "type": "string"
            },
            {
              "id": "8092a730-2d5a-4dba-9bcc-5a04fa046a2a",
              "name": "={{ $json[\"Variable Name\"][2] }}",
              "value": "={{ $json['Variable Value'][2] }}",
              "type": "string"
            },
            {
              "id": "6339f9ad-3372-4d94-8d81-3e8cc0c5dd4b",
              "name": "={{ $json['Variable Name'][3] }}",
              "value": "={{ $json['Variable Value'][3] }}",
              "type": "string"
            },
            {
              "id": "12b6e0f6-4a0c-4c60-9347-1da2f0028fb3",
              "name": "={{ $json['Variable Name'][4] }}",
              "value": "={{ $json['Variable Value'][4] }}",
              "type": "string"
            },
            {
              "id": "821e2c39-9927-499c-9862-919b20e2ab34",
              "name": "={{ $json['Variable Name'][5] }}",
              "value": "={{ $json['Variable Value'][5] }}",
              "type": "string"
            },
            {
              "id": "4b83fc29-5bd1-400c-b7d6-067531ea6fca",
              "name": "={{ $json['Variable Name'][6] }}",
              "value": "={{ $json['Variable Value'][6] }}",
              "type": "string"
            },
            {
              "id": "644a4ac7-786d-4c6a-a7f7-a3081c716ac3",
              "name": "={{ $json['Variable Name'][7] }}",
              "value": "={{ $json['Variable Value'][7] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        740,
        -80
      ],
      "id": "555405cf-979e-43f1-b631-ed3dae171cf9",
      "name": "Set canva variables",
      "executeOnce": false
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Variable Name"
            },
            {
              "fieldToAggregate": "Variable Value"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        560,
        -80
      ],
      "id": "c4c00b34-9df9-4450-98d9-40584ba79e51",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "// Get current date and time\nconst now = new Date();\n// Calculate expiry time (current time + expires_in seconds)\nconst expiryTime = new Date(now.getTime() + $input.first().json.expires_in * 1000);\n\n// Format the dates\nconst formattedNow = now.toISOString();\nconst formattedExpiry = expiryTime.toISOString();\n\n// Prepare data for spreadsheet update\nconst updateData = [\n  {\n    \"Variable Name\": \"canvaAccessToken\",\n    \"Variable Value\": $input.first().json.access_token,\n    \"Last Updated\": formattedNow\n  },\n  {\n    \"Variable Name\": \"canvaRefreshToken\",\n    \"Variable Value\": $input.first().json.refresh_token,\n    \"Last Updated\": formattedNow\n  },\n  {\n    \"Variable Name\": \"canva_token_expiry\",\n    \"Variable Value\": formattedExpiry,\n    \"Last Updated\": formattedNow\n  }\n];\n\nreturn {json: {data: updateData}};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        -80
      ],
      "id": "40530648-2331-415f-8dd2-80c7f80947b8",
      "name": "Process New Tokens"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1360,
        -80
      ],
      "id": "fcd0c64b-317d-4852-aaf2-86ff69589eb7",
      "name": "Turn tokens into items to store"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1mSKACKlIV3BxDT3y1W_v_nD29D7EfAYEi30PhcdxlPM",
          "mode": "list",
          "cachedResultName": "N8N Variables",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mSKACKlIV3BxDT3y1W_v_nD29D7EfAYEi30PhcdxlPM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mSKACKlIV3BxDT3y1W_v_nD29D7EfAYEi30PhcdxlPM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        380,
        -80
      ],
      "id": "76fd4c0d-59ff-4517-91aa-989fbbe69979",
      "name": "Get Current Canva Tokens",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "z4zcaB2A9lC5GCR4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1mSKACKlIV3BxDT3y1W_v_nD29D7EfAYEi30PhcdxlPM",
          "mode": "list",
          "cachedResultName": "N8N Variables",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mSKACKlIV3BxDT3y1W_v_nD29D7EfAYEi30PhcdxlPM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mSKACKlIV3BxDT3y1W_v_nD29D7EfAYEi30PhcdxlPM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Variable Name": "={{ $json['Variable Name'] }}",
            "Last Updated": "={{ $json['Last Updated'] }}",
            "Variable Value": "={{ $json['Variable Value'] }}"
          },
          "matchingColumns": [
            "Variable Name"
          ],
          "schema": [
            {
              "id": "Variable Name",
              "displayName": "Variable Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Variable Value",
              "displayName": "Variable Value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1580,
        -80
      ],
      "id": "d9f5b099-cc53-411d-a966-0d4839968480",
      "name": "Update Canva Tokens in Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "z4zcaB2A9lC5GCR4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2840,
        600
      ],
      "id": "409d5422-f184-4250-a2be-8aac9ae47a97",
      "name": "Wait",
      "webhookId": "d61916e1-b90f-43e5-bb9e-c4fc74247908"
    },
    {
      "parameters": {
        "url": "=https://api.canva.com/rest/v1/autofills/{{ $json.job.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Canva Tokens1').item.json['Variable Value'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        600
      ],
      "id": "25d310b6-0d3a-4375-a984-06f26dc7f542",
      "name": "Get the status of the gift card request (Job) sent1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.canva.com/rest/v1/autofills",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json['Variable Value'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"brand_template_id\": \"EAGkEVqo5VY\",\n  \"data\": {\n    \"To\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Filter only non processed').item.json['Recipient name (To)'] }}\"\n    },\n\"From\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Filter only non processed').item.json['Your name (From)'] }}\"\n    },\n\"Valid until\": {\n      \"type\": \"text\",\n      \"text\": \"{{((d) => `${String(d.getDate()).padStart(2, '0')}.${d.toLocaleString('en-US', { month: 'short' }).toUpperCase()}.${d.getFullYear()}`)((() => { const d = new Date($('Filter only non processed').item.json['Submitted at']); d.setDate(d.getDate() + 7); return d; })())}}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        1200
      ],
      "id": "9bf9e897-f220-43a9-a866-7835d836c084",
      "name": "Request (Job) to generate the customized gift card"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2260,
        600
      ],
      "id": "b3865006-819d-4c7b-afe3-0163c684da7e",
      "name": "Wait8",
      "webhookId": "1ba9038c-52db-48a5-a11d-5350e0ac5161"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.canva.com/rest/v1/autofills",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json['Variable Value'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"brand_template_id\": \"EAGkEVqo5VY\",\n  \"data\": {\n    \"To\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Chat start').item.json.messages[0].text.body }}\"\n    },\n\"From\": {\n      \"type\": \"text\",\n      \"text\": \"{{ $('Regenerate variables sender').item.json.Sender }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        600
      ],
      "id": "24a3d897-4eb7-418e-938f-e5d1effd2e71",
      "name": "Request (Job) to generate the customized gift card1"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "545590858641488",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "textBody": "There you go. Now you just need to forward it.\n\nWant another one? Just type their first and last name.\n\n---",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        3220,
        600
      ],
      "id": "e707dfe8-e342-49c7-9160-f8587c27c74b",
      "name": "Gift Card is done",
      "webhookId": "7b212c4f-718d-4eae-bbc9-54c53bf80c22",
      "credentials": {
        "whatsAppApi": {
          "id": "XqpzhJSpoR0UqNS3",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "545590858641488",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "textBody": "=Hi {{ $('Chat start').item.json.messages[0].text.body.split(' ')[0]  }}, I found this tool and it was very insightful to better understand my angel profile and plan my angel investing strategy.\n\nI think you will like it too.\n\nhttps://tally.so/r/n9MY2V",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        3820,
        600
      ],
      "id": "8e00e930-1ef9-4b84-93ba-2ef68a5232bf",
      "name": "Gift Card Invite Message",
      "webhookId": "7b212c4f-718d-4eae-bbc9-54c53bf80c22",
      "credentials": {
        "whatsAppApi": {
          "id": "XqpzhJSpoR0UqNS3",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "545590858641488",
        "recipientPhoneNumber": "={{ $('Chat start').item.json.messages[0].from }}",
        "messageType": "image",
        "mediaPath": "useMedian8n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        3620,
        600
      ],
      "id": "e930c8a7-b592-4049-a144-defc0ea3e3ba",
      "name": "Gift Card Customized",
      "webhookId": "7b212c4f-718d-4eae-bbc9-54c53bf80c22",
      "credentials": {
        "whatsAppApi": {
          "id": "XqpzhJSpoR0UqNS3",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "185Bg9WwFMoyQlcZUVlYosh0Dp3_LKWamvL6nK6BjI-0",
          "mode": "list",
          "cachedResultName": "Angel Canvas Gift Card",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/185Bg9WwFMoyQlcZUVlYosh0Dp3_LKWamvL6nK6BjI-0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/185Bg9WwFMoyQlcZUVlYosh0Dp3_LKWamvL6nK6BjI-0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sender Whatsapp": "={{ $('Chat start').item.json.contacts[0].wa_id }}",
            "Submitted at": "={{ \n  (() => {\n    const date = new Date($('Chat start').item.json.messages[0].timestamp * 1000);\n    const day = date.getDate().toString().padStart(2, '0');\n    const monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];\n    const month = monthNames[date.getMonth()];\n    const year = date.getFullYear();\n    const time = date.toLocaleTimeString('en-US', {hour: '2-digit', minute:'2-digit', second:'2-digit', hour12: true});\n    \n    return `${day}-${month}-${year}, ${time}`;\n  })()\n}}",
            "Processed": "YES",
            "Recipient (To)": "={{ $('Chat start').item.json.messages[0].text.body }}",
            "Sender (From)": "={{ $('Main Gift Card menu switch').item.json.Sender }}"
          },
          "matchingColumns": [
            "Sender Whatsapp"
          ],
          "schema": [
            {
              "id": "Sender Whatsapp",
              "displayName": "Sender Whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Submitted at",
              "displayName": "Submitted at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sender (From)",
              "displayName": "Sender (From)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Recipient (To)",
              "displayName": "Recipient (To)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Processed",
              "displayName": "Processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4040,
        600
      ],
      "id": "08edf716-efc2-493c-92f0-d92b464cf3ad",
      "name": "Update Gift Card Status1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "z4zcaB2A9lC5GCR4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1mSKACKlIV3BxDT3y1W_v_nD29D7EfAYEi30PhcdxlPM",
          "mode": "list",
          "cachedResultName": "N8N Variables",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mSKACKlIV3BxDT3y1W_v_nD29D7EfAYEi30PhcdxlPM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mSKACKlIV3BxDT3y1W_v_nD29D7EfAYEi30PhcdxlPM/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Variable Name",
              "lookupValue": "canvaAccessToken"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1880,
        600
      ],
      "id": "de463262-e9d4-40ba-a2ee-604a6913bf66",
      "name": "Get Canva Tokens1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "z4zcaB2A9lC5GCR4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "delete",
        "deleteMode": "all"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        1700,
        400
      ],
      "id": "7b41004a-7bff-4e28-9e02-e5dab0af78d4",
      "name": "Clean Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.canva.com/rest/v1/exports",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Canva Tokens1').item.json['Variable Value'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"design_id\": \"{{ $json.job.result.design.id }}\",\n  \"format\": {\n    \"type\": \"jpg\",\n    \"size\": \"1\",\n    \"quality\": \"100\",\n    \"width\": \"2185\",\n    \"height\": \"1550\",\n    \"pages\": [\n      1\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2660,
        600
      ],
      "id": "542986d3-74dc-46ca-8981-90f447557128",
      "name": "Request (Job) Export the gift card design JPG"
    },
    {
      "parameters": {
        "url": "=https://api.canva.com/rest/v1/exports/{{ $('Request (Job) Export the gift card design JPG').item.json.job.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Canva Tokens1').item.json['Variable Value'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3020,
        600
      ],
      "id": "b1ed2698-c277-4fe9-916c-f2eb55719352",
      "name": "Request to get the gift card JPG"
    },
    {
      "parameters": {
        "url": "={{ $('Request to get the gift card JPG').item.json.job.urls[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3420,
        600
      ],
      "id": "43592773-1598-4ba1-9c41-6dae7b154653",
      "name": "Download the gift card JPG"
    }
  ],
  "pinData": {},
  "connections": {
    "Filter only non processed": {
      "main": [
        [
          {
            "node": "Get Canva Tokens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "Get the status of the gift card request (Job) sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait7": {
      "main": [
        [
          {
            "node": "Request to get the gift card PDF version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Canva Tokens": {
      "main": [
        [
          {
            "node": "Request (Job) to generate the customized gift card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the status of the gift card request (Job) sent": {
      "main": [
        [
          {
            "node": "Request (Job) Export the gift card design in PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request (Job) Export the gift card design in PDF": {
      "main": [
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request to get the gift card PDF version": {
      "main": [
        [
          {
            "node": "Download the gift card PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download the gift card PDF": {
      "main": [
        [
          {
            "node": "Send Gift Card Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Gift Card Email": {
      "main": [
        [
          {
            "node": "Update Gift Card Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat start": {
      "main": [
        [
          {
            "node": "Validate there is a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate there is a message": {
      "main": [
        [
          {
            "node": "Check message type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check message type": {
      "main": [
        [
          {
            "node": "Gift Card Example",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gift Card Menu Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gift Card Example": {
      "main": [
        [
          {
            "node": "Gift Card Sender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Gift Card Sender Menu In",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Gift Card Menu Out",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Gift Card Recipient Menu In",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Clean Memory",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Main Gift Card menu switch": {
      "main": [
        [
          {
            "node": "Gift Card Default MSG",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clean Memory",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gift Card is being processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gift Card Sender": {
      "main": [
        [
          {
            "node": "Gift Card Sender Menu In",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gift Card Recipient Menu In": {
      "main": [
        [
          {
            "node": "Gift Card Recipient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Regenerate variables sender": {
      "main": [
        [
          {
            "node": "Main Gift Card menu switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gift Card Menu Out": {
      "main": [
        [
          {
            "node": "Regenerate variables sender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Refresh Schedule": {
      "main": [
        [
          {
            "node": "Get Current Canva Tokens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh Canva Token": {
      "main": [
        [
          {
            "node": "Process New Tokens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set canva variables": {
      "main": [
        [
          {
            "node": "Refresh Canva Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Set canva variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process New Tokens": {
      "main": [
        [
          {
            "node": "Turn tokens into items to store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Turn tokens into items to store": {
      "main": [
        [
          {
            "node": "Update Canva Tokens in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Canva Tokens": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Request to get the gift card JPG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the status of the gift card request (Job) sent1": {
      "main": [
        [
          {
            "node": "Request (Job) Export the gift card design JPG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request (Job) to generate the customized gift card": {
      "main": [
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request (Job) to generate the customized gift card1": {
      "main": [
        [
          {
            "node": "Wait8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gift Card is being processed": {
      "main": [
        [
          {
            "node": "Get Canva Tokens1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait8": {
      "main": [
        [
          {
            "node": "Get the status of the gift card request (Job) sent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gift Card is done": {
      "main": [
        [
          {
            "node": "Download the gift card JPG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gift Card Invite Message": {
      "main": [
        [
          {
            "node": "Update Gift Card Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gift Card Customized": {
      "main": [
        [
          {
            "node": "Gift Card Invite Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Canva Tokens1": {
      "main": [
        [
          {
            "node": "Request (Job) to generate the customized gift card1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Memory": {
      "main": [
        [
          {
            "node": "Gift Card Recipient Menu In",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request (Job) Export the gift card design JPG": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request to get the gift card JPG": {
      "main": [
        [
          {
            "node": "Gift Card is done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download the gift card JPG": {
      "main": [
        [
          {
            "node": "Gift Card Customized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5337423c-029f-4e93-b648-b426eea9e75c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eebb88157724567235c65d3912ba9913bfccec23fb20e5121b6ac6ae258f85dd"
  },
  "id": "Fas2XyQhexTPo8dY",
  "tags": []
}